.activity
  .trained-staff
    a
      display: block
      float: left
      margin: 0 2px 2px 0
      outline: 0
      img
        display: block
    .staff
      margin-bottom: 20px


  .profile-usermenu
    .nav
      li
        .fa
          &:last-of-type
            margin-right: 0


  .portlet.bordered
    &.active
      border: 2px solid #777 !important
  .nav
    li.active a
      //background-color: #fafafa
