/* some variables */
/* Company colors */
/* Event categories colors */
/* fullcalendar */
/* tasks */
/* planning */
/* should disappear! */
.capitalize {
  text-transform: capitalize; }

.bootstrap-timepicker-widget {
  z-index: 9999999 !important; }

/* here you can put your own css to customize and override the theme */
body {
  position: relative; }
  body.modal-open {
    overflow: hidden !important; }
  body.festiloc-depot {
    background: none;
    background-color: white; }
    body.festiloc-depot .page-content {
      margin: 0;
      padding: 20px; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container::before {
    content: " ";
    display: table; }
  .container::after {
    content: " ";
    display: table;
    clear: both; }

@media (min-width: 768px) {
  .container {
    width: 730px; } }
@media (min-width: 950px) {
  .container {
    width: 903px; } }
@media (min-width: 1300px) {
  .container {
    width: 1235px; } }
@media (min-width: 1440px) {
  .container {
    width: 1370px; } }
.no-margin {
  margin: 0; }

.ribbon {
  top: 2px;
  right: 14px; }

td hr {
  margin: 10px 0; }

/**
 *Rounded Portlets
 *** */
.metronic2 .portlet {
  border-radius: 4px !important; }
  .metronic2 .portlet .portlet-title {
    border-radius: 4px 4px 0px 0px !important; }
  .metronic2 .portlet .portlet-body {
    border-radius: 0px 0px 4px 4px !important; }
    .metronic2 .portlet .portlet-body .form-actions {
      border-radius: 0px 0px 4px 4px !important; }
  .metronic2 .portlet.place {
    position: relative; }

.metronic6 #selectStockItemInput {
  display: none; }
.metronic6 .tabbable-custom > .nav-tabs > li.active {
  border-top: 3px solid #2f373e; }
.metronic6 .page-content .page-content-fixed-header {
  background-color: #f4f6f7; }
.metronic6 .page-sidebar .page-sidebar-menu > li > a > i, .metronic6 .page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
  color: #5b9bd1 !important; }
.metronic6 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i {
  color: #5b9bd1 !important; }
.metronic6 .page-sidebar .page-sidebar-menu li > a:hover > .arrow:before, .metronic6 .page-sidebar .page-sidebar-menu .sub-menu li > a:hover > .arrow:before {
  color: #5b9bd1 !important; }
.metronic6 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a:hover > .arrow:before {
  color: #5b9bd1 !important; }
.metronic6 .page-sidebar .page-sidebar-menu > li.open > a > .arrow:before, .metronic6 .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow:before {
  color: #5b9bd1 !important; }
.metronic6 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow:before {
  color: #5b9bd1 !important; }
.metronic6 .page-sidebar .page-sidebar-menu > li.open:hover i, .metronic6 .page-sidebar .page-sidebar-menu .sub-menu > li.open:hover i {
  color: #5b9bd1 !important; }
.metronic6 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open:hover i {
  color: #5b9bd1 !important; }
.metronic6 .selectStockItemInput {
  display: none; }
.metronic6.festiloc .selectStockItemInput {
  margin-top: 11px;
  margin-right: 20px;
  display: block; }

.availability-user {
  min-height: 400px; }

.dataTable tbody tr td {
  vertical-align: top !important; }

/* UNSTYLED LISTS */
ul.list-unstyled li {
  padding-bottom: 5px; }

.page-header.navbar .page-logo .logo-default {
  margin-top: 15px; }

table.my-table > tbody > tr > td {
  vertical-align: middle; }

.configuration-form {
  padding: 10px 10px 10px 0; }
  .configuration-form .form-group:last-child {
    margin-bottom: 0; }

.form .form-section.first {
  margin-top: 5px; }

.dropzone {
  min-height: 200px; }

.row.search-result {
  margin-top: 20px; }

.btn.free.active {
  background-color: #e5e5e5; }
.btn.confirmed.active {
  background-color: #35aa47; }
.btn.occupied.active {
  background-color: #d91e18; }
.btn.to_discuss.active {
  background-color: #e87e04; }
.btn.prereserved.active {
  background-color: #ffb848; }

/*#sortable_portlets .portlet:hover{
 *	cursor: move;
 *} */
li.has-children ul {
  display: none; }

.calendar1 {
  padding-top: 5px;
  float: left;
  width: 100%;
  background: #ededef;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#cccccc));
  background: -moz-linear-gradient(top, #ededef, #cccccc);
  font: bold 110px/150px Arial black, Arial, Helvetica, sans-serif !important;
  text-align: center;
  color: black;
  text-shadow: white 0 1px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  -moz-box-shadow: 0 2px 2px #888888;
  -webkit-box-shadow: 0 2px 2px #888888;
  box-shadow: 0 2px 2px #888888; }
  .calendar1 em {
    display: block;
    font: normal bold 30px/60px Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: #00365a 0 -1px 0;
    background: #04599a;
    background: -webkit-gradient(linear, left top, left bottom, from(#04599a), to(#00365a));
    background: -moz-linear-gradient(top, #04599a, #00365a);
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #00365a; }
  .calendar1:before, .calendar1:after {
    content: "";
    float: left;
    position: absolute;
    top: 5px;
    width: 8px;
    height: 8px;
    background: #111111;
    z-index: 1;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px white;
    -webkit-box-shadow: 0 1px 1px white;
    box-shadow: 0 1px 1px white; }
  .calendar1:before {
    left: 11px; }
  .calendar1:after {
    right: 11px; }
  .calendar1 em:before, .calendar1 em:after {
    content: "";
    float: left;
    position: absolute;
    top: -5px;
    width: 4px;
    height: 14px;
    background: #dadada;
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaaaaa));
    background: -moz-linear-gradient(top, #f1f1f1, #aaaaaa);
    z-index: 2;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
  .calendar1 em:before {
    left: 13px; }
  .calendar1 em:after {
    right: 13px; }

.mix-grid .mix .mix-details h4 {
  font-size: 14px; }
.mix-grid .mix a.mix-delete {
  color: #555555;
  display: block;
  cursor: pointer;
  margin-top: 10px;
  position: absolute;
  padding: 10px 15px;
  background: #16b2f4; }
.mix-grid .mix a.mix-link {
  right: 60%; }
.mix-grid .mix a.mix-preview {
  left: 40%; }
.mix-grid .mix a.mix-delete {
  left: 60%; }

.portlet.competence:last-child .actions {
  display: block !important; }

#loading, div.loading {
  z-index: 10000;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(51, 51, 51, 0.5);
  overflow: hidden;
  display: none; }

#loading div, div.loading div {
  margin: auto;
  position: absolute;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

#loading div i {
  color: white; }

div.loading {
  display: block;
  background: none;
  position: absolute; }
  div.loading div i {
    color: #666666; }

/* PRICE LIST */
.row.top h3, .row.top h4, .row.top p {
  margin: 0; }
.row.header {
  color: #771318;
  border-bottom: 2px solid #771318;
  padding-bottom: 5px;
  margin-bottom: 5px; }

/* SEARCH PLACES RESULTS */
.scroller ul.list-unstyled {
  margin-bottom: 0; }
  .scroller ul.list-unstyled li {
    padding-bottom: 5px; }
    .scroller ul.list-unstyled li:last-child {
      padding-bottom: 0px; }

.portlet.place .caption a:hover {
  text-decoration: none; }

table.depot td {
  border: 1px solid #dddddd;
  text-align: center;
  position: relative; }
  table.depot td.bg-green, table.depot td.bg-red, table.depot td.bg-grey, table.depot td.bg-yellow {
    opacity: 0.8; }

.tools .badge.bg-green, .tools .badge.bg-red, .tools .badge.bg-grey, .tools .badge.bg-yellow {
  opacity: 0.8; }

table.depot td.bg-green.node {
  opacity: 0.9; }
table.depot td.up {
  border-top: 3px solid red; }
table.depot td.down {
  border-bottom: 3px solid red; }
table.depot td.left {
  border-left: 3px solid red; }
table.depot td.right {
  border-right: 3px solid red; }
table.depot td small {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 8px;
  opacity: 0.4; }

#modules div.checker {
  height: auto; }
  #modules div.checker span, #modules div.checker input {
    height: auto; }

#calendar1 .tools .badge {
  margin-left: 15px;
  margin-right: 5px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75); }
  #calendar1 .tools .badge:first-child {
    margin-left: 0px; }

.portlet.calendar .fc-event {
  padding: 10px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75); }
  .portlet.calendar .fc-event .fc-time, .portlet.calendar .fc-event .fc-title {
    font-size: 12px; }
  .portlet.calendar .fc-event.date .fc-title {
    color: #8a6d3b; }
  .portlet.calendar .fc-event.order .fc-title {
    color: #a94442; }
  .portlet.calendar .fc-event .fc-time {
    padding-bottom: 5px;
    font-weight: bold; }

.fc-time-grid-event .fc-bg {
  opacity: 0; }

.fc-day-grid-event > .fc-content {
  white-space: normal; }

.portlet.calendar .fc-today {
  background-color: #eef7fb; }

.invoice {
  font-size: 11px; }
  .invoice ul.list-unstyled li {
    padding-bottom: 0;
    line-height: 14px;
    padding-bottom: 4px; }
  .invoice .address ul.list-unstyled li {
    font-size: 10px;
    line-height: 12px;
    margin: 0;
    padding: 0; }
  .invoice ul.client li {
    font-size: 12px;
    line-height: 12px; }
    .invoice ul.client li.festiloc {
      border-bottom: 1px solid #333333;
      margin-bottom: 7px;
      padding-bottom: 0;
      font-size: 10px; }
  .invoice table {
    margin-top: 0px;
    margin-bottom: 20px; }
    .invoice table tr td, .invoice table tr th {
      font-size: 11px;
      padding: 5px; }
    .invoice table tr td {
      padding-bottom: 2px; }
  .invoice ul.offer li h4 {
    margin: 0;
    padding: 0; }

.contact-people .dashboard-stat {
  border-bottom: 1px solid #eeeeee; }
  .contact-people .dashboard-stat:hover {
    text-decoration: none;
    color: #5b9bd1;
    pointer-events: none;
    cursor: default; }
  .contact-people .dashboard-stat:last-child {
    border-bottom: 0; }
  .contact-people .dashboard-stat .details {
    position: relative;
    right: auto;
    padding-right: 0; }
    .contact-people .dashboard-stat .details .desc {
      font-size: 14px; }
  .contact-people .dashboard-stat .visual > i {
    font-size: 80px; }

.festiloc .table > tbody > tr > td {
  vertical-align: middle; }
.festiloc #filters {
  position: fixed;
  z-index: 10000;
  background: #fafafa;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 20px 15px 20px;
  -webkit-box-shadow: 0px 0px 8px 2px #cccccc;
  -moz-box-shadow: 0px 0px 8px 2px #cccccc;
  box-shadow: 0px 0px 8px 2px #cccccc; }
.festiloc #orders {
  margin-top: 150px; }
.festiloc .portlet-title span.title {
  display: inline-block;
  border-right: 2px solid #e35b5a;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 15px; }
.festiloc .portlet.bg-red-pink .portlet-title span.title {
  border-right: 2px solid #fafafa; }
.festiloc .portlet-title span.title:last-child, .festiloc .portlet.bg-red-pink .portlet-title span.title:last-child {
  border-right: 0; }

.gm-style-iw > div {
  display: block !important; }

.chart a[title="JavaScript charts"] {
  display: none !important; }

table tbody tr td label {
  margin-bottom: 0; }

/*.page-sidebar .page-sidebar-menu > li.festiloc {
 *	background-color: #800D1B;
 *}
 *.page-sidebar .page-sidebar-menu > li.festiloc i.fa, .page-sidebar .page-sidebar-menu > li.festiloc .title {
 *	color: $white;
 *}
 *.page-sidebar .page-sidebar-menu > li.festiloc .arrow:before {
 *	color: $white;
 *} */
/*#s2id_StockOrderDeliveryPlace ul li {
 *	border: 0;
 *	padding-left: 0;
 *}
 *#s2id_StockOrderDeliveryPlace .select2-search-choice-close {
 *	display: none;
 *	right: -10px;
 *	left: auto;
 *} */
.notified {
  position: relative;
  opacity: 0.5; }
  .notified:after {
    content: "\f003";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 10px;
    font: normal normal normal 16px/1 FontAwesome; }

.portlet.calendar .preparationWeekCalendar .fc-event {
  background-color: #999999; }
  .portlet.calendar .preparationWeekCalendar .fc-event.festiloc {
    background-color: #810e1c; }
  .portlet.calendar .preparationWeekCalendar .fc-event.client {
    background-color: #29780f; }

.fc-event-container {
  position: relative; }
  .fc-event-container h4 {
    margin-top: 0;
    text-align: right; }
  .fc-event-container strong {
    display: block; }
  .fc-event-container .return, .fc-event-container .trailer {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px); }
  .fc-event-container .depot-order.return {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.4) 15px, rgba(0, 0, 0, 0.4) 30px); }
  .fc-event-container span.tour {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 25px;
    opacity: 0.4;
    color: white; }

.portlet.calendar .fc-event.ug, .portlet.calendar .fc-event.ubic {
  position: relative; }
.portlet.calendar .fc-event.ug:after {
  content: "\f041";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 13px;
  bottom: 25px;
  color: white;
  opacity: 0.5;
  font: normal normal normal 60px/1 FontAwesome; }
.portlet.calendar .fc-event.ubic1:after {
  content: "UBIC";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 13px;
  bottom: 25px;
  color: white;
  opacity: 0.5;
  font-size: 45px; }

.preparationWeekCalendar .fc-day-header {
  cursor: pointer; }

.empty-row {
  background-color: #bfbfbf !important;
  height: 45px; }

.tour-orders .empty-row {
  height: 73px; }

.sortable {
  cursor: default; }

.tour-orders tbody tr:hover {
  cursor: move; }

legend {
  font-size: 16px;
  color: #666666;
  font-weight: 300; }

#stockitemsTable .actions {
  position: relative; }
  #stockitemsTable .actions span {
    position: absolute;
    left: -14px;
    top: 50%;
    margin-top: -9px;
    background: none; }

/*table.dataTable.dtr-inline.collapsed.hide-link tbody td:first-child, table.dataTable.dtr-inline.collapsed.hide-link tbody th:first-child {
 *	padding-left: 8px;
 *}
 *table.dataTable.dtr-inline.collapsed.hide-link tbody td:first-child:before, table.dataTable.dtr-inline.collapsed.hide-link tbody th:first-child:before {
 *	display: none;
 *} */
table.dataTable.dtr-inline.collapsed > tbody > tr > td.details-control:first-child:before {
  display: none; }

.place .tab-pane {
  min-height: 200px;
  height: auto !important;
  height: 200px; }

.check-order {
  display: none; }

.page-header .navbar .topbar-actions .btn-group-red {
  position: relative;
  margin: 0 30px 0 15px; }
  .page-header .navbar .topbar-actions .btn-group-red .btn {
    top: 6px;
    padding: 8px;
    position: relative;
    color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    width: 35px;
    height: 35px; }

#turnover thead tr th {
  font-size: 32px; }
#turnover tbody tr td {
  font-size: 28px; }
#turnover tbody tr:last-child td {
  border-top-width: 2px; }

ul.page-sidebar-menu > li.start.active > a {
  background: none; }
ul.feeds .cont-col1 {
  margin-right: 0 !important; }
ul.feeds .cont-col2 {
  width: auto !important; }
  ul.feeds .cont-col2 .desc {
    margin-left: 10px !important; }
ul.feeds .col1 {
  float: left; }
ul.feeds .col2 {
  float: right; }
ul.feeds .start-point, ul.feeds .end-point {
  background-color: #666666; }
ul.feeds .start-point:hover, ul.feeds .end-point:hover {
  background-color: #333333;
  cursor: pointer; }
ul.feeds li .action {
  display: none;
  padding: 6px 4px 6px 4px;
  vertical-align: middle;
  text-align: center; }
ul.feeds li:hover .action {
  display: inline-block; }

.feeds li .col1 > .cont > .cont-col2 > .desc {
  padding-bottom: 4px; }
.feeds li .col2 > .date {
  color: #6e8591; }

.empty-feed {
  background-color: #999999;
  border: 2px dashed #888888; }

.feeds li .col2 {
  width: 110px;
  margin-left: -110px; }
.feeds li .cont-col2 .desc span a {
  color: #82949a; }
  .feeds li .cont-col2 .desc span a:hover {
    text-decoration: none; }
.feeds li.sortable .label:hover {
  cursor: move; }

table.tour-infos tbody tr:first-child td {
  border-top: 0; }

.empty-col-md-6 {
  background-color: #efefef;
  border: 1px dashed #cccccc;
  min-height: 200px;
  width: 50%;
  float: left; }

.depotCalendar .fc-event.depot-order {
  position: relative;
  overflow: hidden; }
  .depotCalendar .fc-event.depot-order .fc-title {
    font-weight: 600; }
  .depotCalendar .fc-event.depot-order span {
    display: block;
    float: left; }
  .depotCalendar .fc-event.depot-order .btn {
    margin: 0 8px 0 0;
    font-size: 10px;
    background-color: white;
    color: black;
    text-shadow: none; }
  .depotCalendar .fc-event.depot-order.last_modified {
    transition: all 2s; }
    .depotCalendar .fc-event.depot-order.last_modified:before {
      content: "\f00c";
      position: absolute;
      top: 50%;
      right: 30%;
      margin-top: -18px;
      font: normal normal normal 36px/1 FontAwesome;
      opacity: 0.9;
      transition: all 1.5s; }
    .depotCalendar .fc-event.depot-order.last_modified.faded:before {
      opacity: 0; }
  .depotCalendar .fc-event.depot-order:after {
    content: "";
    position: absolute;
    right: 7px;
    top: 7px;
    font: normal normal normal 16px/1 FontAwesome;
    text-align: center; }
  .depotCalendar .fc-event.depot-order.festiloc:after {
    content: "\f0d1"; }
  .depotCalendar .fc-event.depot-order.client:after {
    content: "\f007"; }
  .depotCalendar .fc-event.depot-order.transporter:after {
    content: "\f003"; }
  .depotCalendar .fc-event.depot-order.cancelled:after {
    content: "\f071"; }
  .depotCalendar .fc-event.depot-order.notify {
    /*background-color: #D91E18 !important; */
    position: relative;
    z-index: 0; }
    .depotCalendar .fc-event.depot-order.notify:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-style: solid;
      border-width: 30px 30px 0 0;
      border-color: #d91e18 transparent transparent transparent;
      z-index: -1; }
  .depotCalendar .fc-event.depot-order span {
    font-weight: 600;
    text-shadow: 1px 1px 1px #969696; }

.portlet.light.depot-calendar {
  padding: 0; }

.depot-calendar ul {
  margin: 0;
  padding: 10px;
  background-color: #eeeeee; }
  .depot-calendar ul li {
    display: inline-block;
    margin-right: 10px;
    list-style: none; }
    .depot-calendar ul li span {
      margin-right: 5px; }

.mt-element-step .step-line .mt-step-col a {
  color: inherit;
  text-decoration: none; }
.mt-element-step .step-line .mt-step-number {
  color: #666666;
  background-color: #dddddd !important; }
.mt-element-step .step-line .done .mt-step-number {
  background-color: rgba(38, 194, 129, 0.3) !important;
  background-color: #beedd9 !important; }
.mt-element-step .step-line .active .mt-step-number {
  background-color: rgba(50, 197, 210, 0.3) !important;
  background-color: #c2eef2 !important; }

.timeline .timeline-icon {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important; }

.table-staff tbody tr td {
  vertical-align: middle; }
.table-staff tbody tr.blurred {
  opacity: 0.5; }

.availability-cell {
  position: relative;
  cursor: pointer; }
  .availability-cell.selected {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-weight: bold; }
  .availability-cell .drag {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    cursor: ew-resize; }
  .availability-cell .drag-left {
    left: 0; }
  .availability-cell .drag-right {
    right: 0; }

@media (min-width: 992px) {
  .festiloc .page-content-wrapper .page-content {
    margin-left: 0; }

  .mt-element-step .step-line .mt-step-col {
    width: 20%; } }
@media (min-width: 360px) {
  th.portrait {
    max-width: 22px; } }
.page-header .page-header-menu .search-form {
  width: 250px; }
  .page-header .page-header-menu .search-form .input-group .form-control {
    color: #bcc2cb; }
.page-header .page-header-top .container {
  padding: 0; }

.logo svg {
  width: 100px;
  height: 50px; }
.logo path {
  fill: #444d58;
  transition: all 0.3s ease-in-out;
  transform-origin: 50% 50%; }
.logo:hover #wheel1 {
  transform: rotate(45deg); }
.logo:hover #wheel2 {
  transform: rotate(-45deg);
  transition-delay: 0.05s; }
.logo:hover #wheel3 {
  transform: rotate(45deg);
  transition-delay: 0.1s; }

.spinner {
  cursor: progress; }

.accordion .panel-title {
  font-size: 1em;
  position: relative; }
.accordion strong.uppercase {
  display: block;
  margin-bottom: 5px; }
.accordion .drag-me {
  margin-left: -5px;
  cursor: move; }

.accordion-toggle {
  cursor: pointer; }

.portlet .portlet-body {
  min-height: 100px; }
.portlet.place-result.light {
  padding: 8px 12px;
  background-color: whitesmoke; }
  .portlet.place-result.light .portlet-body {
    padding: 0; }
    .portlet.place-result.light .portlet-body small.bold {
      display: block;
      margin-bottom: 5px; }

#checklist-batches-tasks .empty {
  display: none; }
#checklist-batches-tasks label {
  display: inline;
  margin: 0; }
#checklist-batches-tasks .task-title-sp {
  display: block; }
  #checklist-batches-tasks .task-title-sp span.editable {
    cursor: text;
    border-bottom: 0; }
#checklist-batches-tasks .new-task .task-checkbox {
  visibility: hidden; }
#checklist-batches-tasks .new-task .task-title {
  margin-left: 30px; }
#checklist-batches-tasks input[type="text"] {
  display: inline;
  width: 100%; }
#checklist-batches-tasks .empty-feed {
  border: 2px dashed rgba(131, 143, 161, 0.7) !important;
  background: none !important;
  opacity: 0.3; }
#checklist-batches-tasks .form-inline {
  width: 100%; }
  #checklist-batches-tasks .form-inline .form-group {
    display: block;
    width: 100%; }
    #checklist-batches-tasks .form-inline .form-group .editable-input {
      width: 90%; }
#checklist-batches-tasks .editable-container {
  display: block;
  width: 100%; }

.client-logo {
  display: block;
  max-width: 60%;
  margin: 0 auto; }

.timeline-body-content {
  color: #666666; }
  .timeline-body-content .event-info {
    margin-right: 15px; }
    .timeline-body-content .event-info:last-of-type {
      margin-right: 0; }

.search-page input[type="text"] {
  font-size: 1.3em; }

.festiloc .page-content, .festiloc-depot .page-content {
  background-color: white; }

#stockitemsTable.table .btn {
  margin-right: 0; }
#stockitemsTable.table thead th:nth-child(0) {
  width: 5%; }
#stockitemsTable.table thead th:nth-child(3) {
  width: 20%; }
#stockitemsTable.table thead th:nth-child(5) {
  width: 12%; }
#stockitemsTable.table thead th:nth-child(8) {
  width: 11%; }

#StockOrderEditForm span.select2 {
  width: 100% !important; }

.activity .trained-staff a {
  display: block;
  float: left;
  margin: 0 2px 2px 0;
  outline: 0; }
  .activity .trained-staff a img {
    display: block; }
.activity .trained-staff .staff {
  margin-bottom: 20px; }
.activity .profile-usermenu .nav li .fa:last-of-type {
  margin-right: 0; }
.activity .portlet.bordered.active {
  border: 2px solid #777777 !important; }

.profile-userpic img {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important; }

.dropdown-menu {
  z-index: 10000; }

#event-navigation {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%); }
  #event-navigation li {
    padding-bottom: 0; }
    #event-navigation li.divider {
      margin: 2px 0; }
    #event-navigation li:last-child .icon {
      border: 0; }
  #event-navigation a {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    text-decoration: none;
    transition: all 0.2s; }
    #event-navigation a:hover .icon {
      background-color: #2d6da3; }
    #event-navigation a:hover .name {
      transform: translateX(0);
      background-color: #2d6da3; }
  #event-navigation .icon {
    display: inline-block;
    padding: 5px;
    background-color: #337ab7;
    color: white;
    border-bottom: 1px solid #4f93ce; }
  #event-navigation .name {
    display: inline-block;
    float: right;
    padding: 5px 10px;
    background-color: #337ab7;
    transition: all 0.2s;
    transform: translateX(-999px);
    color: white; }

.btn-company {
  color: white;
  border: 0 !important;
  cursor: auto; }
  .btn-company:hover, .btn-company:focus {
    color: white; }
  .btn-company-all {
    background-color: white;
    border: 1px solid #a0a9b4 !important;
    color: #666666 !important; }
    .btn-company-all::after {
      content: "ALL"; }
  .btn-company-ubic-group {
    background-color: #ae8b56; }
    .btn-company-ubic-group::after {
      content: "UG"; }
    .btn-company-ubic-group.active, .btn-company-ubic-group:focus, .btn-company-ubic-group:active {
      background-color: #9f7e4c; }
  .btn-company-ubic {
    background-color: #111111; }
    .btn-company-ubic::after {
      content: "UB"; }
    .btn-company-ubic.active, .btn-company-ubic:focus, .btn-company-ubic:active {
      background-color: #040404; }
  .btn-company-festiloc, .btn-company-fl {
    background-color: #820c18; }
    .btn-company-festiloc::after, .btn-company-fl::after {
      content: "FL"; }
    .btn-company-festiloc.active, .btn-company-festiloc:focus, .btn-company-festiloc:active, .btn-company-fl.active, .btn-company-fl:focus, .btn-company-fl:active {
      background-color: #6b0a14; }
  .btn-company-ug {
    background-color: #ffb700; }
    .btn-company-ug::after {
      content: "UG"; }
    .btn-company-ug.active, .btn-company-ug:focus, .btn-company-ug:active {
      background-color: #e6a500; }
  .btn-company-eg {
    background-color: #bd1a29; }
    .btn-company-eg::after {
      content: "EG"; }
    .btn-company-eg.active, .btn-company-eg:focus, .btn-company-eg:active {
      background-color: #a71724; }
  .btn-company-mg {
    background-color: #be3a35; }
    .btn-company-mg::after {
      content: "MG"; }
    .btn-company-mg.active, .btn-company-mg:focus, .btn-company-mg:active {
      background-color: #aa342f; }

.triangle {
  position: relative; }
  .triangle::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: red transparent transparent transparent; }
  .triangle__top-left::before {
    top: 0;
    left: 0; }
  .triangle__top-right::before {
    top: 0;
    left: right; }

.bootstrap-tagsinput {
  width: 100%;
  height: 34px;
  padding: 6px 12px; }
  .bootstrap-tagsinput input {
    width: auto !important; }

.cbp .actions .btn {
  border-color: white; }
  .cbp .actions .btn:hover {
    border-color: #666666;
    color: #666666; }

.portlet .fullscreen:hover, .portlet .fullscreen:focus, .portlet .fullscreen:active {
  text-decoration: none !important; }

#portlet-recruiting .modal .table .btn {
  margin-right: 0; }
#portlet-recruiting .accordion-toggle {
  position: relative;
  padding: 12px 15px 11px; }
  #portlet-recruiting .accordion-toggle span:hover {
    text-decoration: underline; }
  #portlet-recruiting .accordion-toggle .staff {
    display: table-cell;
    position: absolute;
    right: 2px;
    top: 2px;
    height: 35px;
    min-width: 35px;
    vertical-align: middle;
    z-index: 100; }
    #portlet-recruiting .accordion-toggle .staff .item {
      display: inline-block; }
      #portlet-recruiting .accordion-toggle .staff .item img {
        display: inline-block;
        width: 31px;
        transition: all 0.3s; }
    #portlet-recruiting .accordion-toggle .staff .empty {
      display: inline-block; }
    #portlet-recruiting .accordion-toggle .staff .icon {
      font-weight: bold; }
    #portlet-recruiting .accordion-toggle .staff a:hover {
      z-index: 1000; }
      #portlet-recruiting .accordion-toggle .staff a:hover img {
        transform: scale(3); }
      #portlet-recruiting .accordion-toggle .staff a:hover .tooltip {
        transform: translateY(-100%);
        top: -25px !important; }

.modal-user-profile .modal-body {
  position: relative;
  min-height: 300px; }
.modal-user-profile .table-modal {
  max-height: 15em;
  overflow-y: auto; }
  .modal-user-profile .table-modal--jobs .date {
    width: 15%; }
  .modal-user-profile .table-modal--jobs .job {
    width: 45%; }
  .modal-user-profile .table-modal--competences .sector {
    width: 20%; }
  .modal-user-profile .table-modal--competences .job {
    width: 30%; }
  .modal-user-profile .table-modal--competences .activity {
    width: 35%; }
.modal-user-profile .btn-hour {
  display: inline-block;
  margin-bottom: 4px; }

#portlet-activities .table .title a {
  color: inherit; }
#portlet-activities .table td.actions {
  vertical-align: middle; }
#portlet-activities .table.table-activity-infos thead tr th {
  font-size: 12px; }
#portlet-activities .table.table-activity-infos input {
  text-align: center;
  height: 25px; }
#portlet-activities input.non-standard-activity {
  display: inline-block;
  width: 90%; }

#portlet-fb-modules .table .title a {
  color: inherit; }
#portlet-fb-modules .table td.actions {
  vertical-align: middle; }
#portlet-fb-modules .table.table-fb-module-infos thead tr th {
  font-size: 12px; }
#portlet-fb-modules .table.table-fb-module-infos input {
  text-align: center;
  height: 25px; }

#portlet-moments .tasks-widget .task-list > li {
  padding: 0;
  border-bottom: 0;
  text-transform: uppercase; }
  #portlet-moments .tasks-widget .task-list > li .col2 {
    clear: right; }
  #portlet-moments .tasks-widget .task-list > li ul {
    padding: 26px 0 0 0; }
    #portlet-moments .tasks-widget .task-list > li ul li {
      display: block;
      margin: 0 0 0 40px;
      padding-bottom: 3px;
      list-style: none;
      background: none;
      line-height: 1.5em;
      text-transform: none; }
      #portlet-moments .tasks-widget .task-list > li ul li:last-child {
        padding-bottom: 5px; }
#portlet-moments .empty-feed, #portlet-moments .empty-task {
  border: 0;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px) !important; }

#portlet-planning .planning-resources__title {
  display: block;
  margin-bottom: 10px; }
#portlet-planning .planning-resources ul li {
  display: inline-block;
  margin: 0 5px 15px 0;
  text-transform: uppercase; }
  #portlet-planning .planning-resources ul li a.tag {
    background-color: #f4f6f8;
    color: #a0a9b4;
    font-size: 11px;
    font-weight: 600;
    padding: 7px 10px;
    border-left: 4px solid #f4f6f8;
    transition: all 0.2s; }
    #portlet-planning .planning-resources ul li a.tag:hover, #portlet-planning .planning-resources ul li a.tag:focus, #portlet-planning .planning-resources ul li a.tag.tag--active {
      background-color: #337ab7;
      color: white;
      text-decoration: none;
      cursor: move; }
  #portlet-planning .planning-resources ul li.client a {
    border-left-color: #26a69a; }
    #portlet-planning .planning-resources ul li.client a:hover, #portlet-planning .planning-resources ul li.client a:focus, #portlet-planning .planning-resources ul li.client a.tag--active {
      background-color: #26a69a; }
  #portlet-planning .planning-resources ul li.manager a {
    border-left-color: #ff5722; }
    #portlet-planning .planning-resources ul li.manager a:hover, #portlet-planning .planning-resources ul li.manager a:focus, #portlet-planning .planning-resources ul li.manager a.tag--active {
      background-color: #ff5722; }
  #portlet-planning .planning-resources ul li.extra a {
    border-left-color: #c8d046; }
    #portlet-planning .planning-resources ul li.extra a:hover, #portlet-planning .planning-resources ul li.extra a:focus, #portlet-planning .planning-resources ul li.extra a.tag--active {
      background-color: #c8d046; }
  #portlet-planning .planning-resources ul li.place a {
    border-left-color: #9a12b3; }
    #portlet-planning .planning-resources ul li.place a:hover, #portlet-planning .planning-resources ul li.place a:focus, #portlet-planning .planning-resources ul li.place a.tag--active {
      background-color: #9a12b3; }
  #portlet-planning .planning-resources ul li.activity a {
    border-left-color: #f3c200; }
    #portlet-planning .planning-resources ul li.activity a:hover, #portlet-planning .planning-resources ul li.activity a:focus, #portlet-planning .planning-resources ul li.activity a.tag--active {
      background-color: #f3c200; }
  #portlet-planning .planning-resources ul li.vehicle a {
    border-left-color: #555555; }
    #portlet-planning .planning-resources ul li.vehicle a:hover, #portlet-planning .planning-resources ul li.vehicle a:focus, #portlet-planning .planning-resources ul li.vehicle a.tag--active {
      background-color: #555555; }
  #portlet-planning .planning-resources ul li.fb_module a {
    border-left-color: #d91e18; }
    #portlet-planning .planning-resources ul li.fb_module a:hover, #portlet-planning .planning-resources ul li.fb_module a:focus, #portlet-planning .planning-resources ul li.fb_module a.tag--active {
      background-color: #d91e18; }
#portlet-planning .planning-resources--legend {
  margin-top: 10px;
  border-top: 1px solid #e7ecf1; }
  #portlet-planning .planning-resources--legend .col-md-12 {
    padding: 0; }
  #portlet-planning .planning-resources--legend ul li {
    margin: 0 3px 3px 0; }
    #portlet-planning .planning-resources--legend ul li a.tag {
      padding: 3px 6px;
      font-size: 9px;
      border-left-width: 3px; }
      #portlet-planning .planning-resources--legend ul li a.tag:hover, #portlet-planning .planning-resources--legend ul li a.tag:focus {
        cursor: pointer; }
#portlet-planning .feeds .date {
  font-style: normal; }
#portlet-planning .feeds .label {
  padding-top: 8px;
  padding-bottom: 8px; }
  #portlet-planning .feeds .label--hour {
    color: #82949a;
    font-weight: bold; }
#portlet-planning .table-planning th.schedule {
  text-align: center;
  width: 18%; }
#portlet-planning .table-planning th.who {
  width: 15%; }
#portlet-planning .table-planning td.schedule {
  cursor: move; }
#portlet-planning .table-planning .empty-row {
  width: 100%; }
  #portlet-planning .table-planning .empty-row td {
    background-color: whitesmoke; }
#portlet-planning .table-planning .ui-sortable-helper {
  background-color: #f4f6f8;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(255, 255, 255, 0.4) 15px, rgba(255, 255, 255, 0.4) 30px); }
  #portlet-planning .table-planning .ui-sortable-helper td {
    border: 0; }
    #portlet-planning .table-planning .ui-sortable-helper td:nth-child(1) {
      width: 9%; }
    #portlet-planning .table-planning .ui-sortable-helper td:nth-child(2) {
      width: 9%; }
    #portlet-planning .table-planning .ui-sortable-helper td:nth-child(3) {
      width: 66%; }
    #portlet-planning .table-planning .ui-sortable-helper td:nth-child(4) {
      width: 15%; }
#portlet-planning .table-planning .ui-state-active td {
  background-color: #f4f6f8; }
#portlet-planning .table-planning .badge {
  position: relative;
  cursor: pointer;
  opacity: 1; }
  #portlet-planning .table-planning .badge:after {
    content: "\2716";
    position: absolute;
    width: 10px;
    height: 10px;
    color: #f3565d;
    font-weight: bold;
    right: -10px;
    opacity: 0;
    transition: opacity 0.3s; }
  #portlet-planning .table-planning .badge--client {
    background-color: #26a69a; }
  #portlet-planning .table-planning .badge--manager {
    background-color: #ff5722; }
  #portlet-planning .table-planning .badge--extra {
    background-color: #c8d046; }
  #portlet-planning .table-planning .badge--place {
    background-color: #9a12b3; }
  #portlet-planning .table-planning .badge--vehicle {
    background-color: #555555; }
  #portlet-planning .table-planning .badge--activity {
    background-color: #f3c200; }
  #portlet-planning .table-planning .badge--fb_module {
    background-color: #d91e18; }
  #portlet-planning .table-planning .badge.deletable:after {
    opacity: 1; }
  #portlet-planning .table-planning .badge.dropped {
    transition: opacity 0.2s;
    opacity: 0; }
#portlet-planning .empty-tab {
  background-color: whitesmoke; }
#portlet-planning .nav-tabs li {
  transition: opacity 0.2s; }
  #portlet-planning .nav-tabs li.ui-sortable-helper {
    opacity: 0.7; }
    #portlet-planning .nav-tabs li.ui-sortable-helper a:after, #portlet-planning .nav-tabs li.ui-sortable-helper a:before {
      opacity: 0 !important; }
  #portlet-planning .nav-tabs li a {
    position: relative; }
    #portlet-planning .nav-tabs li a:before, #portlet-planning .nav-tabs li a:after {
      content: "";
      position: absolute;
      left: 5px;
      top: 50%;
      width: 1px;
      height: 50%;
      background-color: #dddddd;
      transform: translateY(-100%);
      opacity: 0;
      transition: all 0.3s; }
    #portlet-planning .nav-tabs li a:after {
      left: 8px;
      transform: translateY(100%); }
    #portlet-planning .nav-tabs li a:hover:before, #portlet-planning .nav-tabs li a:hover:after {
      opacity: 1;
      transform: translateY(-50%); }

#portlet-hours thead th.portrait {
  width: 6%; }
#portlet-hours thead th.name {
  width: 25%; }
#portlet-hours thead th.total {
  width: 17%; }
#portlet-hours thead th.start, #portlet-hours thead th.end, #portlet-hours thead th.break {
  width: 15%; }
#portlet-hours thead th.check {
  width: 3%; }

#portlet-closing li {
  padding: 5px 0;
  border-bottom: 1px solid #eef1f5; }
  #portlet-closing li:last-child {
    border: 0; }
#portlet-closing .dropzone {
  border: 0;
  min-height: 0; }
  #portlet-closing .dropzone .dz-message {
    margin: 5px 0; }
#portlet-closing .portlet-body .bold.uppercase {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 3px; }
  #portlet-closing .portlet-body .bold.uppercase:first-child {
    margin-top: 0; }
#portlet-closing .editable-inline {
  display: block; }
  #portlet-closing .editable-inline .form-group {
    display: block; }
    #portlet-closing .editable-inline .form-group .editable-input {
      display: block; }
      #portlet-closing .editable-inline .form-group .editable-input textarea {
        width: 100%; }
    #portlet-closing .editable-inline .form-group .editable-buttons {
      display: block;
      margin-left: 0;
      margin-top: 5px;
      text-align: right; }

#portlet-accounting .accounting th {
  width: 70%;
  vertical-align: middle; }

#portlet-places .table-places th.name {
  width: 40%; }
#portlet-places .table-places th.option {
  width: 45%;
  text-align: left; }
#portlet-places .table-places th.actions {
  width: 15%; }
#portlet-places .table-places td.actions {
  text-align: right; }
#portlet-places .actions .input.select {
  float: right;
  margin-left: 10px; }
#portlet-places input.non-standard-place {
  display: inline-block;
  width: 90%; }

#portlet-notes .modal-header, #portlet-notes .modal-footer {
  display: none; }
#portlet-notes .note-list {
  padding: 0; }

div[data-portlet-notes] .high.timeline-body {
  background-color: #fbcdcf; }
  div[data-portlet-notes] .high.timeline-body .timeline-body-arrow {
    border-right-color: #fbcdcf; }
  div[data-portlet-notes] .high.timeline-body .timeline-body-time,
  div[data-portlet-notes] .high.timeline-body .timeline-body-content span {
    color: #617374 !important; }

#portlet-tasks .panel-heading-width-1:after {
  width: 1%; }
#portlet-tasks .panel-heading-width-2:after {
  width: 2%; }
#portlet-tasks .panel-heading-width-3:after {
  width: 3%; }
#portlet-tasks .panel-heading-width-4:after {
  width: 4%; }
#portlet-tasks .panel-heading-width-5:after {
  width: 5%; }
#portlet-tasks .panel-heading-width-6:after {
  width: 6%; }
#portlet-tasks .panel-heading-width-7:after {
  width: 7.0%; }
#portlet-tasks .panel-heading-width-8:after {
  width: 8%; }
#portlet-tasks .panel-heading-width-9:after {
  width: 9%; }
#portlet-tasks .panel-heading-width-10:after {
  width: 10%; }
#portlet-tasks .panel-heading-width-11:after {
  width: 11%; }
#portlet-tasks .panel-heading-width-12:after {
  width: 12%; }
#portlet-tasks .panel-heading-width-13:after {
  width: 13%; }
#portlet-tasks .panel-heading-width-14:after {
  width: 14.0%; }
#portlet-tasks .panel-heading-width-15:after {
  width: 15%; }
#portlet-tasks .panel-heading-width-16:after {
  width: 16%; }
#portlet-tasks .panel-heading-width-17:after {
  width: 17%; }
#portlet-tasks .panel-heading-width-18:after {
  width: 18%; }
#portlet-tasks .panel-heading-width-19:after {
  width: 19%; }
#portlet-tasks .panel-heading-width-20:after {
  width: 20%; }
#portlet-tasks .panel-heading-width-21:after {
  width: 21%; }
#portlet-tasks .panel-heading-width-22:after {
  width: 22%; }
#portlet-tasks .panel-heading-width-23:after {
  width: 23%; }
#portlet-tasks .panel-heading-width-24:after {
  width: 24%; }
#portlet-tasks .panel-heading-width-25:after {
  width: 25%; }
#portlet-tasks .panel-heading-width-26:after {
  width: 26%; }
#portlet-tasks .panel-heading-width-27:after {
  width: 27%; }
#portlet-tasks .panel-heading-width-28:after {
  width: 28.0%; }
#portlet-tasks .panel-heading-width-29:after {
  width: 29.0%; }
#portlet-tasks .panel-heading-width-30:after {
  width: 30%; }
#portlet-tasks .panel-heading-width-31:after {
  width: 31%; }
#portlet-tasks .panel-heading-width-32:after {
  width: 32%; }
#portlet-tasks .panel-heading-width-33:after {
  width: 33%; }
#portlet-tasks .panel-heading-width-34:after {
  width: 34%; }
#portlet-tasks .panel-heading-width-35:after {
  width: 35%; }
#portlet-tasks .panel-heading-width-36:after {
  width: 36%; }
#portlet-tasks .panel-heading-width-37:after {
  width: 37%; }
#portlet-tasks .panel-heading-width-38:after {
  width: 38%; }
#portlet-tasks .panel-heading-width-39:after {
  width: 39%; }
#portlet-tasks .panel-heading-width-40:after {
  width: 40%; }
#portlet-tasks .panel-heading-width-41:after {
  width: 41%; }
#portlet-tasks .panel-heading-width-42:after {
  width: 42%; }
#portlet-tasks .panel-heading-width-43:after {
  width: 43%; }
#portlet-tasks .panel-heading-width-44:after {
  width: 44%; }
#portlet-tasks .panel-heading-width-45:after {
  width: 45%; }
#portlet-tasks .panel-heading-width-46:after {
  width: 46%; }
#portlet-tasks .panel-heading-width-47:after {
  width: 47%; }
#portlet-tasks .panel-heading-width-48:after {
  width: 48%; }
#portlet-tasks .panel-heading-width-49:after {
  width: 49%; }
#portlet-tasks .panel-heading-width-50:after {
  width: 50%; }
#portlet-tasks .panel-heading-width-51:after {
  width: 51%; }
#portlet-tasks .panel-heading-width-52:after {
  width: 52%; }
#portlet-tasks .panel-heading-width-53:after {
  width: 53%; }
#portlet-tasks .panel-heading-width-54:after {
  width: 54%; }
#portlet-tasks .panel-heading-width-55:after {
  width: 55.0%; }
#portlet-tasks .panel-heading-width-56:after {
  width: 56.0%; }
#portlet-tasks .panel-heading-width-57:after {
  width: 57.0%; }
#portlet-tasks .panel-heading-width-58:after {
  width: 58.0%; }
#portlet-tasks .panel-heading-width-59:after {
  width: 59%; }
#portlet-tasks .panel-heading-width-60:after {
  width: 60%; }
#portlet-tasks .panel-heading-width-61:after {
  width: 61%; }
#portlet-tasks .panel-heading-width-62:after {
  width: 62%; }
#portlet-tasks .panel-heading-width-63:after {
  width: 63%; }
#portlet-tasks .panel-heading-width-64:after {
  width: 64%; }
#portlet-tasks .panel-heading-width-65:after {
  width: 65%; }
#portlet-tasks .panel-heading-width-66:after {
  width: 66%; }
#portlet-tasks .panel-heading-width-67:after {
  width: 67%; }
#portlet-tasks .panel-heading-width-68:after {
  width: 68%; }
#portlet-tasks .panel-heading-width-69:after {
  width: 69%; }
#portlet-tasks .panel-heading-width-70:after {
  width: 70%; }
#portlet-tasks .panel-heading-width-71:after {
  width: 71%; }
#portlet-tasks .panel-heading-width-72:after {
  width: 72%; }
#portlet-tasks .panel-heading-width-73:after {
  width: 73%; }
#portlet-tasks .panel-heading-width-74:after {
  width: 74%; }
#portlet-tasks .panel-heading-width-75:after {
  width: 75%; }
#portlet-tasks .panel-heading-width-76:after {
  width: 76%; }
#portlet-tasks .panel-heading-width-77:after {
  width: 77%; }
#portlet-tasks .panel-heading-width-78:after {
  width: 78%; }
#portlet-tasks .panel-heading-width-79:after {
  width: 79%; }
#portlet-tasks .panel-heading-width-80:after {
  width: 80%; }
#portlet-tasks .panel-heading-width-81:after {
  width: 81%; }
#portlet-tasks .panel-heading-width-82:after {
  width: 82%; }
#portlet-tasks .panel-heading-width-83:after {
  width: 83%; }
#portlet-tasks .panel-heading-width-84:after {
  width: 84%; }
#portlet-tasks .panel-heading-width-85:after {
  width: 85%; }
#portlet-tasks .panel-heading-width-86:after {
  width: 86%; }
#portlet-tasks .panel-heading-width-87:after {
  width: 87%; }
#portlet-tasks .panel-heading-width-88:after {
  width: 88%; }
#portlet-tasks .panel-heading-width-89:after {
  width: 89%; }
#portlet-tasks .panel-heading-width-90:after {
  width: 90%; }
#portlet-tasks .panel-heading-width-91:after {
  width: 91%; }
#portlet-tasks .panel-heading-width-92:after {
  width: 92%; }
#portlet-tasks .panel-heading-width-93:after {
  width: 93%; }
#portlet-tasks .panel-heading-width-94:after {
  width: 94%; }
#portlet-tasks .panel-heading-width-95:after {
  width: 95%; }
#portlet-tasks .panel-heading-width-96:after {
  width: 96%; }
#portlet-tasks .panel-heading-width-97:after {
  width: 97%; }
#portlet-tasks .panel-heading-width-98:after {
  width: 98%; }
#portlet-tasks .panel-heading-width-99:after {
  width: 99%; }
#portlet-tasks .panel-heading-width-100:after {
  width: 100%; }
#portlet-tasks .panel-group strong {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px; }
  #portlet-tasks .panel-group strong:first-child {
    margin-top: 0; }
  #portlet-tasks .panel-group strong .actions {
    font-weight: 400;
    float: right;
    opacity: 0.3;
    transition: all 0.2s ease-in-out; }
    #portlet-tasks .panel-group strong .actions:hover {
      opacity: 1; }
#portlet-tasks .panel-heading {
  position: relative; }
  #portlet-tasks .panel-heading:after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #45b6af;
    transition: all 0.2s ease-in-out;
    transition-delay: 0s; }
  #portlet-tasks .panel-heading .complete-batch {
    transition: opacity 0.2s;
    transition-delay: 0.4s; }
    #portlet-tasks .panel-heading .complete-batch--visible {
      opacity: 1; }
    #portlet-tasks .panel-heading .complete-batch--hidden {
      opacity: 0; }
  #portlet-tasks .panel-heading .accordion-toggle {
    position: relative;
    padding-right: 40px;
    z-index: 1000; }
#portlet-tasks .panel-heading-width-0:after {
  width: 0%; }
#portlet-tasks .panel-heading-width-100:after {
  background-color: transparent; }
#portlet-tasks .empty {
  display: none; }
#portlet-tasks label {
  display: inline;
  margin: 0; }
#portlet-tasks .task-title-sp {
  display: block;
  margin-right: 0; }
  #portlet-tasks .task-title-sp a {
    color: inherit;
    text-decoration: none;
    border: none !important; }
    #portlet-tasks .task-title-sp a.editable {
      cursor: text; }
#portlet-tasks .task-done *, #portlet-tasks .task-done {
  text-decoration: line-through !important;
  color: rgba(131, 143, 161, 0.7) !important; }
#portlet-tasks .new-task .task-checkbox {
  visibility: hidden; }
#portlet-tasks .new-task .task-title {
  margin-left: 30px; }
#portlet-tasks .new-batch {
  margin-top: 5px; }
#portlet-tasks input[type="text"] {
  display: inline;
  width: 100%; }
#portlet-tasks .empty-feed {
  border: 2px dashed rgba(131, 143, 161, 0.7) !important;
  background: none !important;
  opacity: 0.3; }
#portlet-tasks .form-inline {
  width: 100%; }
  #portlet-tasks .form-inline .form-group {
    display: block;
    width: 100%; }
    #portlet-tasks .form-inline .form-group .editable-input {
      width: 90%; }
#portlet-tasks .editable-container {
  display: block;
  width: 100%; }
#portlet-tasks .calendar-context-toggle {
  position: absolute;
  right: 20px;
  z-index: 1001; }

#portlet-vehicles table td {
  vertical-align: middle;
  font-size: 90%; }
#portlet-vehicles table.table-open-reservations .drivers td {
  border-bottom: 2px solid #e7ecf1; }
#portlet-vehicles table.table-open-reservations tr:last-child td {
  border-bottom: 0; }

#portlet-fb-modules input.non-standard-module {
  display: inline-block;
  width: 90%; }

#portlet-orders td.order-name, #portlet-orders td.actions {
  width: 50%;
  padding-bottom: 5px; }
#portlet-orders .order-items-wrapper {
  margin-bottom: 20px; }
#portlet-orders .order-items-title {
  display: table;
  width: 100%; }
  #portlet-orders .order-items-title .order-name, #portlet-orders .order-items-title .actions {
    width: 50%; }
#portlet-orders .panel-group {
  margin-bottom: 10px; }
#portlet-orders .delete-order-group {
  display: inline-block;
  width: auto; }
  #portlet-orders .delete-order-group span {
    display: none; }
  #portlet-orders .delete-order-group-wrapper {
    text-align: right; }
#portlet-orders .table-order-items th, #portlet-orders .table-order-items td {
  width: auto !important; }
#portlet-orders .table-order-items td {
  font-size: 95%; }
  #portlet-orders .table-order-items td.quantity .help-inline {
    display: none;
    visibility: hidden; }
#portlet-orders .table-order-items .set-editable-order-item, #portlet-orders .table-order-items .lock-order-item {
  display: inline;
  color: #bfbfbf; }
  #portlet-orders .table-order-items .set-editable-order-item:hover, #portlet-orders .table-order-items .set-editable-order-item.active, #portlet-orders .table-order-items .lock-order-item:hover, #portlet-orders .table-order-items .lock-order-item.active {
    color: #428bca; }
#portlet-orders .accordion-toggle .status {
  margin-right: 10px;
  transform: scale(0.9); }
  #portlet-orders .accordion-toggle .status .sufficient-stock, #portlet-orders .accordion-toggle .status .empty-stock, #portlet-orders .accordion-toggle .status .non-sufficient-stock {
    display: none; }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #f0f0f0;
  cursor: not-allowed; }

#portlet-invoicing .table-invoicing th {
  width: 40%; }

#portlet-downloads .tiles a {
  display: block;
  text-decoration: none; }
#portlet-downloads .tiles .tile {
  width: 100px !important;
  height: 100px;
  font-size: 10px;
  line-height: 14px;
  transition: all 0.3s; }
  #portlet-downloads .tiles .tile-object .name {
    width: 100%;
    margin: 0 0 5px 0;
    font-size: 11px;
    display: block;
    text-align: center; }
  #portlet-downloads .tiles .tile-body i {
    margin-top: 3px;
    font-size: 35px;
    line-height: 40px;
    transition: all 0.2s; }
  #portlet-downloads .tiles .tile:hover .tile-body i {
    transform: scale(1.2); }
#portlet-downloads.portlet--side {
  position: fixed;
  right: 10px;
  top: 50%;
  padding: 0;
  transform: translateY(-50%);
  z-index: 1000; }
  #portlet-downloads.portlet--side .portlet-title {
    display: none; }
  #portlet-downloads.portlet--side .portlet-body {
    padding: 0; }
  #portlet-downloads.portlet--side .tile {
    width: 30px !important;
    height: 30px !important;
    float: none;
    margin: 1px 0 0 0;
    padding: 0;
    overflow: visible; }
    #portlet-downloads.portlet--side .tile-body {
      margin: 0;
      padding: 0;
      z-index: 100; }
      #portlet-downloads.portlet--side .tile-body i {
        margin: 0;
        font-size: 14px;
        line-height: 22px; }
    #portlet-downloads.portlet--side .tile-object {
      width: 160px;
      height: auto;
      right: 100%;
      top: -4px;
      left: auto;
      background-color: inherit;
      transition: all 0.3s;
      transform: translateX(1000px);
      z-index: 99; }
      #portlet-downloads.portlet--side .tile-object .name {
        margin: 0;
        top: 7px;
        bottom: auto;
        z-index: 99; }
    #portlet-downloads.portlet--side .tile:hover {
      border-color: transparent !important; }
      #portlet-downloads.portlet--side .tile:hover .tile-object {
        transform: translateX(0); }

#eventsCalendar .fc-event {
  transition: all 0.2s;
  padding: 4px 0 0 0; }
  #eventsCalendar .fc-event.entreprise {
    background-color: #be1522; }
  #eventsCalendar .fc-event.teambuilding {
    background-color: #3fc0f0; }
  #eventsCalendar .fc-event.urbangaming {
    background-color: #ffb700; }
  #eventsCalendar .fc-event.effetgourmand {
    background-color: #bd1a29; }
  #eventsCalendar .fc-event.leisure {
    background-color: #94c11f; }
  #eventsCalendar .fc-event.event_creation {
    background-color: #f9b233; }
  #eventsCalendar .fc-event.maiergrill {
    background-color: #be3a35; }
  #eventsCalendar .fc-event.maiergrill .btn-company, #eventsCalendar .fc-event.effetgourmand .btn-company {
    border-top: 1px solid white;
    border-left: 1px solid white; }
  #eventsCalendar .fc-event.offer {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px); }
  #eventsCalendar .fc-event .before {
    height: 20%;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px); }
  #eventsCalendar .fc-event .event, #eventsCalendar .fc-event.mission {
    overflow: hidden; }
    #eventsCalendar .fc-event .event p, #eventsCalendar .fc-event.mission p {
      padding: 5px 10px; }
  #eventsCalendar .fc-event .after {
    height: 20%;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px); }
  #eventsCalendar .fc-event span.percent {
    position: absolute;
    display: block;
    bottom: 0;
    border-bottom: 4px solid #26c281; }
  #eventsCalendar .fc-event .btn-company {
    position: absolute;
    right: 0;
    bottom: 0; }
  #eventsCalendar .fc-event.mission {
    background-color: black;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255, 255, 255, 0.15) 15px, rgba(255, 255, 255, 0.15) 30px);
    color: white;
    box-shadow: none;
    border: 1px solid black; }

.portlet.calendar .filter-events ul {
  margin: 0;
  padding: 0; }
  .portlet.calendar .filter-events ul li {
    display: inline-block;
    margin: 0; }
    .portlet.calendar .filter-events ul li .label.mission {
      background-color: black;
      background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255, 255, 255, 0.15) 15px, rgba(255, 255, 255, 0.15) 30px); }
    .portlet.calendar .filter-events ul li.disabled {
      opacity: 0.6; }
.portlet.calendar #eventsStaff .fc-event {
  min-height: 70px;
  padding: 7px;
  transition: opacity 0.2s linear; }
  .portlet.calendar #eventsStaff .fc-event.notify {
    position: relative; }
    .portlet.calendar #eventsStaff .fc-event.notify::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 30px 0 0;
      border-color: red transparent transparent transparent; }
  .portlet.calendar #eventsStaff .fc-event.empty {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px); }
  .portlet.calendar #eventsStaff .fc-event.mission {
    background-color: black;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255, 255, 255, 0.15) 15px, rgba(255, 255, 255, 0.15) 30px); }
.portlet.calendar #eventsStaff .fc-event-staff {
  height: 100%; }
  .portlet.calendar #eventsStaff .fc-event-staff strong {
    display: inline-block;
    padding-bottom: 2px;
    text-transform: uppercase; }
  .portlet.calendar #eventsStaff .fc-event-staff td.portrait {
    text-align: right; }
    .portlet.calendar #eventsStaff .fc-event-staff td.portrait img {
      -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2); }
  .portlet.calendar #eventsStaff .fc-event-staff span {
    display: block;
    margin-bottom: 2px; }
.portlet.calendar #eventsStaff .fc-basicWeek-view .portrait {
  width: 40px; }
  .portlet.calendar #eventsStaff .fc-basicWeek-view .portrait img {
    max-width: 40px; }
.portlet.calendar #eventsStaff .fc-basicWeek-view .client-name, .portlet.calendar #eventsStaff .fc-basicWeek-view .event-name, .portlet.calendar #eventsStaff .fc-basicWeek-view .hours {
  display: none; }

#reservations .fc-list-item .fc-list-item-marker {
  position: relative;
  padding-left: 40px; }
#reservations .fc-list-item .btn-company {
  position: absolute;
  left: 0px; }
#reservations .fc-list-item.fc-has-url {
  cursor: auto; }
#reservations .fc-event, #reservations .fc-list-item {
  transition: all 0.2s; }
  #reservations .fc-event .fc-bg, #reservations .fc-list-item .fc-bg {
    opacity: 1; }
    #reservations .fc-event .fc-bg .btn-company, #reservations .fc-list-item .fc-bg .btn-company {
      position: absolute;
      left: 0;
      top: 0; }
  #reservations .fc-event.stock_order .fc-bg, #reservations .fc-event.stock_order .fc-event-dot, #reservations .fc-list-item.stock_order .fc-bg, #reservations .fc-list-item.stock_order .fc-event-dot {
    background-color: #820c18 !important; }
  #reservations .fc-event.event .fc-bg, #reservations .fc-event.event .fc-event-dot, #reservations .fc-list-item.event .fc-bg, #reservations .fc-list-item.event .fc-event-dot {
    background-color: #333333 !important; }
  #reservations .fc-event.confirmed .fc-bg, #reservations .fc-event.confirmed .fc-event-dot, #reservations .fc-list-item.confirmed .fc-bg, #reservations .fc-list-item.confirmed .fc-event-dot {
    background-color: #31c183 !important; }
  #reservations .fc-event.not-confirmed .fc-bg, #reservations .fc-event.not-confirmed .fc-event-dot, #reservations .fc-list-item.not-confirmed .fc-bg, #reservations .fc-list-item.not-confirmed .fc-event-dot {
    background-color: #999999 !important; }
  #reservations .fc-event.has-warning .fc-bg, #reservations .fc-event.has-warning .fc-event-dot, #reservations .fc-list-item.has-warning .fc-bg, #reservations .fc-list-item.has-warning .fc-event-dot {
    background-color: #e87e04 !important; }
  #reservations .fc-event.unavailable .fc-bg, #reservations .fc-event.unavailable .fc-event-dot, #reservations .fc-list-item.unavailable .fc-bg, #reservations .fc-list-item.unavailable .fc-event-dot {
    background-color: #de8384 !important; }
  #reservations .fc-event.cancelled .fc-bg, #reservations .fc-event.cancelled .fc-event-dot, #reservations .fc-list-item.cancelled .fc-bg, #reservations .fc-list-item.cancelled .fc-event-dot {
    background-color: red !important;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px);
    z-index: 9998 !important; }
  #reservations .fc-event.cancelled .fc-event-dot, #reservations .fc-list-item.cancelled .fc-event-dot {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 7px, rgba(0, 0, 0, 0.2) 7px, rgba(0, 0, 0, 0.2) 30px); }
  #reservations .fc-event.no-vehicle .fc-list-item-title, #reservations .fc-list-item.no-vehicle .fc-list-item-title {
    color: red; }
  #reservations .fc-event.trailer .fc-bg, #reservations .fc-event.trailer .fc-event-dot, #reservations .fc-list-item.trailer .fc-bg, #reservations .fc-list-item.trailer .fc-event-dot {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px); }
  #reservations .fc-event.trailer .fc-event-dot, #reservations .fc-list-item.trailer .fc-event-dot {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 7px, rgba(0, 0, 0, 0.2) 7px, rgba(0, 0, 0, 0.2) 30px); }
#reservations .fc-event-container .stock_order1 {
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px); }
#reservations .fc-event-container a * {
  color: white;
  text-decoration: none; }
#reservations .fc-event-container a a {
  display: block;
  height: 100%; }
#reservations .fc-event-container .fc-content {
  height: 100%;
  z-index: 9999; }
#reservations .fc-list-item-infos {
  font-size: 90%;
  color: #bfbfbf; }

#tasksCalendar .fc-event {
  background: white;
  color: #333333;
  border-left-width: 4px;
  border-left-style: solid;
  cursor: default; }
  #tasksCalendar .fc-event small {
    color: rgba(131, 143, 161, 0.7); }
  #tasksCalendar .fc-event a {
    color: inherit; }

#placesCalendar .fc-event {
  transition: all 0.2s; }
  #placesCalendar .fc-event .btn-company {
    position: absolute;
    right: 0px;
    bottom: 0; }
#placesCalendar .place {
  position: relative;
  background-color: #cccccc !important;
  box-shadow: none; }
  #placesCalendar .place--confirmed {
    background-color: #26c281 !important; }
  #placesCalendar .place--prereserved {
    background-color: #4c87b9 !important; }
  #placesCalendar .place--pending {
    background-color: #8775a7 !important; }
  #placesCalendar .place--cancelled {
    background-color: #e87e04 !important;
    text-decoration: line-through;
    opacity: 0.9; }
  #placesCalendar .place--occupied {
    background-color: #d91e18 !important; }
  #placesCalendar .place--potential {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px); }
  #placesCalendar .place .progress {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
    margin-bottom: 0;
    background: transparent; }
    #placesCalendar .place .progress-bar {
      background-color: rgba(255, 255, 255, 0.5); }

.calendar-badges {
  margin-bottom: 5px; }
  .calendar-badges .badge {
    margin-left: 10px;
    background-color: #cccccc !important; }
    .calendar-badges .badge:first-child {
      margin-left: 0; }
    .calendar-badges .badge--confirmed {
      background-color: #26c281 !important; }
    .calendar-badges .badge--prereserved {
      background-color: #4c87b9 !important; }
    .calendar-badges .badge--cancelled {
      background-color: #e87e04 !important; }
    .calendar-badges .badge--pending {
      background-color: #8775a7 !important; }
    .calendar-badges .badge--occupied {
      background-color: #d91e18 !important; }

.dataTables_wrapper .dataTables_processing {
  width: 300px;
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -150px;
  z-index: 10000; }

.reporting .hours thead th.check {
  width: 3%; }
.reporting .hours thead th.code {
  width: 7%; }
.reporting .hours thead th.name {
  width: 35%; }
.reporting .hours thead th.client {
  width: 25%; }
.reporting .hours thead th.salary {
  width: 15%; }
.reporting .hours thead th.events {
  width: 12%; }
.reporting .hours thead th.hours {
  width: 10%; }
.reporting .hours thead th.salaries, .reporting .hours thead th.amount {
  width: 10%; }
.reporting .hours thead th.actions {
  width: 10%; }
.reporting .sales tfoot td, .reporting .persons tfoot td {
  padding: 8px;
  border-top-width: 2px; }
.reporting .sales thead th.month {
  width: 10%; }
.reporting .sales thead th.number {
  width: 8%; }
.reporting .sales thead th.turnover {
  width: 12%; }
.reporting .sales thead th.average {
  width: 12%; }
.reporting .sales tbody td.text-success a, .reporting .sales tbody td.text-danger a {
  color: inherit; }
.reporting .persons thead th.person {
  width: 20%; }
.reporting .persons thead th.number {
  width: 13%; }

.table.table-reporting tfoot tr td {
  padding: 8px;
  border-top-width: 2px; }

#offers thead th.company {
  width: 2%; }
#offers thead th.client {
  width: 20%; }
#offers .editable {
  border: 0; }
#offers .editable-empty {
  font-style: normal;
  color: #bfbfbf; }
#offers .editable-input .form-control {
  padding: 0;
  height: auto;
  max-width: 100px; }

#confirmed thead th.name {
  width: 13%; }
#confirmed thead th.content {
  width: 15%; }
#confirmed thead th.date {
  width: 12%; }

table.accounting th.date {
  width: 7%; }
table.accounting th.number {
  width: 8%; }
  table.accounting th.number.larger {
    width: 10%; }
table.accounting th.client {
  width: 40%; }

.dashboard .table-offers th.dossier {
  width: 13%; }
.dashboard .table-offers th.date {
  width: 20%; }
.dashboard .table-past th.client {
  width: 15%; }

.table-reservation-event th.event {
  width: 20%; }
.table-reservation-event th.client {
  width: 20%; }
.table-reservation-event th.place {
  width: 20%; }
.table-reservation-event th.content {
  width: 20%; }
.table-reservation-event th.manager {
  width: 20%; }

#competences table th {
  text-transform: uppercase; }
#competences table .hierarchies td, #competences table .activities td, #competences table .fb_modules td, #competences table .logistics_jobs td, #competences table .other_jobs td {
  text-align: center; }
#competences table .activities td:first-child, #competences table .fb_modules td:first-child, #competences table .logistics_jobs td:first-child, #competences table .other_jobs td:first-child {
  text-align: left; }
#competences table .right-bordered {
  border-right: 1px solid #e7ecf1; }

.portlet .portlet-body.portlet-associations {
  min-height: 1000px; }

.table-associations th.companies {
  font-weight: normal; }
.table-associations tbody tr.ui-state-active td {
  background-color: #f4f6f8; }
.table-associations td {
  transition: all 0.3s; }
  .table-associations td.name {
    width: 40%; }
  .table-associations td.resources {
    width: 59%; }
    .table-associations td.resources .btn {
      margin-bottom: 3px; }
      .table-associations td.resources .btn--activity {
        background-color: #f4f6f8 !important;
        border-left: 3px solid #f3c200 !important; }
      .table-associations td.resources .btn--fb-module, .table-associations td.resources .btn--fbmodule {
        background-color: #f4f6f8 !important;
        border-left: 3px solid #d91e18 !important; }
      .table-associations td.resources .btn:after {
        content: "\2716";
        position: absolute;
        width: 10px;
        height: 10px;
        color: #f3565d;
        font-weight: bold;
        right: -10px;
        opacity: 0;
        transition: opacity 0.3s; }
      .table-associations td.resources .btn.deletable:after {
        opacity: 1; }
      .table-associations td.resources .btn.dropped {
        transition: opacity 0.2s;
        opacity: 0; }

.orders-resources,
.outfits-resources {
  position: relative; }
  .orders-resources .btn,
  .outfits-resources .btn {
    margin-bottom: 5px; }
    .orders-resources .btn--hidden,
    .outfits-resources .btn--hidden {
      display: none; }

.list--wrapper {
  position: relative; }
  .list--wrapper .input {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0; }
  .list--wrapper .list {
    position: absolute;
    width: 100%;
    height: 60vh;
    max-height: 60vh;
    padding-top: 40px;
    overflow-y: scroll;
    transition: all 0.3s ease-in-out; }
  .list--wrapper strong {
    display: block;
    margin: 10px 0 5px 0; }
    .list--wrapper strong:first-child {
      margin-top: 0; }
  .list--wrapper .btn {
    cursor: move;
    background-color: #f4f6f8 !important; }
    .list--wrapper .btn--activity {
      border-left: 3px solid #f3c200 !important; }
    .list--wrapper .btn--fbmodule {
      border-left: 3px solid #d91e18 !important; }

.table-outfit-associations thead th {
  width: 0; }
.table-outfit-associations thead.order {
  width: 37px;
  height: 120px;
  white-space: nowrap;
  font-weight: normal; }
.table-outfit-associations thead div {
  transform: translate(0, -10px) rotate(315deg);
  width: 37px; }
.table-outfit-associations .company {
  text-align: center; }

.table-order-items tbody.empty td {
  padding: 15px 0; }
.table-order-items th.drag, .table-order-items td.drag {
  width: 2%; }
.table-order-items th.option, .table-order-items td.option {
  width: 10%; }
.table-order-items th.quantity, .table-order-items td.quantity {
  width: 23%; }
.table-order-items th.name, .table-order-items td.name {
  width: 19%; }
.table-order-items th.depot, .table-order-items td.depot {
  width: 12%; }
.table-order-items th.comments, .table-order-items td.comments {
  width: 18%; }
.table-order-items th.supplier, .table-order-items td.supplier {
  width: 12%; }
.table-order-items th.actions, .table-order-items td.actions {
  width: 4%; }
.table-order-items td {
  vertical-align: middle !important; }
  .table-order-items td.drag {
    cursor: move; }
  .table-order-items td .input {
    display: none; }
  .table-order-items td .text {
    display: block; }
.table-order-items .set-editable-order-item {
  display: none; }
.table-order-items .language-dependent i {
  color: #bfbfbf; }
.table-order-items .language-dependent:hover i, .table-order-items .language-dependent.active i {
  color: #65a0d0 !important; }
.table-order-items tr .pieces-person-help-text,
.table-order-items tr .pieces-person-team-help-text,
.table-order-items tr .pieces-team-help-text,
.table-order-items tr .pieces-staff-help-text,
.table-order-items tr .pieces-group-help-text,
.table-order-items tr .pieces-animator-help-text {
  display: none; }
.table-order-items tr.fixed .quantity-unit, .table-order-items tr.fixed .quantity-per-container, .table-order-items tr.fixed .interval-help-text, .table-order-items tr.fixed .pieces-help-text, .table-order-items tr.fixed .quantity-per-container-help-text, .table-order-items tr.clothing_size .quantity-unit, .table-order-items tr.clothing_size .quantity-per-container, .table-order-items tr.clothing_size .interval-help-text, .table-order-items tr.clothing_size .pieces-help-text, .table-order-items tr.clothing_size .quantity-per-container-help-text {
  display: none; }
.table-order-items tr.pieces_per_person .quantity-unit, .table-order-items tr.pieces_per_person .quantity-per-container, .table-order-items tr.pieces_per_person .interval-help-text, .table-order-items tr.pieces_per_person .quantity-per-container-help-text, .table-order-items tr.pieces_per_person_per_team .quantity-unit, .table-order-items tr.pieces_per_person_per_team .quantity-per-container, .table-order-items tr.pieces_per_person_per_team .interval-help-text, .table-order-items tr.pieces_per_person_per_team .quantity-per-container-help-text, .table-order-items tr.pieces_per_team .quantity-unit, .table-order-items tr.pieces_per_team .quantity-per-container, .table-order-items tr.pieces_per_team .interval-help-text, .table-order-items tr.pieces_per_team .quantity-per-container-help-text, .table-order-items tr.pieces_per_animator .quantity-unit, .table-order-items tr.pieces_per_animator .quantity-per-container, .table-order-items tr.pieces_per_animator .interval-help-text, .table-order-items tr.pieces_per_animator .quantity-per-container-help-text, .table-order-items tr.pieces_per_group .quantity-unit, .table-order-items tr.pieces_per_group .quantity-per-container, .table-order-items tr.pieces_per_group .interval-help-text, .table-order-items tr.pieces_per_group .quantity-per-container-help-text, .table-order-items tr.pieces_per_table .quantity-unit, .table-order-items tr.pieces_per_table .quantity-per-container, .table-order-items tr.pieces_per_table .interval-help-text, .table-order-items tr.pieces_per_table .quantity-per-container-help-text, .table-order-items tr.pieces_per_buffet .quantity-unit, .table-order-items tr.pieces_per_buffet .quantity-per-container, .table-order-items tr.pieces_per_buffet .interval-help-text, .table-order-items tr.pieces_per_buffet .quantity-per-container-help-text, .table-order-items tr.pieces_per_staff .quantity-unit, .table-order-items tr.pieces_per_staff .quantity-per-container, .table-order-items tr.pieces_per_staff .interval-help-text, .table-order-items tr.pieces_per_staff .quantity-per-container-help-text {
  display: none; }
.table-order-items tr.quantity_per_person .interval-help-text, .table-order-items tr.quantity_per_person .pieces-help-text {
  display: none; }
.table-order-items tr.interval .quantity-unit, .table-order-items tr.interval .quantity-per-container, .table-order-items tr.interval .pieces-help-text, .table-order-items tr.interval .quantity-per-container-help-text {
  display: none; }
.table-order-items tr.pieces_per_person .pieces-person-help-text {
  display: inline; }
.table-order-items tr.pieces_per_person_per_team .pieces-person-team-help-text {
  display: inline; }
.table-order-items tr.pieces_per_team .pieces-team-help-text {
  display: inline; }
.table-order-items tr.pieces_per_staff .pieces-staff-help-text {
  display: inline; }
.table-order-items tr.pieces_per_animator .pieces-animator-help-text {
  display: inline; }
.table-order-items tr.pieces_per_group .pieces-group-help-text {
  display: inline; }
.table-order-items tr.ui-sortable-helper td {
  border-top: 0 !important; }
.table-order-items tr[data-editable] td .input {
  display: block; }
.table-order-items tr[data-editable] td .text {
  display: none; }
.table-order-items tr a.sufficient-stock, .table-order-items tr a.empty-stock, .table-order-items tr a.non-sufficient-stock,
.table-order-items tr span.sufficient-stock, .table-order-items tr span.empty-stock, .table-order-items tr span.non-sufficient-stock {
  display: none; }
.table-order-items tr.sufficient-stock .sufficient-stock {
  display: inline-block; }
.table-order-items tr.empty-stock .empty-stock {
  display: inline-block; }
.table-order-items tr.non-sufficient-stock .non-sufficient-stock {
  display: inline-block; }
.table-order-items--view th.quantity {
  width: 10%; }
.table-order-items--view th.quantity_unit {
  width: 15%; }
.table-order-items--view th.name {
  width: 30%; }
.table-order-items--view th.remarks {
  width: 29%; }
.table-order-items--portlet th.quantity, .table-order-items--portlet td.quantity {
  width: 20%; }
.table-order-items--portlet th.name, .table-order-items--portlet td.name {
  width: 80%; }
.table-order-items--portlet td.quantity input {
  text-align: center; }
.table-order-items input[type="text"] {
  display: inline-block;
  padding: 2px 5px;
  width: 100%;
  font-size: 90%; }
.table-order-items input[type="number"] {
  padding: 2px 0;
  font-size: 90%; }
.table-order-items input.option, .table-order-items input.quantity-option {
  width: 50px; }
.table-order-items input.quantity, .table-order-items input.quantity-per-container {
  width: 65px;
  text-align: center; }
.table-order-items select {
  width: 100%; }
  .table-order-items select.quantity-unit {
    width: 50px; }

#order .vertical-align {
  line-height: 34px; }
#order .empty-line {
  background-color: rgba(131, 143, 161, 0.7);
  opacity: 0.3; }
#order .empty-panel {
  margin: 5px 0;
  border: 2px dashed rgba(131, 143, 161, 0.7);
  background-color: transparent;
  opacity: 0.5; }

.order-items-title {
  display: none; }

.order-items-wrapper--disable-stock .panel-title .status {
  display: none; }

.table-import-images tr {
  transition: all 0.3s;
  transition-delay: 1s; }
  .table-import-images tr.waiting .status {
    color: #bfbfbf; }
    .table-import-images tr.waiting .status .fa:nth-child(1) {
      display: inline; }
  .table-import-images tr.processing .status .fa:nth-child(2) {
    display: inline; }
  .table-import-images tr.done .status {
    color: #45b6af; }
    .table-import-images tr.done .status .fa:nth-child(3) {
      display: inline; }
  .table-import-images tr.error .status {
    color: #f3565d; }
    .table-import-images tr.error .status .fa:nth-child(4) {
      display: inline; }
  .table-import-images tr.error td {
    background-color: #fde5e6; }
.table-import-images td.number {
  width: 10%; }
.table-import-images td.filename {
  width: 70%; }
.table-import-images td.status {
  width: 20%;
  text-align: right; }
  .table-import-images td.status .fa {
    display: none; }

.table-place-history thead tr th.date {
  width: 20%; }
.table-place-history thead tr th.reason {
  width: 50%; }
.table-place-history thead tr th.status {
  width: 30%; }

.table-hierarchies .btn {
  margin-right: 0; }
.table-hierarchies th.company {
  width: 3%; }
.table-hierarchies th.date {
  width: 7%; }
.table-hierarchies th.extra {
  width: 10%; }
.table-hierarchies th.job {
  width: 22%; }
.table-hierarchies th.event {
  width: 20%; }
.table-hierarchies th.client {
  width: 17%; }
.table-hierarchies th.actions {
  width: 20%;
  text-align: right; }
.table-hierarchies .feedback .loading, .table-hierarchies .feedback .success, .table-hierarchies .feedback .error {
  display: none; }
.table-hierarchies tbody tr {
  transition: all 0.3s;
  transition-delay: 1s; }
  .table-hierarchies tbody tr.done {
    opacity: 0.3; }

.table-modal-form-job tbody tr td {
  vertical-align: middle; }

.table-logista th.date, .table-logista th.mode {
  width: 5%; }
.table-logista th.order {
  width: 35%; }
.table-logista th.packaging, .table-logista th.cost {
  width: 5%; }
.table-logista tfoot tr td {
  padding: 8px; }

.table-activity-planning th.duration,
.table-fb-module-planning th.duration {
  width: 19%; }
.table-activity-planning th.name, .table-activity-planning th.remarks,
.table-fb-module-planning th.name,
.table-fb-module-planning th.remarks {
  width: 40%; }

.table-wishes tr.sent {
  opacity: 0.4; }
.table-wishes th.check {
  width: 5%; }
.table-wishes th.client {
  width: 40%; }
.table-wishes th.contact {
  width: 20%; }
.table-wishes th.events {
  width: 34%; }

#modal-user-ajax .language {
  display: inline-block;
  margin-right: 20px; }
#modal-user-ajax th.date {
  width: 15%; }
#modal-user-ajax th.job {
  width: 25%; }
#modal-user-ajax th.event {
  width: 35%; }
#modal-user-ajax th.client {
  width: 25%; }

.note-list .timeline-body.high {
  background-color: #fbe1e3 !important; }
  .note-list .timeline-body.high .timeline-body-arrow {
    border-color: transparent #fbe1e3 transparent transparent; }
.note-list .timeline .timeline-badge-userpic {
  border-radius: 0 !important; }

@page {
  margin: 2cm; }
.tracking-sheet-pdf h1 {
  font-family: "Kameron", serif;
  font-weight: 700;
  font-size: 20px; }
.tracking-sheet-pdf h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase; }
.tracking-sheet-pdf.wide h3 {
  font-size: 11px;
  text-transform: none; }
.tracking-sheet-pdf strong {
  font-size: 12px; }
.tracking-sheet-pdf p {
  font-size: 11px; }
  .tracking-sheet-pdf p strong {
    font-size: 11px; }
.tracking-sheet-pdf.wide p {
  font-size: 10px; }
  .tracking-sheet-pdf.wide p strong {
    font-size: 10px; }
.tracking-sheet-pdf small {
  font-size: 65%; }
.tracking-sheet-pdf table {
  width: 100%; }
  .tracking-sheet-pdf table tr td {
    padding: 5px 8px;
    vertical-align: top; }
    .tracking-sheet-pdf table tr td ul {
      margin: 0;
      padding: 0; }
      .tracking-sheet-pdf table tr td ul li {
        display: inline-block;
        margin: 0;
        padding: 0;
        font-size: 10px;
        color: #666666; }
.tracking-sheet-pdf.wide table tr td {
  border-color: black !important; }
.tracking-sheet-pdf table tr td hr {
  width: 100%;
  height: 1px;
  border-top: 1px dashed #666666; }
.tracking-sheet-pdf .label {
  display: inline-block;
  width: 40%;
  border: 0;
  margin-bottom: 5px; }
.tracking-sheet-pdf .input {
  display: inline-block;
  border: 1px solid #cccccc;
  width: 60%;
  height: 22px;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
  font-size: 90%; }
.tracking-sheet-pdf .bordered {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px 0; }
.tracking-sheet-pdf .value {
  margin-left: 10px;
  color: #666666 !important; }
.tracking-sheet-pdf .former-outings li {
  color: #666666 !important; }
.tracking-sheet-pdf .no-margin {
  margin: 0; }
.tracking-sheet-pdf .type strong {
  text-decoration: underline; }
.tracking-sheet-pdf .type:after {
  content: " / "; }
.tracking-sheet-pdf .type:last-child:after {
  content: ""; }

.event__documents {
  font-size: 12px; }
  .event__documents table th, .event__documents table td {
    font-size: 12px !important;
    font-weight: 300; }
  .ubic .event__documents table th {
    font-weight: bold; }
  .ug .event__documents table th {
    font-weight: 700; }
  .event__documents table th.schedule {
    width: 10%; }
  .event__documents table th.steps {
    width: 45%; }
  .event__documents table th.resources {
    width: 45%; }
  .event__documents .break {
    display: block;
    margin-bottom: 20px;
    clear: both;
    page-break-after: always; }
  .event__documents-logo img {
    max-height: 60px; }
  .event__documents-header h1, .event__documents-header h2 {
    margin: 0;
    font-family: "Clarendon LT Std";
    font-size: 25px;
    text-align: center; }
    .ubic .event__documents-header h1, .ubic .event__documents-header h2 {
      font-weight: bold; }
    .ug .event__documents-header h1, .ug .event__documents-header h2 {
      font-family: "Sansation"; }
  .ug .event__documents-header h1 {
    text-transform: uppercase;
    color: #ffb700 !important; }
  .event__documents-header h2 {
    font-size: 14px;
    font-weight: 400; }
  .event__documents-header table th {
    width: 35%;
    text-align: right;
    color: #666666 !important;
    font-weight: 400; }
    .ug .event__documents-header table th {
      font-family: "Sansation"; }
  .event__documents-header table td {
    width: 65%;
    padding-left: 5px;
    font-weight: bold; }
    .ug .event__documents-header table td {
      font-family: "Sansation"; }
  .event__documents-infos {
    margin: 20px 0;
    padding: 5px;
    border: 1px solid #e7ecf1 !important; }
    .event__documents-infos table th, .event__documents-infos table td {
      vertical-align: top; }
  .event__documents-planning ul, .event__documents-planning li {
    padding: 0;
    margin: 0;
    list-style: none; }
  .event__documents-planning li {
    position: relative;
    padding-left: 15px; }
    .event__documents-planning li:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      margin-top: -5px;
      left: 0;
      background-color: #cccccc;
      border-radius: 50%; }
    .event__documents-planning li.activity:before {
      background-color: #f3c200; }
    .event__documents-planning li.client:before {
      background-color: #26a69a; }
    .event__documents-planning li.extra:before {
      background-color: #c8d046; }
    .event__documents-planning li.manager:before {
      background-color: #ff5722; }
    .event__documents-planning li.place:before {
      background-color: #9a12b3; }
    .event__documents-planning li.fb_module:before {
      background-color: #d91e18; }
    .event__documents-planning li.vehicle:before {
      background-color: #555555; }
  .event__documents-client {
    margin-top: 20px; }
    .event__documents-client table {
      width: 100%; }
      .event__documents-client table tr td.schedule {
        width: 15%; }
      .event__documents-client table tr td.moment {
        width: 85%; }
    .event__documents-client-logo {
      text-align: center;
      height: 80px; }
      .event__documents-client-logo img {
        height: 100%;
        max-height: 80px; }
  .event__documents-thanks {
    margin-top: 20px; }
  .event__documents-remarks {
    padding: 3px 5px;
    margin-top: 10px;
    background-color: #bfbfbf; }
    .event__documents-remarks strong {
      display: block;
      margin-bottom: 10px;
      font-family: "Clarendon LT Std";
      font-weight: bold;
      text-transform: uppercase; }
  .ug .event__documents-infos, .ug .event__documents-staff, .ug .event__documents-schedule, .ug .event__documents-planning, .ug .event__documents-client, .ug .event__documents-thanks, .ug .event__documents-remarks {
    font-family: "Sansation";
    font-weight: 400; }
  .event__documents--billboard {
    position: relative;
    padding-top: 50px;
    clear: both;
    font-family: "Gotham Light"; }
    .event__documents--billboard p {
      font-size: 20px; }
    .event__documents--billboard h1 {
      font-family: "Clarendon LT Std";
      font-size: 46px;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase; }
    .event__documents--billboard:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0px;
      width: 1px;
      height: 10px;
      background-color: black; }
  .event__documents-separator {
    width: 100%;
    height: 8px;
    background-color: black; }
    .event__documents-separator--entreprise {
      background-color: #bc1928; }
    .event__documents-separator--events, .event__documents-separator--event_creation {
      background-color: #f7b142; }
    .event__documents-separator--teambuilding {
      background-color: #48c1ee; }
    .event__documents-separator--serious-game, .event__documents-separator--leisure {
      background-color: #95bf31; }
    .event__documents-separator--urbangaming {
      background-color: #ffb700; }
    .event__documents-separator--effetgourmand {
      background-color: #bd1a29; }
    .event__documents-separator--maiergrill {
      background-color: #999999; }
  .event__documents-bb-infos h2, .event__documents-bb-infos h3 {
    margin: 10px 0 0 0;
    font-size: 44px;
    text-transform: capitalize;
    font-family: "Gotham Bold";
    font-weight: 700; }
  .event__documents-bb-infos h3 {
    margin: 0;
    font-size: 34px;
    line-height: 38px; }
  .event__documents-bb-jobs ul {
    margin-top: 20px; }
    .event__documents-bb-jobs ul li {
      position: relative;
      display: block;
      padding-left: 25px;
      margin-bottom: 2px;
      font-size: 16px;
      border-bottom: 1px solid #bfbfbf;
      line-height: 30px;
      height: 30px; }
      .event__documents-bb-jobs ul li:before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        margin-top: -10px;
        width: 20px;
        height: 20px;
        border: 1px solid black;
        background-color: white;
        border-radius: 0; }
  .event__documents-bb-footer {
    position: absolute;
    width: 100%;
    top: 46%;
    left: 0;
    padding-top: 20px;
    transform: translateY(-100%); }
    .event__documents-bb-footer .flag-icon {
      font-size: 20px; }
  .event__documents-bb-planning .moment {
    font-size: 24px;
    font-weight: bold !important;
    text-transform: uppercase; }
  .event__documents-container {
    margin-right: 14mm; }
  .event__documents-pi {
    font-size: 11px;
    font-family: "Gotham Light"; }
    .ug .event__documents-pi {
      font-family: "Avenir Light"; }
    .event__documents-pi-details strong, .event__documents-pi-misc strong, .event__documents-pi-program strong, .event__documents-pi-contact strong {
      font-weight: bold; }
      .ug .event__documents-pi-details strong, .ug .event__documents-pi-misc strong, .ug .event__documents-pi-program strong, .ug .event__documents-pi-contact strong {
        font-weight: 700; }
    .event__documents-pi-details .h3, .event__documents-pi-details h3, .event__documents-pi-misc .h3, .event__documents-pi-misc h3, .event__documents-pi-program .h3, .event__documents-pi-program h3, .event__documents-pi-contact .h3, .event__documents-pi-contact h3 {
      width: 100%;
      margin: 20px 0 10px 0;
      padding: 5px 0 0 0;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      font-size: 11px;
      font-family: "Clarendon LT Std";
      font-weight: 500;
      text-transform: uppercase; }
      .ug .event__documents-pi-details .h3, .ug .event__documents-pi-details h3, .ug .event__documents-pi-misc .h3, .ug .event__documents-pi-misc h3, .ug .event__documents-pi-program .h3, .ug .event__documents-pi-program h3, .ug .event__documents-pi-contact .h3, .ug .event__documents-pi-contact h3 {
        font-family: "Sansation";
        font-weight: 700;
        font-size: 1.1em;
        border-bottom: 0;
        border-top: 1px solid #ffb700; }
    .event__documents-pi-misc ul {
      margin: 0;
      padding: 0 0 0 20px; }
      .ug .event__documents-pi-misc ul {
        padding: 0; }
    .event__documents-pi-header {
      position: relative;
      margin-bottom: 180px; }
      .ug .event__documents-pi-header {
        margin-bottom: 130px; }
      .event__documents-pi-header .sticker {
        display: none;
        position: absolute;
        top: 0;
        right: 0; }
        .event__documents-pi-header .sticker img {
          display: block;
          width: 94%;
          max-width: 100%;
          float: right; }
        .ubic .event__documents-pi-header .sticker--ubic {
          display: block; }
        .ug .event__documents-pi-header .sticker--ug {
          display: block; }
        .event__documents-pi-header .sticker--ug img {
          width: 40%; }
    .event__documents-pi-intro h2 {
      margin: 0;
      font-size: 1.3333em;
      font-family: "Clarendon LT Std";
      font-weight: 500;
      text-transform: uppercase; }
      .ug .event__documents-pi-intro h2 {
        font-family: "Sansation";
        font-weight: 700;
        font-size: 2.2em;
        color: #ffb700 !important; }
    .event__documents-pi-intro h4 {
      margin: 0;
      font-weight: 500;
      font-size: 11px; }
      .ug .event__documents-pi-intro h4 {
        font-family: "Sansation";
        font-weight: 700;
        font-size: 1.1em;
        text-transform: uppercase; }
    .event__documents-pi-details table, .event__documents-pi-program table {
      width: 100%; }
      .event__documents-pi-details table tr th, .event__documents-pi-details table tr td, .event__documents-pi-program table tr th, .event__documents-pi-program table tr td {
        font-size: 11px !important;
        line-height: 1.5em; }
      .event__documents-pi-details table tr th, .event__documents-pi-program table tr th {
        width: 20%;
        font-family: "Gotham Bold"; }
        .ug .event__documents-pi-details table tr th, .ug .event__documents-pi-program table tr th {
          font-family: "Avenir Medium"; }
      .event__documents-pi-details table tr td, .event__documents-pi-program table tr td {
        width: 80%; }
    .event__documents-pi-footer {
      position: relative;
      width: 100%;
      height: 100%;
      font-size: 8px !important;
      text-align: center;
      font-family: "Avenir Medium";
      overflow: visible; }
      .event__documents-pi-footer .bullet {
        color: #ffb700 !important; }
      .event__documents-pi-footer .left, .event__documents-pi-footer .right {
        position: absolute;
        width: 50%;
        left: 0;
        top: 20px; }
      .event__documents-pi-footer .right {
        left: auto;
        right: 0; }
      .event__documents-pi-footer .logo {
        position: absolute;
        left: 48%;
        top: 0;
        width: 25px;
        z-index: 100; }
        .event__documents-pi-footer .logo img {
          width: 100%; }
        .event__documents-pi-footer .logo__page-number, .event__documents-pi-footer .logo__logo {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          z-index: 102; }
        .event__documents-pi-footer .logo__page-number {
          top: 7px;
          z-index: 110; }
  .event__documents-h-staff {
    border: 1px solid #666666;
    margin-bottom: 20px;
    page-break-inside: avoid; }
    .event__documents-h-staff .line {
      padding: 5px 10px; }
  .event__documents-h-staff-header {
    background-color: #f4f6f8;
    border-bottom: 1px solid #666666; }
    .event__documents-h-staff-header .name {
      margin: 5px 10px 0 10px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.2em;
      border-bottom: 1px solid #666666; }
  .event__documents-h-staff-hours {
    padding: 5px 0;
    border: 0 !important; }
  .event__documents--feedback .boxes {
    width: 100%;
    border: 1px solid #f4f6f8; }
  .event__documents--feedback .box th {
    padding: 3px 6px;
    background-color: #bfbfbf;
    font-weight: bold;
    text-transform: uppercase; }
    .event__documents--feedback .box th small {
      text-transform: none; }
  .event__documents--feedback .box td {
    height: 100px !important; }
  .event__documents--memo {
    font-family: "Avenir Medium";
    font-weight: 300; }
    .event__documents--memo h1, .event__documents--memo h2, .event__documents--memo h3 {
      font-family: "Clarendon LT Std" !important;
      text-transform: uppercase;
      font-weight: 700; }
      .ubic .event__documents--memo h1, .ubic .event__documents--memo h2, .ubic .event__documents--memo h3 {
        padding-top: 8px; }
      .ug .event__documents--memo h1, .ug .event__documents--memo h2, .ug .event__documents--memo h3 {
        font-family: "Lato"; }
    .event__documents--memo h3 {
      padding: 3px 0;
      border-top: 1px solid black;
      border-bottom: 1px solid black; }
    .event__documents--memo table {
      margin-top: 10px;
      border-bottom: 1px solid black;
      font-size: 18px; }
      .event__documents--memo table th {
        width: 30%;
        text-transform: uppercase;
        font-family: "Avenir Heavy"; }
      .event__documents--memo table .small th {
        text-transform: none; }
  .event__documents--briefing h1, .event__documents--briefing h3 {
    margin: 0;
    font-family: "Clarendon LT Std";
    font-weight: 700;
    text-transform: uppercase; }
  .event__documents--briefing h3, .event__documents--briefing h5 {
    margin-bottom: 20px; }
  .event__documents--evaluation h3, .event__documents--evaluation h4 {
    margin: 0 0 20px 0;
    font-family: "Clarendon LT Std";
    font-weight: 700;
    text-transform: uppercase; }
  .event__documents--evaluation h4 {
    margin: 30px 0 10px 0;
    font-size: 18px; }
  .event__documents--evaluation .table--details .label {
    text-align: left;
    width: 30%; }
  .event__documents--evaluation .table--evaluation {
    table-layout: fixed; }
    .event__documents--evaluation .table--evaluation td {
      border: 0 !important;
      text-align: center; }
      .event__documents--evaluation .table--evaluation td small {
        display: inline;
        font-style: italic; }
      .event__documents--evaluation .table--evaluation td.label, .event__documents--evaluation .table--evaluation td.legend {
        text-align: left; }
      .event__documents--evaluation .table--evaluation td.label {
        width: 80% !important; }
      .event__documents--evaluation .table--evaluation td.score {
        width: 4% !important; }
      .event__documents--evaluation .table--evaluation td.spacer {
        width: 100% !important;
        height: 20px; }
  .event__documents-eg-mg-type {
    position: absolute;
    top: 20px;
    right: 0; }
    .event__documents-eg-mg-type .label {
      background-color: black;
      color: white !important;
      padding: 8px 15px;
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
      font-family: "Avenir Heavy"; }

/*# sourceMappingURL=_all.css.map */
