$percent: 5%
.btn-company
  color: $white
  border: 0 !important
  cursor: auto
  &:hover, &:focus
    color: $white

  &-all
    background-color: $white
    border: 1px solid $grey--middle !important
    color: $grey--dark !important
    &::after
      content: 'ALL'
  &-ubic-group
    background-color: $ubic-group
    &::after
      content: 'UG'
    &.active, &:focus, &:active
      background-color: darken($ubic-group, $percent)
  &-ubic
    background-color: $ubic
    &::after
      content: 'UB'
    &.active, &:focus, &:active
      background-color: darken($ubic, $percent)
  &-festiloc, &-fl
    background-color: $festiloc
    &::after
      content: 'FL'
    &.active, &:focus, &:active
      background-color: darken($festiloc, $percent)
  &-ug
    background-color: $ug
    &::after
      content: 'UG'
    &.active, &:focus, &:active
      background-color: darken($ug, $percent)
  &-eg
    background-color: $eg
    &::after
      content: 'EG'
    &.active, &:focus, &:active
      background-color: darken($eg, $percent)
  &-mg
    background-color: $mg
    &::after
      content: 'MG'
    &.active, &:focus, &:active
      background-color: darken($mg, $percent)
