#checklist-batches-tasks

	.empty
		display: none

	label
		display: inline
		margin: 0

	.task-title-sp
		display: block
		span
			&.editable
				cursor: text
				border-bottom: 0

	.new-task
		.task-checkbox
			visibility: hidden
		.task-title
			margin-left: 30px

	input[type="text"]
		display: inline
		width: 100%

	.empty-feed
		border: 2px dashed $light-grey--task !important
		background: none !important
		opacity: 0.3

	.form-inline
		width: 100%
		.form-group
			display: block
			width: 100%
			.editable-input
				width: 90%

	.editable-container
		display: block
		width: 100%
