@import "../theme/sass/global/variables"

.capitalize
  text-transform: capitalize

.bootstrap-timepicker-widget
  z-index: 9999999 !important

/* here you can put your own css to customize and override the theme

body
  position: relative
  &.modal-open
    overflow: hidden !important
  &.festiloc-depot
    background: none
    background-color: $white
    .page-content
      margin: 0
      padding: 20px

.container
  margin-right: auto
  margin-left: auto
  padding-left: 15px
  padding-right: 15px
  &::before
    content: " "
    display: table
  &::after
    content: " "
    display: table
    clear: both

@media (min-width: 768px)
  .container
    width: 730px

@media (min-width: 950px)
  .container
    width: 903px

@media (min-width: 1300px)
  .container
    width: 1235px

@media (min-width: 1440px)
  .container
    width: 1370px

.no-margin
  margin: 0

.ribbon
  top: 2px
  right: 14px

td hr
  margin: 10px 0

/***
 *Rounded Portlets
 ***

.metronic2 .portlet
  border-radius: 4px !important
  .portlet-title
    border-radius: 4px 4px 0px 0px !important
  .portlet-body
    border-radius: 0px 0px 4px 4px !important
    .form-actions
      border-radius: 0px 0px 4px 4px !important
  &.place
    position: relative

.metronic6
  #selectStockItemInput
    display: none
  .tabbable-custom > .nav-tabs > li.active
    border-top: 3px solid #2f373e
  .page-content .page-content-fixed-header
    background-color: #f4f6f7
  .page-sidebar .page-sidebar-menu
    > li > a > i, .sub-menu > li > a > i
      color: #5b9bd1 !important
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i
    color: #5b9bd1 !important
  .page-sidebar .page-sidebar-menu
    li > a:hover > .arrow:before, .sub-menu li > a:hover > .arrow:before
      color: #5b9bd1 !important
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a:hover > .arrow:before
    color: #5b9bd1 !important
  .page-sidebar .page-sidebar-menu
    > li.open > a > .arrow:before, .sub-menu > li.open > a > .arrow:before
      color: #5b9bd1 !important
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow:before
    color: #5b9bd1 !important
  .page-sidebar .page-sidebar-menu
    > li.open:hover i, .sub-menu > li.open:hover i
      color: #5b9bd1 !important
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open:hover i
    color: #5b9bd1 !important
  .selectStockItemInput
    display: none
  &.festiloc .selectStockItemInput
    margin-top: 11px
    margin-right: 20px
    display: block

.availability-user
  min-height: 400px

.dataTable tbody tr td
  vertical-align: top !important

/* UNSTYLED LISTS

ul.list-unstyled li
  padding-bottom: 5px

.page-header.navbar .page-logo .logo-default
  margin-top: 15px

table.my-table > tbody > tr > td
  vertical-align: middle

.configuration-form
  padding: 10px 10px 10px 0
  .form-group:last-child
    margin-bottom: 0

.form .form-section.first
  margin-top: 5px

.dropzone
  min-height: 200px

.row.search-result
  margin-top: 20px

.btn
  &.free.active
    background-color: #e5e5e5
  &.confirmed.active
    background-color: #35aa47
  &.occupied.active
    background-color: #d91e18
  &.to_discuss.active
    background-color: #e87e04
  &.prereserved.active
    background-color: #ffb848

/*#sortable_portlets .portlet:hover{
 *	cursor: move;
 *}

li.has-children ul
  display: none

.calendar1
  padding-top: 5px
  float: left
  width: 100%
  background: #ededef
  background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc))
  background: -moz-linear-gradient(top, #ededef, #ccc)
  font: bold 110px/150px Arial Black, Arial, Helvetica, sans-serif !important
  text-align: center
  color: #000
  text-shadow: $white 0 1px 0
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  border-radius: 3px
  position: relative
  -moz-box-shadow: 0 2px 2px #888
  -webkit-box-shadow: 0 2px 2px #888
  box-shadow: 0 2px 2px #888
  em
    display: block
    font: normal bold 30px/60px Arial, Helvetica, sans-serif
    color: $white
    text-shadow: #00365a 0 -1px 0
    background: #04599a
    background: -webkit-gradient(linear, left top, left bottom, from(#04599a), to(#00365a))
    background: -moz-linear-gradient(top, #04599a, #00365a)
    -moz-border-radius-bottomright: 3px
    -webkit-border-bottom-right-radius: 3px
    border-bottom-right-radius: 3px
    -moz-border-radius-bottomleft: 3px
    -webkit-border-bottom-left-radius: 3px
    border-bottom-left-radius: 3px
    border-top: 1px solid #00365a
  &:before, &:after
    content: ''
    float: left
    position: absolute
    top: 5px
    width: 8px
    height: 8px
    background: #111
    z-index: 1
    -moz-border-radius: 10px
    -webkit-border-radius: 10px
    border-radius: 10px
    -moz-box-shadow: 0 1px 1px $white
    -webkit-box-shadow: 0 1px 1px $white
    box-shadow: 0 1px 1px $white
  &:before
    left: 11px
  &:after
    right: 11px
  em
    &:before, &:after
      content: ''
      float: left
      position: absolute
      top: -5px
      width: 4px
      height: 14px
      background: #dadada
      background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaa))
      background: -moz-linear-gradient(top, #f1f1f1, #aaa)
      z-index: 2
      -moz-border-radius: 2px
      -webkit-border-radius: 2px
      border-radius: 2px
    &:before
      left: 13px
    &:after
      right: 13px

.mix-grid .mix
  .mix-details h4
    font-size: 14px
  a
    &.mix-delete
      color: #555
      display: block
      cursor: pointer
      margin-top: 10px
      position: absolute
      padding: 10px 15px
      background: #16b2f4
    &.mix-link
      right: 60%
    &.mix-preview
      left: 40%
    &.mix-delete
      left: 60%

.portlet.competence:last-child .actions
  display: block !important

#loading, div.loading
  z-index: 10000
  width: 100%
  height: 100%
  position: fixed
  background-color: rgba(51, 51, 51, 0.5)
  overflow: hidden
  display: none

#loading div, div.loading div
  margin: auto
  position: absolute
  width: 46px
  height: 46px
  top: 0
  left: 0
  bottom: 0
  right: 0

#loading div i
  color: $white

div.loading
  display: block
  background: none
  position: absolute
  div i
    color: #666

/* PRICE LIST

.row
  &.top
    h3, h4, p
      margin: 0
  &.header
    color: #771318
    border-bottom: 2px solid #771318
    padding-bottom: 5px
    margin-bottom: 5px

/* SEARCH PLACES RESULTS

.scroller ul.list-unstyled
  margin-bottom: 0
  li
    padding-bottom: 5px
    &:last-child
      padding-bottom: 0px

.portlet.place .caption a:hover
  text-decoration: none

table.depot td
  border: 1px solid #ddd
  text-align: center
  position: relative
  &.bg-green, &.bg-red, &.bg-grey, &.bg-yellow
    opacity: 0.8

.tools .badge
  &.bg-green, &.bg-red, &.bg-grey, &.bg-yellow
    opacity: 0.8

table.depot td
  &.bg-green.node
    opacity: 0.9
  &.up
    border-top: 3px solid red
  &.down
    border-bottom: 3px solid red
  &.left
    border-left: 3px solid red
  &.right
    border-right: 3px solid red
  small
    position: absolute
    right: 0
    bottom: 0
    font-size: 8px
    opacity: 0.4

#modules div.checker
  height: auto
  span, input
    height: auto

#calendar1 .tools .badge
  margin-left: 15px
  margin-right: 5px
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75)
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75)
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75)
  &:first-child
    margin-left: 0px

.portlet.calendar .fc-event
  padding: 10px
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75)
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75)
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75)
  .fc-time, .fc-title
    font-size: 12px
  &.date .fc-title
    color: #8a6d3b
  &.order .fc-title
    color: #a94442
  .fc-time
    padding-bottom: 5px
    font-weight: bold

.fc-time-grid-event .fc-bg
  opacity: 0

.fc-day-grid-event > .fc-content
  white-space: normal

.portlet.calendar .fc-today
  background-color: #eef7fb

.invoice
  font-size: 11px
  ul.list-unstyled li
    padding-bottom: 0
    line-height: 14px
    padding-bottom: 4px
  .address ul.list-unstyled li
    font-size: 10px
    line-height: 12px
    margin: 0
    padding: 0
  ul.client li
    font-size: 12px
    line-height: 12px
    &.festiloc
      border-bottom: 1px solid #333
      margin-bottom: 7px
      padding-bottom: 0
      font-size: 10px
  table
    margin-top: 0px
    margin-bottom: 20px
    tr
      td, th
        font-size: 11px
        padding: 5px
      td
        padding-bottom: 2px
  ul.offer li h4
    margin: 0
    padding: 0

.contact-people .dashboard-stat
  border-bottom: 1px solid #eee
  &:hover
    text-decoration: none
    color: #5b9bd1
    pointer-events: none
    cursor: default
  &:last-child
    border-bottom: 0
  .details
    position: relative
    right: auto
    padding-right: 0
    .desc
      font-size: 14px
  .visual > i
    font-size: 80px

.festiloc
  .table > tbody > tr > td
    vertical-align: middle
  .portlet.processed
  #filters
    position: fixed
    z-index: 10000
    background: #fafafa
    top: 0
    left: 0
    right: 0
    padding: 30px 20px 15px 20px
    -webkit-box-shadow: 0px 0px 8px 2px #ccc
    -moz-box-shadow: 0px 0px 8px 2px #ccc
    box-shadow: 0px 0px 8px 2px #ccc
  #orders
    margin-top: 150px
  .portlet-title span.title
    display: inline-block
    border-right: 2px solid #e35b5a
    margin: 0
    padding: 0
    padding-left: 10px
    padding-right: 15px
  .portlet.bg-red-pink .portlet-title span.title
    border-right: 2px solid #fafafa
  .portlet-title span.title:last-child, .portlet.bg-red-pink .portlet-title span.title:last-child
    border-right: 0

.gm-style-iw > div
  display: block !important

.chart a[title="JavaScript charts"]
  display: none !important

table tbody tr td label
  margin-bottom: 0

/*.page-sidebar .page-sidebar-menu > li.festiloc {
 *	background-color: #800D1B;
 *}
 *.page-sidebar .page-sidebar-menu > li.festiloc i.fa, .page-sidebar .page-sidebar-menu > li.festiloc .title {
 *	color: $white;
 *}
 *.page-sidebar .page-sidebar-menu > li.festiloc .arrow:before {
 *	color: $white;
 *}
/*#s2id_StockOrderDeliveryPlace ul li {
 *	border: 0;
 *	padding-left: 0;
 *}
 *#s2id_StockOrderDeliveryPlace .select2-search-choice-close {
 *	display: none;
 *	right: -10px;
 *	left: auto;
 *}

.notified
  position: relative
  opacity: 0.5
  &:after
    content: "\f003"
    position: absolute
    width: 20px
    height: 20px
    left: 10px
    top: 10px
    font: normal normal normal 16px/1 FontAwesome

.portlet.calendar .preparationWeekCalendar .fc-event
  background-color: #999
  &.festiloc
    background-color: rgb(129, 14, 28)
  &.client
    background-color: #29780F

.fc-event-container
  position: relative
  h4
    margin-top: 0
    text-align: right
  strong
    display: block
  .return, .trailer
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px)
  .depot-order.return
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.4) 15px, rgba(0, 0, 0, 0.4) 30px)
  span.tour
    position: absolute
    right: 5px
    bottom: 5px
    font-size: 25px
    opacity: 0.4
    color: $white

.portlet.calendar .fc-event
  &.ug, &.ubic
    position: relative
  &.ug:after
    content: "\f041"
    position: absolute
    width: 20px
    height: 20px
    right: 13px
    bottom: 25px
    color: $white
    opacity: 0.5
    font: normal normal normal 60px/1 FontAwesome
  &.ubic1:after
    content: "UBIC"
    position: absolute
    width: 20px
    height: 20px
    right: 13px
    bottom: 25px
    color: $white
    opacity: 0.5
    font-size: 45px

.preparationWeekCalendar .fc-day-header
  cursor: pointer

.empty-row
  background-color: #BFBFBF !important
  height: 45px

.tour-orders .empty-row
  height: 73px

.sortable
  cursor: default

.tour-orders tbody tr:hover
  cursor: move

legend
  font-size: 16px
  color: #666
  font-weight: 300

#stockitemsTable .actions
  position: relative
  span
    position: absolute
    left: -14px
    top: 50%
    margin-top: -9px
    background: none

/*table.dataTable.dtr-inline.collapsed.hide-link tbody td:first-child, table.dataTable.dtr-inline.collapsed.hide-link tbody th:first-child {
 *	padding-left: 8px;
 *}
 *table.dataTable.dtr-inline.collapsed.hide-link tbody td:first-child:before, table.dataTable.dtr-inline.collapsed.hide-link tbody th:first-child:before {
 *	display: none;
 *}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.details-control:first-child:before
  display: none

.place .tab-pane
  min-height: 200px
  height: auto !important
  height: 200px

.check-order
  display: none

.page-header .navbar .topbar-actions .btn-group-red
  position: relative
  margin: 0 30px 0 15px
  .btn
    top: 6px
    padding: 8px
    position: relative
    color: $white
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    -ms-border-radius: 2px
    -o-border-radius: 2px
    border-radius: 2px
    background-clip: padding-box
    width: 35px
    height: 35px

#turnover
  thead tr th
    font-size: 32px
  tbody tr
    td
      font-size: 28px
    &:last-child td
      border-top-width: 2px

ul
  &.page-sidebar-menu > li.start.active > a
    background: none
  &.feeds
    .cont
      &-col1
        margin-right: 0 !important
      &-col2
        width: auto !important
        .desc
          margin-left: 10px !important
    .col1
      float: left
    .col2
      float: right
    .start-point, .end-point
      background-color: #666
    .start-point:hover, .end-point:hover
      background-color: #333
      cursor: pointer
    li
      .action
        display: none
        padding: 6px 4px 6px 4px
        vertical-align: middle
        text-align: center
      &:hover .action
        display: inline-block

.feeds li
  .col1 > .cont > .cont-col2 > .desc
    padding-bottom: 4px
  .col2 > .date
    color: #6e8591

.empty-feed
  background-color: #999
  border: 2px dashed #888

.feeds li
  .col2
    width: 110px
    margin-left: -110px
  .cont-col2 .desc span a
    color: #82949a
    &:hover
      text-decoration: none
  &.sortable .label:hover
    cursor: move

table.tour-infos tbody tr:first-child td
  border-top: 0

.empty-col-md-6
  background-color: #efefef
  border: 1px dashed #ccc
  min-height: 200px
  width: 50%
  float: left

.depotCalendar .fc-event.depot-order
  position: relative
  overflow: hidden
  .fc-title
    font-weight: 600
  span
    display: block
    float: left
  .btn
    margin: 0 8px 0 0
    font-size: 10px
    background-color: $white
    color: #000
    text-shadow: none
  &.last_modified
    transition: all 2s
    &:before
      content: "\f00c"
      position: absolute
      top: 50%
      right: 30%
      margin-top: -18px
      font: normal normal normal 36px/1 FontAwesome
      opacity: 0.9
      transition: all 1.5s
    &.faded:before
      opacity: 0
  &:after
    content: ""
    position: absolute
    right: 7px
    top: 7px
    font: normal normal normal 16px/1 FontAwesome
    text-align: center
  &.festiloc:after
    content: "\f0d1"
  &.client:after
    content: "\f007"
  &.transporter:after
    content: "\f003"
  &.cancelled:after
    content: "\f071"
  &.notify
    /*background-color: #D91E18 !important;
    position: relative
    z-index: 0
    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      border-style: solid
      border-width: 30px 30px 0 0
      border-color: #D91E18 transparent transparent transparent
      z-index: -1
  span
    font-weight: 600
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1)

.portlet.light.depot-calendar
  padding: 0

.depot-calendar ul
  margin: 0
  padding: 10px
  background-color: #eee
  li
    display: inline-block
    margin-right: 10px
    list-style: none
    span
      margin-right: 5px

.mt-element-step .step-line
  .mt-step-col a
    color: inherit
    text-decoration: none
  .mt-step-number
    color: #666
    background-color: #ddd !important
  .done .mt-step-number
    background-color: rgba(38, 194, 129, 0.3) !important
    background-color: #BEEDD9 !important
  .active .mt-step-number
    background-color: rgba(50, 197, 210, 0.3) !important
    background-color: #C2EEF2 !important

.timeline .timeline-icon
  border-radius: 0 !important
  -webkit-border-radius: 0 !important

.table-staff tbody tr
  td
    vertical-align: middle
  &.blurred
    opacity: 0.5

.availability-cell
  position: relative
  cursor: pointer
  &.selected
    -webkit-transition: all 0.2s ease-in-out
    -moz-transition: all 0.2s ease-in-out
    -o-transition: all 0.2s ease-in-out
    transition: all 0.2s ease-in-out
    font-weight: bold
  .drag
    content: ""
    position: absolute
    top: 0
    height: 100%
    width: 2px
    cursor: ew-resize
  .drag-left
    left: 0
  .drag-right
    right: 0

@media (min-width: 992px)
  .festiloc .page-content-wrapper .page-content
    margin-left: 0
  .mt-element-step .step-line .mt-step-col
    width: 20%

@media (min-width: 360px)
  th.portrait
    max-width: 22px
