$blue: #337ab7
#event-navigation
  position: fixed
  left: 0
  top: 50%
  transform: translateY(-50%)
  li
    padding-bottom: 0
    &.divider
      margin: 2px 0
    &:last-child
      .icon
        border: 0
  a
    position: relative
    display: inline-block
    padding-right: 10px
    text-decoration: none
    transition: all 0.2s
    &:hover
      .icon
        background-color: darken($blue, 5)
      .name
        transform: translateX(0)
        background-color: darken($blue, 5)
  .icon
    display: inline-block
    padding: 5px
    background-color: $blue
    color: $white
    border-bottom: 1px solid lighten($blue, 10)
  .name
    display: inline-block
    float: right
    padding: 5px 10px
    background-color: $blue
    transition: all 0.2s
    transform: translateX(-999px)
    color: $white
