.accordion .panel-title {
  position: relative;
  font-size: 1em; }
.accordion strong.uppercase {
  display: block;
  margin-bottom: 5px; }
.accordion .drag-me {
  margin-left: -5px;
  cursor: move; }

.accordion-toggle {
  cursor: pointer; }
