.accordion
  .panel-title
    font-size: 1em
    position: relative
  strong
    &.uppercase
      display: block
      margin-bottom: 5px
  .drag-me
    margin-left: -5px
    cursor: move

.accordion-toggle
  cursor: pointer



.portlet

  .portlet-body
    min-height: 100px

  &.place-result.light
    padding: 8px 12px
    background-color: #f5f5f5
    .portlet-body
      padding: 0
      small.bold
        display: block
        margin-bottom: 5px
