.festiloc, .festiloc-depot
	.page-content
		background-color: $white



#stockitemsTable.table
	.btn
		margin-right: 0

	thead
		th:nth-child(0)
			width: 5%
		th:nth-child(3)
			width: 20%
		th:nth-child(5)
			width: 12%
		th:nth-child(8)
			width: 11%

#StockOrderEditForm
	span.select2
		width: 100% !important
