.spinner {
  position: relative; }
  .spinner:after {
    content: "";
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: red; }

/*# sourceMappingURL=_forms.css.map */
