.page-header

	.page-header-menu
		.search-form
			width: 250px
			.input-group
				.form-control
					color: #BCC2CB

	.page-header-top
		.container
			padding: 0

.logo
	svg
		width: 100px
		height: 50px

	path
		fill: #444d58
		transition: all 0.3s ease-in-out
		transform-origin: 50% 50%

	&:hover
		#wheel1
			transform: rotate(45deg)
		#wheel2
			transform: rotate(-45deg)
			transition-delay: 0.05s
		#wheel3
			transform: rotate(45deg)
			transition-delay: 0.1s
		// #m, #y
		// 	transform: translateX(5px)
