$size: 10px

.triangle
	position: relative
	&::before
		content: ""
		position: absolute
		width: 0
		height: 0
		border-style: solid
		border-width: $size $size 0 0
		border-color: $red transparent transparent transparent

	&__top-left
		&::before
			top: 0
			left: 0

	&__top-right
		&::before
			top: 0
			left: right
