/* some variables */
/* Company colors */
.accordion .panel-title {
  position: relative;
  font-size: 1em; }
.accordion strong.uppercase {
  display: block;
  margin-bottom: 5px; }
.accordion .drag-me {
  margin-left: -5px;
  cursor: move; }

.accordion-toggle {
  cursor: pointer; }

.portlet.light.place-result {
  padding: 8px 12px;
  background-color: whitesmoke; }
  .portlet.light.place-result .portlet-body {
    padding: 0; }
    .portlet.light.place-result .portlet-body small.bold {
      display: block;
      margin-bottom: 5px; }

#portlet-recruiting .modal .table .btn {
  margin-right: 0; }
#portlet-recruiting .accordion-toggle {
  position: relative; }
  #portlet-recruiting .accordion-toggle .staff {
    position: absolute;
    right: 2px;
    top: 2px;
    height: 35px;
    min-width: 35px; }
    #portlet-recruiting .accordion-toggle .staff i {
      display: block;
      margin: 0 auto; }

/* should disappear! */
/* here you can put your own css to customize and override the theme */
body {
  position: relative; }
  body.modal-open {
    overflow: hidden; }
  body.festiloc-depot {
    background: none;
    background-color: white; }
    body.festiloc-depot .page-content {
      margin: 0;
      padding: 20px; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container::before {
    content: " ";
    display: table; }
  .container::after {
    content: " ";
    display: table;
    clear: both; }

@media (min-width: 768px) {
  .container {
    width: 730px; } }
@media (min-width: 950px) {
  .container {
    width: 903px; } }
@media (min-width: 1300px) {
  .container {
    width: 1235px; } }
@media (min-width: 1440px) {
  .container {
    width: 1370px; } }
.no-margin {
  margin: 0; }

.ribbon {
  top: 2px;
  right: 14px; }

td hr {
  margin: 10px 0; }

/**
 *Rounded Portlets
 *** */
.metronic2 .portlet {
  border-radius: 4px !important; }
  .metronic2 .portlet .portlet-title {
    border-radius: 4px 4px 0px 0px !important; }
  .metronic2 .portlet .portlet-body {
    border-radius: 0px 0px 4px 4px !important; }
    .metronic2 .portlet .portlet-body .form-actions {
      border-radius: 0px 0px 4px 4px !important; }
  .metronic2 .portlet.place {
    position: relative; }

.metronic6 #selectStockItemInput {
  display: none; }
.metronic6 .tabbable-custom > .nav-tabs > li.active {
  border-top: 3px solid #2f373e; }
.metronic6 .page-content .page-content-fixed-header {
  background-color: #f4f6f7; }
.metronic6 .page-sidebar .page-sidebar-menu > li > a > i, .metronic6 .page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
  color: #5b9bd1 !important; }
.metronic6 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i {
  color: #5b9bd1 !important; }
.metronic6 .page-sidebar .page-sidebar-menu li > a:hover > .arrow:before, .metronic6 .page-sidebar .page-sidebar-menu .sub-menu li > a:hover > .arrow:before {
  color: #5b9bd1 !important; }
.metronic6 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a:hover > .arrow:before {
  color: #5b9bd1 !important; }
.metronic6 .page-sidebar .page-sidebar-menu > li.open > a > .arrow:before, .metronic6 .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow:before {
  color: #5b9bd1 !important; }
.metronic6 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow:before {
  color: #5b9bd1 !important; }
.metronic6 .page-sidebar .page-sidebar-menu > li.open:hover i, .metronic6 .page-sidebar .page-sidebar-menu .sub-menu > li.open:hover i {
  color: #5b9bd1 !important; }
.metronic6 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open:hover i {
  color: #5b9bd1 !important; }
.metronic6 .selectStockItemInput {
  display: none; }
.metronic6.festiloc .selectStockItemInput {
  margin-top: 11px;
  margin-right: 20px;
  display: block; }

.availability-user {
  min-height: 400px; }

.dataTable tbody tr td {
  vertical-align: top !important; }

/* UNSTYLED LISTS */
ul.list-unstyled li {
  padding-bottom: 5px; }

.page-header.navbar .page-logo .logo-default {
  margin-top: 15px; }

table.my-table > tbody > tr > td {
  vertical-align: middle; }

.configuration-form {
  padding: 10px 10px 10px 0; }
  .configuration-form .form-group:last-child {
    margin-bottom: 0; }

.form .form-section.first {
  margin-top: 5px; }

.dropzone {
  min-height: 200px; }

.row.search-result {
  margin-top: 20px; }

.btn.free.active {
  background-color: #e5e5e5; }
.btn.confirmed.active {
  background-color: #35aa47; }
.btn.occupied.active {
  background-color: #d91e18; }
.btn.to_discuss.active {
  background-color: #e87e04; }
.btn.prereserved.active {
  background-color: #ffb848; }

/*#sortable_portlets .portlet:hover{
 *	cursor: move;
 *} */
li.has-children ul {
  display: none; }

.calendar1 {
  padding-top: 5px;
  float: left;
  width: 100%;
  background: #ededef;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#cccccc));
  background: -moz-linear-gradient(top, #ededef, #cccccc);
  font: bold 110px/150px Arial black, Arial, Helvetica, sans-serif !important;
  text-align: center;
  color: black;
  text-shadow: white 0 1px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  -moz-box-shadow: 0 2px 2px #888888;
  -webkit-box-shadow: 0 2px 2px #888888;
  box-shadow: 0 2px 2px #888888; }
  .calendar1 em {
    display: block;
    font: normal bold 30px/60px Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: #00365a 0 -1px 0;
    background: #04599a;
    background: -webkit-gradient(linear, left top, left bottom, from(#04599a), to(#00365a));
    background: -moz-linear-gradient(top, #04599a, #00365a);
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #00365a; }
  .calendar1:before, .calendar1:after {
    content: "";
    float: left;
    position: absolute;
    top: 5px;
    width: 8px;
    height: 8px;
    background: #111111;
    z-index: 1;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px white;
    -webkit-box-shadow: 0 1px 1px white;
    box-shadow: 0 1px 1px white; }
  .calendar1:before {
    left: 11px; }
  .calendar1:after {
    right: 11px; }
  .calendar1 em:before, .calendar1 em:after {
    content: "";
    float: left;
    position: absolute;
    top: -5px;
    width: 4px;
    height: 14px;
    background: #dadada;
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaaaaa));
    background: -moz-linear-gradient(top, #f1f1f1, #aaaaaa);
    z-index: 2;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
  .calendar1 em:before {
    left: 13px; }
  .calendar1 em:after {
    right: 13px; }

.mix-grid .mix .mix-details h4 {
  font-size: 14px; }
.mix-grid .mix a.mix-delete {
  color: #555555;
  display: block;
  cursor: pointer;
  margin-top: 10px;
  position: absolute;
  padding: 10px 15px;
  background: #16b2f4; }
.mix-grid .mix a.mix-link {
  right: 60%; }
.mix-grid .mix a.mix-preview {
  left: 40%; }
.mix-grid .mix a.mix-delete {
  left: 60%; }

.portlet.competence:last-child .actions {
  display: block !important; }

#loading, .loading {
  z-index: 10000;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(51, 51, 51, 0.5);
  overflow: hidden;
  display: none; }

#loading div, .loading div {
  margin: auto;
  position: absolute;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

#loading div i {
  color: white; }

.loading {
  display: block;
  background: none;
  position: absolute; }
  .loading div i {
    color: #666666; }

/* PRICE LIST */
.row.top h3, .row.top h4, .row.top p {
  margin: 0; }
.row.header {
  color: #771318;
  border-bottom: 2px solid #771318;
  padding-bottom: 5px;
  margin-bottom: 5px; }

/* SEARCH PLACES RESULTS */
.scroller ul.list-unstyled {
  margin-bottom: 0; }
  .scroller ul.list-unstyled li {
    padding-bottom: 5px; }
    .scroller ul.list-unstyled li:last-child {
      padding-bottom: 0px; }

.portlet.place .caption a:hover {
  text-decoration: none; }

table.depot td {
  border: 1px solid #dddddd;
  text-align: center;
  position: relative; }
  table.depot td.bg-green, table.depot td.bg-red, table.depot td.bg-grey, table.depot td.bg-yellow {
    opacity: 0.8; }

.tools .badge.bg-green, .tools .badge.bg-red, .tools .badge.bg-grey, .tools .badge.bg-yellow {
  opacity: 0.8; }

table.depot td.bg-green.node {
  opacity: 0.9; }
table.depot td.up {
  border-top: 3px solid red; }
table.depot td.down {
  border-bottom: 3px solid red; }
table.depot td.left {
  border-left: 3px solid red; }
table.depot td.right {
  border-right: 3px solid red; }
table.depot td small {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 8px;
  opacity: 0.4; }

#modules div.checker {
  height: auto; }
  #modules div.checker span, #modules div.checker input {
    height: auto; }

#calendar1 .tools .badge {
  margin-left: 15px;
  margin-right: 5px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75); }
  #calendar1 .tools .badge:first-child {
    margin-left: 0px; }

.portlet.calendar .fc-event {
  padding: 10px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75); }
  .portlet.calendar .fc-event .fc-time, .portlet.calendar .fc-event .fc-title {
    font-size: 12px; }
  .portlet.calendar .fc-event.date .fc-title {
    color: #8a6d3b; }
  .portlet.calendar .fc-event.order .fc-title {
    color: #a94442; }
  .portlet.calendar .fc-event .fc-time {
    padding-bottom: 5px;
    font-weight: bold; }

.fc-time-grid-event .fc-bg {
  opacity: 0; }

.fc-day-grid-event > .fc-content {
  white-space: normal; }

.portlet.calendar .fc-today {
  background-color: #eef7fb; }

.invoice {
  font-size: 11px; }
  .invoice ul.list-unstyled li {
    padding-bottom: 0;
    line-height: 14px;
    padding-bottom: 4px; }
  .invoice .address ul.list-unstyled li {
    font-size: 10px;
    line-height: 12px;
    margin: 0;
    padding: 0; }
  .invoice ul.client li {
    font-size: 12px;
    line-height: 12px; }
    .invoice ul.client li.festiloc {
      border-bottom: 1px solid #333333;
      margin-bottom: 7px;
      padding-bottom: 0;
      font-size: 10px; }
  .invoice table {
    margin-top: 0px;
    margin-bottom: 20px; }
    .invoice table tr td, .invoice table tr th {
      font-size: 11px;
      padding: 5px; }
    .invoice table tr td {
      padding-bottom: 2px; }
  .invoice ul.offer li h4 {
    margin: 0;
    padding: 0; }

.contact-people .dashboard-stat {
  border-bottom: 1px solid #eeeeee; }
  .contact-people .dashboard-stat:hover {
    text-decoration: none;
    color: #5b9bd1;
    pointer-events: none;
    cursor: default; }
  .contact-people .dashboard-stat:last-child {
    border-bottom: 0; }
  .contact-people .dashboard-stat .details {
    position: relative;
    right: auto;
    padding-right: 0; }
    .contact-people .dashboard-stat .details .desc {
      font-size: 14px; }
  .contact-people .dashboard-stat .visual > i {
    font-size: 80px; }

.festiloc .table > tbody > tr > td {
  vertical-align: middle; }
.festiloc #filters {
  position: fixed;
  z-index: 10000;
  background: #fafafa;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 20px 15px 20px;
  -webkit-box-shadow: 0px 0px 8px 2px #cccccc;
  -moz-box-shadow: 0px 0px 8px 2px #cccccc;
  box-shadow: 0px 0px 8px 2px #cccccc; }
.festiloc #orders {
  margin-top: 150px; }
.festiloc .portlet-title span.title {
  display: inline-block;
  border-right: 2px solid #e35b5a;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 15px; }
.festiloc .portlet.bg-red-pink .portlet-title span.title {
  border-right: 2px solid #fafafa; }
.festiloc .portlet-title span.title:last-child, .festiloc .portlet.bg-red-pink .portlet-title span.title:last-child {
  border-right: 0; }

.gm-style-iw > div {
  display: block !important; }

.chart a[title="JavaScript charts"] {
  display: none !important; }

table tbody tr td label {
  margin-bottom: 0; }

/*.page-sidebar .page-sidebar-menu > li.festiloc {
 *	background-color: #800D1B;
 *}
 *.page-sidebar .page-sidebar-menu > li.festiloc i.fa, .page-sidebar .page-sidebar-menu > li.festiloc .title {
 *	color: $white;
 *}
 *.page-sidebar .page-sidebar-menu > li.festiloc .arrow:before {
 *	color: $white;
 *} */
/*#s2id_StockOrderDeliveryPlace ul li {
 *	border: 0;
 *	padding-left: 0;
 *}
 *#s2id_StockOrderDeliveryPlace .select2-search-choice-close {
 *	display: none;
 *	right: -10px;
 *	left: auto;
 *} */
.notified {
  position: relative;
  opacity: 0.5; }
  .notified:after {
    content: "\f003";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 10px;
    font: normal normal normal 16px/1 FontAwesome; }

.portlet.calendar .preparationWeekCalendar .fc-event {
  background-color: #999999; }
  .portlet.calendar .preparationWeekCalendar .fc-event.festiloc {
    background-color: #810e1c; }
  .portlet.calendar .preparationWeekCalendar .fc-event.client {
    background-color: #29780f; }

.fc-event-container {
  position: relative; }
  .fc-event-container h4 {
    margin-top: 0;
    text-align: right; }
  .fc-event-container strong {
    display: block; }
  .fc-event-container .return, .fc-event-container .trailer {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px); }
  .fc-event-container .depot-order.return {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.4) 15px, rgba(0, 0, 0, 0.4) 30px); }
  .fc-event-container span.tour {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 25px;
    opacity: 0.4;
    color: white; }

.portlet.calendar .fc-event.ug, .portlet.calendar .fc-event.ubic {
  position: relative; }
.portlet.calendar .fc-event.ug:after {
  content: "\f041";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 13px;
  bottom: 25px;
  color: white;
  opacity: 0.5;
  font: normal normal normal 60px/1 FontAwesome; }
.portlet.calendar .fc-event.ubic1:after {
  content: "UBIC";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 13px;
  bottom: 25px;
  color: white;
  opacity: 0.5;
  font-size: 45px; }

.preparationWeekCalendar .fc-day-header {
  cursor: pointer; }

.empty-row {
  background-color: #bfbfbf !important;
  height: 45px; }

.tour-orders .empty-row {
  height: 73px; }

.sortable {
  cursor: default; }

.tour-orders tbody tr:hover {
  cursor: move; }

legend {
  font-size: 16px;
  color: #666666;
  font-weight: 300; }

#stockitemsTable .actions {
  position: relative; }
  #stockitemsTable .actions span {
    position: absolute;
    left: -14px;
    top: 50%;
    margin-top: -9px;
    background: none; }

/*table.dataTable.dtr-inline.collapsed.hide-link tbody td:first-child, table.dataTable.dtr-inline.collapsed.hide-link tbody th:first-child {
 *	padding-left: 8px;
 *}
 *table.dataTable.dtr-inline.collapsed.hide-link tbody td:first-child:before, table.dataTable.dtr-inline.collapsed.hide-link tbody th:first-child:before {
 *	display: none;
 *} */
table.dataTable.dtr-inline.collapsed > tbody > tr > td.details-control:first-child:before {
  display: none; }

.place .tab-pane {
  min-height: 200px;
  height: auto !important;
  height: 200px; }

.check-order {
  display: none; }

#reservations .stock_order {
  background-color: #820c18 !important; }
#reservations .event {
  background-color: #333333 !important; }
#reservations .confirmed {
  background-color: #31c183 !important; }
#reservations .not-confirmed {
  background-color: #999999 !important; }
#reservations .has-warning {
  background-color: #e87e04 !important; }
#reservations .fc-event-container .stock_order1 {
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px); }
#reservations .fc-event-container a * {
  color: white;
  text-decoration: none; }
#reservations .fc-event-container a a {
  display: block;
  height: 100%; }
#reservations .fc-event-container .fc-content {
  height: 100%; }

.page-header .navbar .topbar-actions .btn-group-red {
  position: relative;
  margin: 0 30px 0 15px; }
  .page-header .navbar .topbar-actions .btn-group-red .btn {
    top: 6px;
    padding: 8px;
    position: relative;
    color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    width: 35px;
    height: 35px; }

#turnover thead tr th {
  font-size: 32px; }
#turnover tbody tr td {
  font-size: 28px; }
#turnover tbody tr:last-child td {
  border-top-width: 2px; }

ul.page-sidebar-menu > li.start.active > a {
  background: none; }
ul.feeds .col1 {
  float: left; }
ul.feeds .start-point, ul.feeds .end-point {
  background-color: #666666; }
ul.feeds .start-point:hover, ul.feeds .end-point:hover {
  background-color: #333333;
  cursor: pointer; }
ul.feeds li .action {
  display: none;
  padding: 6px 4px 6px 4px;
  vertical-align: middle;
  text-align: center; }
ul.feeds li:hover .action {
  display: inline-block; }

.feeds li .col1 > .cont > .cont-col2 > .desc {
  padding-bottom: 4px; }
.feeds li .col2 > .date {
  color: #6e8591; }

.empty-feed {
  background-color: #999999;
  border: 2px dashed #888888;
  height: 23px; }

.feeds li .col2 {
  width: 110px;
  margin-left: -110px; }
.feeds li .cont-col2 .desc span a {
  color: #82949a; }
  .feeds li .cont-col2 .desc span a:hover {
    text-decoration: none; }
.feeds li.sortable .label:hover {
  cursor: move; }

table.tour-infos tbody tr:first-child td {
  border-top: 0; }

.empty-col-md-6 {
  background-color: #efefef;
  border: 1px dashed #cccccc;
  min-height: 200px;
  width: 50%;
  float: left; }

.depotCalendar .fc-event.depot-order {
  position: relative;
  overflow: hidden; }
  .depotCalendar .fc-event.depot-order .fc-title {
    font-weight: 600; }
  .depotCalendar .fc-event.depot-order span {
    display: block;
    float: left; }
  .depotCalendar .fc-event.depot-order .btn {
    margin: 0 8px 0 0;
    font-size: 10px;
    background-color: white;
    color: black;
    text-shadow: none; }
  .depotCalendar .fc-event.depot-order.last_modified {
    transition: all 2s; }
    .depotCalendar .fc-event.depot-order.last_modified:before {
      content: "\f00c";
      position: absolute;
      top: 50%;
      right: 30%;
      margin-top: -18px;
      font: normal normal normal 36px/1 FontAwesome;
      opacity: 0.9;
      transition: all 1.5s; }
    .depotCalendar .fc-event.depot-order.last_modified.faded:before {
      opacity: 0; }
  .depotCalendar .fc-event.depot-order:after {
    content: "";
    position: absolute;
    right: 7px;
    top: 7px;
    font: normal normal normal 16px/1 FontAwesome;
    text-align: center; }
  .depotCalendar .fc-event.depot-order.festiloc:after {
    content: "\f0d1"; }
  .depotCalendar .fc-event.depot-order.client:after {
    content: "\f007"; }
  .depotCalendar .fc-event.depot-order.transporter:after {
    content: "\f003"; }
  .depotCalendar .fc-event.depot-order.cancelled:after {
    content: "\f071"; }
  .depotCalendar .fc-event.depot-order.notify {
    /*background-color: #D91E18 !important; */
    position: relative;
    z-index: 0; }
    .depotCalendar .fc-event.depot-order.notify:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-style: solid;
      border-width: 50px 50px 0 0;
      border-color: #d91e18 transparent transparent transparent;
      z-index: -1; }
  .depotCalendar .fc-event.depot-order span {
    font-weight: 600;
    text-shadow: 1px 1px 1px #969696; }

.portlet.light.depot-calendar {
  padding: 0; }

.depot-calendar ul {
  margin: 0;
  padding: 10px;
  background-color: #eeeeee; }
  .depot-calendar ul li {
    display: inline-block;
    margin-right: 10px;
    list-style: none; }
    .depot-calendar ul li span {
      margin-right: 5px; }

#eventsCalendar .fc-event {
  transition: all 0.2s;
  border-top: 4px solid black;
  padding: 0; }
  #eventsCalendar .fc-event.entreprise {
    border-color: #be1522 !important; }
  #eventsCalendar .fc-event.teambuilding {
    border-color: #3fc0f0 !important; }
  #eventsCalendar .fc-event.urbangaming {
    border-color: black !important; }
  #eventsCalendar .fc-event.effetgourmand {
    border-color: #a7202e !important; }
  #eventsCalendar .fc-event.leisure {
    border-color: #94c11f !important; }
  #eventsCalendar .fc-event.event_creation {
    border-color: #f9b233 !important; }
  #eventsCalendar .fc-event .before {
    height: 20%;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px); }
  #eventsCalendar .fc-event .event {
    height: 60%;
    overflow: hidden;
    position: relative; }
    #eventsCalendar .fc-event .event p {
      padding: 5px 10px; }
  #eventsCalendar .fc-event .after {
    height: 20%;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px); }
  #eventsCalendar .fc-event span.percent {
    position: absolute;
    display: block;
    bottom: 0;
    border-bottom: 4px solid #26c281; }

.mt-element-step .step-line .mt-step-col a {
  color: inherit;
  text-decoration: none; }
.mt-element-step .step-line .mt-step-number {
  color: #666666;
  background-color: #dddddd !important; }
.mt-element-step .step-line .done .mt-step-number {
  background-color: rgba(38, 194, 129, 0.3) !important;
  background-color: #beedd9 !important; }
.mt-element-step .step-line .active .mt-step-number {
  background-color: rgba(50, 197, 210, 0.3) !important;
  background-color: #c2eef2 !important; }

.timeline .timeline-icon {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important; }

.table-staff tbody tr td {
  vertical-align: middle; }
.table-staff tbody tr.blurred {
  opacity: 0.5; }

.availability-cell {
  position: relative;
  cursor: pointer; }
  .availability-cell.selected {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-weight: bold; }
  .availability-cell .drag {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    cursor: ew-resize; }
  .availability-cell .drag-left {
    left: 0; }
  .availability-cell .drag-right {
    right: 0; }

@media (min-width: 992px) {
  .festiloc .page-content-wrapper .page-content {
    margin-left: 0; }

  .mt-element-step .step-line .mt-step-col {
    width: 20%; } }
@media (min-width: 360px) {
  th.portrait {
    max-width: 22px; } }
