<p>Notification automatique</p>

<p>Le produit <?php echo $this->Html->link($stockitem['StockItem']['code'] . ' ' . $stockitem['StockItem']['name'], array('controller' => 'stock_items', 'action' => 'view', 'full_base' => true, $stockitem['StockItem']['id'])); ?> sera indisponible du <?php echo $fromDate; ?> au <?php echo $endDate; ?>.</p>

<p>http://www.myubic.ch</p>