<p>
Bonjour %first_name% %last_name%,<br><br>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ducimus tempore animi enim consectetur magni iusto, sint labore aliquam voluptate similique doloribus laboriosam ipsam omnis, maiores aperiam pariatur amet consequuntur.
<br><br>
%url%
<br><br>

%resp_full_name%

</p>

