<strong>Concept journée (but de la journée, secteur, nbre pax, langue, provenance)</strong>
<br><br>
<strong>Dépôt (heure, véhicule, spécificité chargement, co-voiturage extra)</strong>
<br><br>
<strong>Mise en place (personne de contact sur place et n°, parking, spécificités mise en place)</strong>
<br><br>
<strong>Lieu</strong>
<br>
Merci de prendre des photos et de les envoyer par email à l’EM
<br><br>
<strong>Programme (horaires et détails)</strong>
<br>
<strong>Contact entreprise - XX</strong>
<br><br>
<strong>Restauration (repas, boissons, détails)</strong>
<br><br>
<strong>Fin (horaire de fin, spécificité de rangement, remise des clés)</strong>
<br><br>
<strong>Heures animateurs</strong>
<br><br>
<strong>Dépôt (rangement au dépôt)</strong>
<br><br>
<span style="color: green">
BTS<br>
IL NE FAUT PAS TOUCHER LE VISEUR DE L’ARBALETE –SINON CA CASSE- Merci<br>
Changement de règle pour Savates :<br>
Un point pour les cibles au 1er rang<br>
Deux points pour les cibles au 2ème rang<br>
Trois points pour les cibles au 3ème rang
</span><br><br>
<strong>Rappels</strong>
<br><br>
<strong>Etiquette équipe</strong>
<br>
Avertir les clients de ne pas les coller sur des matières délicate, cuire, doudoune...<br><br>
<strong>Rangement activité</strong><br>
Remettre dans les caisses selon le stickage.
<br><br>
<strong>Matériel cassé</strong>
<br>
Il existe des étiquettes roses afin de sticker le matériel cassé ou abîmé, merci de les utiliser.
