$pi-font-size: 11px

.event__documents
  font-size: 12px
  table
    th, td
      font-size: 12px !important
      font-weight: 300
    th
      .ubic &
        font-weight: bold
      .ug &
        font-weight: 700
      &.schedule
        width: 10%
      &.steps
        width: 45%
      &.resources
        width: 45%
  .break
    display: block
    margin-bottom: 20px
    clear: both
    page-break-after: always

  &-logo
    img
      max-height: 60px

  &-header
    h1, h2
      margin: 0
      font-family: 'Clarendon LT Std'
      font-size: 25px
      text-align: center
      .ubic &
        font-weight: bold
      .ug &
        font-family: 'Sansation'
    h1
      .ug &
        text-transform: uppercase
        color: $ug !important
    h2
      font-size: 14px
      font-weight: 400
    table
      th
        width: 35%
        text-align: right
        color: $grey--dark !important
        font-weight: 400
        .ug &
          font-family: 'Sansation'
      td
        width: 65%
        padding-left: 5px
        font-weight: bold
        .ug &
          font-family: 'Sansation'
          //font-weight: 700

  &-infos
    margin: 20px 0
    padding: 5px
    border: 1px solid #e7ecf1 !important
    table
      th, td
        vertical-align: top
  &-planning
    ul, li
      padding: 0
      margin: 0
      list-style: none

    li
      position: relative
      padding-left: 15px
      &:before
        content: ""
        position: absolute
        width: 10px
        height: 10px
        top: 50%
        margin-top: -5px
        left: 0
        background-color: #ccc
        border-radius: 50%

      &.activity:before
        background-color: $planning--activity
      &.client:before
        background-color: $planning--client
      &.extra:before
        background-color: $planning--extra
      &.manager:before
        background-color: $planning--manager
      &.place:before
        background-color: $planning--place
      &.fb_module:before
        background-color: $planning--fb-module
      &.vehicle:before
        background-color: $planning--vehicle

  &-client
    margin-top: 20px

    table
      width: 100%
      tr
        td
          &.schedule
            width: 15%
          &.moment
            width: 85%
    &-logo
      text-align: center
      height: 80px
      img
        height: 100%
        max-height: 80px

  &-thanks
    margin-top: 20px

  &-remarks
    padding: 3px 5px
    margin-top: 10px
    background-color: $grey
    strong
      display: block
      margin-bottom: 10px
      font-family: 'Clarendon LT Std'
      font-weight: bold
      text-transform: uppercase

  &-infos, &-staff, &-schedule, &-planning, &-client, &-thanks, &-remarks
    .ug &
      font-family: 'Sansation'
      font-weight: 400

  &--billboard
    position: relative
    padding-top: 50px
    clear: both
    font-family: 'Gotham Light'
    p
      font-size: 20px
    h1
      font-family: 'Clarendon LT Std'
      font-size: 46px
      text-align: center
      font-weight: bold
      text-transform: uppercase
    &:before
      content: ""
      position: absolute
      left: 50%
      top: 0px
      width: 1px
      height: 10px
      background-color: $black

  &-separator
    width: 100%
    height: 8px
    background-color: $black
    &--entreprise
      background-color: $cat-entreprise
    &--events, &--event_creation
      background-color: $cat-events
    &--teambuilding
      background-color: $cat-team-building
    &--serious-game, &--leisure
      background-color: $cat-serious-game
    &--urbangaming
      background-color: $ug
    &--effetgourmand
      background-color: $eg
    &--maiergrill
      background-color: #999

  &-bb-infos
    h2, h3
      margin: 10px 0 0 0
      font-size: 44px
      text-transform: capitalize
      font-family: 'Gotham Bold'
      font-weight: 700
    h3
      margin: 0
      font-size: 34px
      line-height: 38px

  &-bb-jobs
    ul
      margin-top: 20px
      li
        position: relative
        display: block
        padding-left: 25px
        margin-bottom: 2px
        font-size: 16px
        border-bottom: 1px solid $grey
        line-height: 30px
        height: 30px
        &:before
          position: absolute
          content: ""
          left: 0
          top: 50%
          margin-top: -10px
          width: 20px
          height: 20px
          border: 1px solid $black
          background-color: $white
          border-radius: 0
  &-bb-footer
    position: absolute
    width: 100%
    top: 46%
    left: 0
    padding-top: 20px
    transform: translateY(-100%)
    .flag-icon
      font-size: 20px

  &-bb-planning
    .moment
      font-size: 24px
      font-weight: bold !important
      text-transform: uppercase

  &-container
    margin-right: 14mm

  &-pi
    font-size: $pi-font-size
    font-family: 'Gotham Light'
    .ug &
      font-family: 'Avenir Light'

    &-details, &-misc, &-program, &-contact
      strong
        font-weight: bold
        .ug &
          font-weight: 700
      .h3, h3
        width: 100%
        margin: 20px 0 10px 0
        padding: 5px 0 0 0
        border-top: 1px solid $black
        border-bottom: 1px solid $black
        font-size: $pi-font-size
        font-family: 'Clarendon LT Std'
        font-weight: 500
        text-transform: uppercase
        .ug &
          font-family: 'Sansation'
          font-weight: 700
          font-size: 1.1em
          border-bottom: 0
          border-top: 1px solid $ug
    &-misc
      ul
        margin: 0
        padding: 0 0 0 20px
        .ug &
          padding: 0

    &-header
      position: relative
      margin-bottom: 180px
      .ug &
        margin-bottom: 130px
      .sticker
        display: none
        position: absolute
        top: 0
        right: 0

        img
          display: block
          width: 94%
          max-width: 100%
          float: right

        &--ubic
          .ubic &
            display: block
        &--ug
          .ug &
            display: block
          img
            width: 40%

    &-intro
      h2
        margin: 0
        font-size: 1.3333em
        font-family: 'Clarendon LT Std'
        font-weight: 500
        text-transform: uppercase
        .ug &
          font-family: 'Sansation'
          font-weight: 700
          font-size: 2.2em
          color: $ug !important
      h4
        margin: 0
        font-weight: 500
        font-size: $pi-font-size
        .ug &
          font-family: 'Sansation'
          font-weight: 700
          font-size: 1.1em
          text-transform: uppercase

    &-details, &-program
      table
        width: 100%
        tr
          th, td
            font-size: $pi-font-size !important
            line-height: 1.5em
          th
            width: 20%
            font-family: 'Gotham Bold'
            .ug &
              font-family: 'Avenir Medium'
          td
            width: 80%
    &-footer
      position: relative
      width: 100%
      height: 100%
      font-size: 8px !important
      text-align: center
      font-family: 'Avenir Medium'
      overflow: visible
      .bullet
        color: $ug !important
      .left, .right
        position: absolute
        width: 50%
        left: 0
        top: 20px
      .right
        left: auto
        right: 0
      .logo
        position: absolute
        left: 48%
        top: 0
        width: 25px
        z-index: 100
        img
          width: 100%
        &__page-number, &__logo
          position: absolute
          width: 100%
          height: 100%
          top: 0
          z-index: 102
        &__page-number
          top: 7px
          z-index: 110

  &-h
    &-staff
      border: 1px solid $grey--dark
      margin-bottom: 20px
      page-break-inside: avoid
      .line
        padding: 5px 10px

    &-staff-header
      background-color: $grey--light
      border-bottom: 1px solid $grey--dark
      .name
        margin: 5px 10px 0 10px
        text-transform: uppercase
        font-weight: bold
        font-size: 1.2em
        border-bottom: 1px solid $grey--dark

    &-staff-hours
      padding: 5px 0
      border: 0 !important

  &--feedback
    .boxes
      width: 100%
      border: 1px solid $grey--light
    .box
      th
        padding: 3px 6px
        background-color: $grey
        font-weight: bold
        text-transform: uppercase
        small
          text-transform: none
      td
        height: 100px !important

  &--memo
    font-family: 'Avenir Medium'
    font-weight: 300
    h1, h2, h3
      font-family: 'Clarendon LT Std' !important
      text-transform: uppercase
      font-weight: 700
      .ubic &
        padding-top: 8px
      .ug &
        font-family: 'Lato'
    h3
      padding: 3px 0
      border-top: 1px solid $black
      border-bottom: 1px solid $black
    table
      margin-top: 10px
      border-bottom: 1px solid $black
      font-size: 18px
      th
        width: 30%
        text-transform: uppercase
        font-family: 'Avenir Heavy'
      td
      .small th
        text-transform: none
  &--briefing
    h1, h3
      margin: 0
      font-family: 'Clarendon LT Std'
      font-weight: 700
      text-transform: uppercase
    h3, h5
      margin-bottom: 20px

  &--evaluation
    h3, h4
      margin: 0 0 20px 0
      font-family: 'Clarendon LT Std'
      font-weight: 700
      text-transform: uppercase
    h4
      margin: 30px 0 10px 0
      font-size: 18px

    .table--details
      .label
        text-align: left
        width: 30%
    .table--evaluation
      table-layout: fixed
      td
        border: 0 !important
        text-align: center
        small
          display: inline
          font-style: italic
        &.label, &.legend
          text-align: left
        &.label
          width: 80% !important
        &.score
          width: 4% !important
        &.spacer
          width: 100% !important
          height: 20px

  &-eg-mg-type
    position: absolute
    top: 20px
    right: 0
    .label
      background-color: $black
      color: $white !important
      padding: 8px 15px
      text-align: center
      text-transform: uppercase
      font-size: 24px
      font-family: 'Avenir Heavy'
