.tracking-sheet-pdf
	h1
		font-family: 'Kameron', serif
		font-weight: 700
		font-size: 20px

	h3
		margin: 0
		padding: 0
		font-weight: 700
		font-size: 13px
		text-transform: uppercase

	&.wide h3
		font-size: 11px
		text-transform: none

	strong
		font-size: 12px

	p
		font-size: 11px
		strong
			font-size: 11px

	&.wide p
		font-size: 10px
		strong
			font-size: 10px

	small
		font-size: 65%

	table
		width: 100%
		tr td
			padding: 5px 8px
			vertical-align: top

			ul
				margin: 0
				padding: 0
				li
					display: inline-block
					margin: 0
					padding: 0
					font-size: 10px
					color: $grey--dark

	&.wide table tr td
		border-color: #000 !important

	table tr td hr
		width: 100%
		height: 1px
		border-top: 1px dashed #666

	.label
		display: inline-block
		width: 40%
		border: 0
		margin-bottom: 5px

	.input
		display: inline-block
		border: 1px solid #ccc
		width: 60%
		height: 22px
		margin-bottom: 5px
		vertical-align: middle
		text-align: center
		font-size: 90%

	.bordered
		border-top: 1px solid #000
		border-bottom: 1px solid #000
		padding: 5px 0

	.value
		margin-left: 10px
		color: $grey--dark !important

	.former-outings li
		color: $grey--dark !important

	.no-margin
		margin: 0

	.type
		strong
			text-decoration: underline
		&:after
			content: " / "
		&:last-child
			&:after
				content: ""
