<div class="row">
	<div class="col-xs-6">
		<div class="visa">
			<div class="label">Date de préparation</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="visa">
			<div class="label">Visa préparateur</div>
		</div>
	</div>
</div>
