<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
	* {
		margin: 0;
		padding: 0;
	}
	@page {
		margin-left: 49px !important;
		margin-right: 49px !important;
		margin-top: 28px !important;
		margin-bottom: 28px !important;
	}
	body {
		font-weight: 300;
		font-family: 'Helvetica', sans-serif;
	}
	p {
		margin: 0;
		padding: 0;
	}
</style>

<?php debug($stockitems); ?>
