<?php
foreach ($dtResults as $result) {

	$actions = $this->Html->link(
		    '<i class="fa fa-search"></i> ' . __("View"),
		    array('controller' => 'events', 'action' => 'view', $result['Event']['id']),
		    array('class' => 'btn default btn-xs margin-bottom-5', 'escape' => false)
		);
	$actions .= $this->Html->tag('br');
	$actions .= $this->Html->link('<i class="fa fa-edit"></i> ' . __("Edit"),
    array('controller' => 'events', 'action' => 'work', $result['Event']['id']),
    array('class' => 'btn btn-warning btn-xs', 'escape' => false)
	);

	$eventName = empty($result['Event']['code']) ? '' : $this->Html->tag('strong', $result['Event']['code']);
	$eventName .= $this->Html->tag('br');
	$eventName .= empty($result['Client']['name']) ? '' : $result['Client']['name'];
	$eventName .= $this->Html->tag('br');
	$eventName .= empty($result['Event']['name']) ? '' : $result['Event']['name'];
	$eventName .= $this->Html->tag('br');
	if(empty($result['Event']['confirmed_number_of_persons'])){
		$eventName .= __('From') . ' ' . empty($result['Event']['min_number_of_persons']) ? '' : $result['Event']['min_number_of_persons'] . ' ' . __('to') . ' ' . empty($result['Event']['max_number_of_persons']) ? '' : $result['Event']['max_number_of_persons'] . ' ' . __('persons');
	} else {
		$eventName .= $result['Event']['confirmed_number_of_persons'] . ' ' . __('persons');
	}
	if(!empty($result['Event']['languages'])){
		$eventName .= $this->Html->tag('br');
		$languages = explode(',',$result['Event']['languages']);
		foreach($languages as $language){
			if($language == 'en') {
				$flag = 'gb';
			} else {
				$flag = $language;
			}
			$eventName .= $this->Html->tag('span', '', array('class' => 'flag-icon flag-icon-' . $flag));
		}
	}


	$eventDate = empty($result['Event']['confirmed_date']) ? '' : $this->Time->format($result['Event']['confirmed_date'], '%A %d %b %Y');

	$places = array();
	if(!empty($result['Moment'])){
		foreach($result['Moment'] as $moment){
			if(!empty($moment['Place'])){
				$places[] = $moment['Place']['name'] . ', ' . $moment['Place']['zip_city'];
			}
		}
	}

	$jobs = array();
	$jobs1 = array();
	$emptyJobs = array();
	$filledJobs = array();
	$waiting = array();
	if(!empty($result['EmptyJob'])){
		$jobs = array();
		foreach($result['EmptyJob'] as $job){
			if(empty($job['user_id'])){
				$icon = $this->Html->tag('i', '', array('class' => 'fa fa-times font-red'));
				$jobs[] = $this->Html->tag('li', $icon . $job['name']);
			}
		}
		if(!empty($jobs)){
			$emptyJobs = $this->Html->tag('ul', implode('', $jobs), array('class' => 'list-unstyled'));
		}
	}
	if(!empty($result['FilledJob'])){
		$jobs = array();
		foreach($result['FilledJob'] as $job){
			if(!empty($job['user_id'])){
				$icon = $this->Html->tag('i', '', array('class' => 'fa fa-check font-green'));
				$name = $job['name'];
				$name .= !empty($job['User']['full_name']) ? $this->Html->tag('br') . $this->Html->tag('i','',array('class' => 'fa fa-user font-grey-silver')) . ' ' . $this->Html->link($job['User']['full_name'], array('controller' => 'users', 'action'=> 'view', $job['user_id']), array('target' => '_blank')) : '';
				$jobs[] = $this->Html->tag('li', $icon . $name);
			}
		}
		if(!empty($jobs)){
			$filledJobs = $this->Html->tag('ul', implode('', $jobs), array('class' => 'list-unstyled'));
		}
	}
	if(!empty($result['EmptyJob'])){
		foreach($result['EmptyJob'] as $kk => $job){
			if(!empty($job['StaffQueue'])){
				foreach($job['StaffQueue'] as $queue){
					if($queue['status'] == 'waiting') $result['waiting'][] = $queue;
				}
			}
		}
	}
	if(!empty($result['waiting'])){
		$jobs = array();
		foreach($result['waiting'] as $queue){
			$icon = $this->Html->tag('i', '', array('class' => 'fa fa-question'));
			$jobs[] = $this->Html->tag('li', $icon . $queue['User']['full_name'] . ' ' . __('for') . ' ' . $queue['Job']['name']);
		}
		if(!empty($jobs)){
			$waiting = $this->Html->tag('ul', implode('', $jobs), array('class' => 'list-unstyled'));
		}
	}

	if(!empty($emptyJobs)) $jobs1[] = $emptyJobs;
	if(!empty($filledJobs)) $jobs1[] = $filledJobs;
	if(!empty($waiting)) $jobs1[] = $waiting;

    $this->dtResponse['aaData'][] = array(
        $eventName,
        $eventDate,
        implode('<br>', $places),
        implode('<hr>', $jobs1),
        $actions
    );
}
