.note-list
	.timeline-body
		&.high
			background-color: $danger !important
			.timeline-body-arrow
				border-color: transparent $danger transparent transparent
	.timeline .timeline-badge-userpic
		border-radius: 0 !important
