.portlet .portlet-body.portlet-associations
  min-height: 1000px
.table-associations
  th
    &.companies
      font-weight: normal
  tbody tr
    &.ui-state-active
      td
        background-color: $grey--light
  td
    transition: all 0.3s
    &.name
      width: 40%
    &.resources
      width: 59%
      .btn
        margin-bottom: 3px
        &--activity
          background-color: $grey--light !important
          border-left: 3px solid $planning--activity !important
        &--fb-module, &--fbmodule
          background-color: $grey--light !important
          border-left: 3px solid $planning--fb-module !important
        &:after
          content: "\2716"
          position: absolute
          width: 10px
          height: 10px
          color: $brand-danger
          font-weight: bold
          right: -10px
          opacity: 0
          transition: opacity 0.3s
        &.deletable
          &:after
            opacity: 1
        &.dropped
          transition: opacity 0.2s
          opacity: 0


.orders-resources,
.outfits-resources
  position: relative
  .btn
    margin-bottom: 5px
    &--hidden
      display: none

.list--wrapper
  position: relative

  .input
    position: absolute
    width: 100%
    top: 0
    left: 0
    right: 0

  .list
    position: absolute
    width: 100%
    height: 60vh
    max-height: 60vh
    padding-top: 40px
    overflow-y: scroll
    transition: all 0.3s ease-in-out

  strong
    display: block
    margin: 10px 0 5px 0
    &:first-child
      margin-top: 0

  .btn
    cursor: move
    background-color: $grey--light !important
    &--activity
      border-left: 3px solid $planning--activity !important
    &--fbmodule
      border-left: 3px solid $planning--fb-module !important

.table-outfit-associations
  thead
    th
      width: 0
    &.order
      width: 37px
      height: 120px
      white-space: nowrap
      font-weight: normal
    div
      transform: translate(0, -10px) rotate(315deg)
      width: 37px

  .company
    text-align: center
