#competences
	table
		th
			text-transform: uppercase

		.hierarchies, .activities, .fb_modules, .logistics_jobs, .other_jobs
			td
				text-align: center
		.activities, .fb_modules, .logistics_jobs, .other_jobs
			td:first-child
				text-align: left
		.right-bordered
			border-right: 1px solid #e7ecf1
