#offers
	thead
		th
			&.company
				width: 2%
			&.client
				width: 20%
	.editable
		border: 0
	.editable-empty
		font-style: normal
		color: $grey
	.editable-input
		.form-control
			padding: 0
			height: auto
			max-width: 100px

#confirmed
	thead
		th
			&.name
				width: 13%
			&.content
				width: 15%
			&.date
				width: 12%
