.table-hierarchies
  .btn
    margin-right: 0
  th
    &.company
      width: 3%
    &.date
      width: 7%
    &.extra
      width: 10%
    &.job
      width: 22%
    &.event
      width: 20%
    &.client
      width: 17%
    &.actions
      width: 20%
      text-align: right

  .feedback
    .loading, .success, .error
      display: none

  tbody
    tr
      transition: all 0.3s
      transition-delay: 1s
      &.done
        opacity: 0.3
