.table-import-images
	tr
		transition: all 0.3s
		transition-delay: 1s

		&.waiting
			.status
				color: $grey
				.fa:nth-child(1)
					display: inline
		&.processing
			.status
				.fa:nth-child(2)
					display: inline
		&.done
			.status
				color: $brand-success
				.fa:nth-child(3)
					display: inline
		&.error
			.status
				color: $brand-danger
				.fa:nth-child(4)
					display: inline
			td
				background-color: lighten($brand-danger, 30%)

	td
		&.number
			width: 10%
		&.filename
			width: 70%
		&.status
			width: 20%
			text-align: right
			.fa
				display: none
