.table-logista
  th
    &.date, &.mode
      width: 5%
    &.order
      width: 35%
    &.packaging, &.cost
      width: 5%
  tbody
    tr
      td
        &.number
          //text-align: center
  tfoot
    tr
      td
        padding: 8px
