.table-order-items

	tbody
		&.empty
			td
				padding: 15px 0
	th, td
		&.drag
			width: 2%
		&.option
			width: 10%
		&.quantity
			width: 23%
		&.name
			width: 19%
		&.depot
			width: 12%
		&.comments
			width: 18%
		&.supplier
			width: 12%
		&.actions
			width: 4%
	td
		vertical-align: middle !important
		&.drag
			cursor: move

		.input
			display: none
		.text
			display: block

	.set-editable-order-item
		display: none
	.language-dependent
		i
			color: $grey
		&:hover i, &.active i
			color: $primary-link-color !important

	tr
		.pieces-person-help-text,
		.pieces-person-team-help-text,
		.pieces-team-help-text,
		.pieces-staff-help-text,
		.pieces-group-help-text,
		.pieces-animator-help-text
			display: none
		&.fixed,
		&.clothing_size
			.quantity-unit, .quantity-per-container, .interval-help-text, .pieces-help-text, .quantity-per-container-help-text
				display: none
		&.pieces_per_person,
		&.pieces_per_person_per_team,
		&.pieces_per_team,
		&.pieces_per_animator,
		&.pieces_per_group,
		&.pieces_per_table,
		&.pieces_per_buffet,
		&.pieces_per_staff
			.quantity-unit, .quantity-per-container, .interval-help-text, .quantity-per-container-help-text
				display: none
		&.quantity_per_person
			.interval-help-text, .pieces-help-text
				display: none
		&.interval
			.quantity-unit, .quantity-per-container, .pieces-help-text, .quantity-per-container-help-text
				display: none
		&.pieces_per_person
			.pieces-person-help-text
				display: inline
		&.pieces_per_person_per_team
			.pieces-person-team-help-text
				display: inline
		&.pieces_per_team
			.pieces-team-help-text
				display: inline
		&.pieces_per_staff
			.pieces-staff-help-text
				display: inline
		&.pieces_per_animator
			.pieces-animator-help-text
				display: inline
		&.pieces_per_group
			.pieces-group-help-text
				display: inline


		&.ui-sortable-helper
			td
				border-top: 0 !important

		&[data-editable] td
			.input
				display: block
			.text
				display: none

		a.sufficient-stock, a.empty-stock, a.non-sufficient-stock,
		span.sufficient-stock, span.empty-stock, span.non-sufficient-stock
			display: none

		&.sufficient-stock
			.sufficient-stock
				display: inline-block
		&.empty-stock
			.empty-stock
				display: inline-block
		&.non-sufficient-stock
			.non-sufficient-stock
				display: inline-block

	&--view
		th
			&.quantity
				width: 10%
			&.quantity_unit
				width: 15%
			&.name
				width: 30%
			&.remarks
				width: 29%

	&--portlet
		th, td
			&.quantity
				width: 20%
			&.name
				width: 80%
		td
			&.quantity
				input
					text-align: center

	input
		&[type="text"]
			display: inline-block
			padding: 2px 5px
			width: 100%
			font-size: 90%
		&[type="number"]
			padding: 2px 0
			font-size: 90%
		&.option,
		&.quantity-option
			width: 50px
		&.quantity, &.quantity-per-container
			width: 65px
			text-align: center
	select
		width: 100%
		&.quantity-unit
			width: 50px

#order
	.vertical-align
		line-height: 34px
	.empty-line
		background-color: $light-grey--task
		opacity: 0.3
	.empty-panel
		margin: 5px 0
		border: 2px dashed $light-grey--task
		background-color: transparent
		opacity: 0.5

.order-items-title
	display: none

.order-items-wrapper
	&--disable-stock
		.panel-title .status
			display: none
