.table-activity-planning th.duration,
.table-fb-module-planning th.duration {
  width: 10%; }
.table-activity-planning th.name, .table-activity-planning th.remarks,
.table-fb-module-planning th.name,
.table-fb-module-planning th.remarks {
  width: 40%; }

/*# sourceMappingURL=_planning.css.map */
