.table-place-history thead tr th.date {
  width: 10%; }
.table-place-history thead tr th.reason {
  width: 50%; }
.table-place-history thead tr th.status {
  width: 40%; }

/*# sourceMappingURL=_place.css.map */
