.reporting
	.hours
		thead
			th
				&.check
					width: 3%
				&.code
					width: 7%
				&.name
					width: 35%
				&.client
					width: 25%
				&.salary
					width: 15%
				&.events
					width: 12%
				&.hours
					width: 10%
				&.salaries, &.amount
					width: 10%
				&.actions
					width: 10%

	.sales, .persons
		tfoot
			td
				padding: 8px
				border-top-width: 2px

	.sales
		thead
			th
				&.month
					width: 10%
				&.number
					width: 8%
				&.turnover
					width: 12%
				&.average
					width: 12%
		tbody
			td
				&.text-success, &.text-danger
					a
						color: inherit
	.persons
		thead
			th
				&.person
					width: 20%
				&.number
					width: 13%

.table.table-reporting
	tfoot
		tr
			td
				padding: 8px
				border-top-width: 2px
