.table-wishes
  tr
    &.sent
      opacity: 0.4
  td
    // .checkbox
    //   margin: 0

  th
    &.check
      width: 5%
    &.client
      width: 40%
    &.contact
      width: 20%
    &.events
      width: 34%