#eventsCalendar .fc-event
  transition: all 0.2s
  padding: 4px 0 0 0

  &.entreprise
    background-color: #be1522
  &.teambuilding
    background-color: #3fc0f0
  &.urbangaming
    background-color: $ug
  &.effetgourmand
    background-color: $eg
  &.leisure
    background-color: #94c11f
  &.event_creation
    background-color: #f9b233
  &.maiergrill
    background-color: $mg

  &.maiergrill, &.effetgourmand
    .btn-company
      border-top: 1px solid $white
      border-left: 1px solid $white

  &.offer
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px)

  .before
    height: 20%
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px)
  .event, &.mission
    //height: 60%
    overflow: hidden
    p
      padding: 5px 10px
  .after
    height: 20%
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px)

  span.percent
    position: absolute
    display: block
    bottom: 0
    border-bottom: 4px solid #26c281

  .btn-company
    position: absolute
    right: 0
    bottom: 0

  &.mission
    background-color: $black
    background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255, 255, 255, 0.15) 15px, rgba(255, 255, 255, 0.15) 30px)
    color: $white
    box-shadow: none
    border: 1px solid $black
