#placesCalendar
  .fc-event
    transition: all 0.2s

    .btn-company
      position: absolute
      right: 0px
      bottom: 0

  .place
    position: relative
    background-color: #ccc !important
    box-shadow: none

    &--confirmed
      background-color: #26C281 !important
    &--prereserved
      background-color: #4C87B9 !important
    &--pending
      background-color: #8775A7 !important
    &--cancelled
      background-color: #E87E04 !important
      text-decoration: line-through
      opacity: 0.9
    &--occupied
      background-color: #D91E18 !important
    &--potential
      background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px)

    .progress
      position: absolute
      width: 100%
      height: 4px
      left: 0
      top: 0
      margin-bottom: 0
      background: transparent
      &-bar
        background-color: rgba(255,255,255,0.5)



.calendar-badges
  margin-bottom: 5px
  .badge
    margin-left: 10px
    background-color: #ccc !important
    &:first-child
      margin-left: 0
    &--confirmed
      background-color: #26C281 !important
    &--prereserved
      background-color: #4C87B9 !important
    &--cancelled
      background-color: #E87E04 !important
    &--pending
      background-color: #8775A7 !important
    &--occupied
      background-color: #D91E18 !important
