.portlet
	&.calendar
		.filter-events
			ul
				margin: 0
				padding: 0
				li
					display: inline-block
					margin: 0

					.label.mission
						background-color: $black
						background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255, 255, 255, 0.15) 15px, rgba(255, 255, 255, 0.15) 30px)

					&.disabled
						opacity: 0.6

		#eventsStaff
			.fc-event
				min-height: 70px
				padding: 7px
				transition: opacity 0.2s linear

				&.notify
					position: relative
					&::before
						content: ""
						position: absolute
						top: 0
						left: 0
						width: 0
						height: 0
						border-style: solid
						border-width: 30px 30px 0 0
						border-color: red transparent transparent transparent

				&.empty
					background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px)

				&.mission
					background-color: $black
					background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255, 255, 255, 0.15) 15px, rgba(255, 255, 255, 0.15) 30px)

			.fc-event-staff
				height: 100%
				strong
					display: inline-block
					padding-bottom: 2px
					text-transform: uppercase
				td
					&.portrait
						//width: 48px
						text-align: right
						img
							//max-width: 40px
							-webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2)
							-moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2)
							box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2)

				span
					display: block
					margin-bottom: 2px

			.fc-basicWeek-view
				.portrait
					width: 40px
					img
						max-width: 40px

				.client-name, .event-name, .hours
					display: none
