#reservations
  .fc-list-item
    .fc-list-item-marker
      position: relative
      padding-left: 40px
    .btn-company
      position: absolute
      left: 0px
    &.fc-has-url
      cursor: auto

  .fc-event, .fc-list-item
    transition: all 0.2s
    //background-color: transparent !important

    .fc-bg
      opacity: 1

      .btn-company
        position: absolute
        left: 0
        top: 0

    &.stock_order .fc-bg,
    &.stock_order .fc-event-dot
      background-color: #820C18 !important
    &.event .fc-bg,
    &.event .fc-event-dot
      background-color: #333 !important
    &.confirmed .fc-bg,
    &.confirmed .fc-event-dot
      background-color: #31C183 !important
    &.not-confirmed .fc-bg,
    &.not-confirmed .fc-event-dot
      background-color: #999 !important
    &.has-warning .fc-bg,
    &.has-warning .fc-event-dot
      background-color: #E87E04 !important
    &.unavailable .fc-bg,
    &.unavailable .fc-event-dot
      background-color: #DE8384 !important
    &.cancelled .fc-bg,
    &.cancelled .fc-event-dot
      background-color: red !important
      background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px)
      z-index: 9998 !important
    &.cancelled .fc-event-dot
      background-image: repeating-linear-gradient(45deg, transparent, transparent 7px, rgba(0, 0, 0, 0.2) 7px, rgba(0, 0, 0, 0.2) 30px)
    &.no-vehicle .fc-list-item-title
      color: red
    &.trailer .fc-bg,
    &.trailer .fc-event-dot
      background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px)
    &.trailer .fc-event-dot
      background-image: repeating-linear-gradient(45deg, transparent, transparent 7px, rgba(0, 0, 0, 0.2) 7px, rgba(0, 0, 0, 0.2) 30px)

  .fc-event-container
    .stock_order1
      background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px)
    a
      *
        color: $white
        text-decoration: none
      a
        display: block
        height: 100%
    .fc-content
      height: 100%
      z-index: 9999

  .fc-list-item-infos
    font-size: 90%
    color: $grey
