
/* here you can put your own css to customize and override the theme */
body {
	position: relative;
}
.no-margin {
	margin: 0;
}
.ribbon {
  top: 1px;
  right: -1px;
}
td hr {
	margin: 10px 0;
}
/***
Rounded Portlets
***/

.metronic2 .portlet {
	border-radius: 4px !important;
}

.metronic2 .portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.metronic2 .portlet .portlet-body,
.metronic2 .portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
.metronic2 .portlet.place {
	position: relative;
}

.metronic6 .tabbable-custom > .nav-tabs > li.active {
	border-top: 3px solid #2f373e;
}

/* UNSTYLED LISTS */
ul.list-unstyled li {
	padding-bottom: 5px;
}

.page-header.navbar .page-logo .logo-default {
	margin-top: 15px;
}
table.my-table>tbody>tr>td {
	vertical-align: middle;
}
.configuration-form {
	padding: 10px 10px 10px 0;
}
.configuration-form .form-group:last-child {
	margin-bottom: 0;
}
.form .form-section.first {
  margin-top: 5px;
}
.dropzone {
	min-height: 200px;
}
.row.search-result {
	margin-top: 20px;
}
.btn.free.active {
	background-color: #e5e5e5;
}
.btn.confirmed.active {
	background-color: #35aa47;
}
.btn.occupied.active {
	background-color: #d91e18;
}
.btn.to_discuss.active {
	background-color: #e87e04;
}
.btn.prereserved.active {
	background-color: #ffb848;
}
/*#sortable_portlets .portlet:hover{
	cursor: move;
}*/
li.has-children ul {
	display: none;
}

.calendar1{
	padding-top:5px;
	float:left;
	width:100%;
	background:#ededef;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc)); 
	background: -moz-linear-gradient(top,  #ededef,  #ccc); 
	font:bold 110px/150px Arial Black, Arial, Helvetica, sans-serif !important;
	text-align:center;
	color:#000;
	text-shadow:#fff 0 1px 0;	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;	
	position:relative;
	-moz-box-shadow:0 2px 2px #888;
	-webkit-box-shadow:0 2px 2px #888;
	box-shadow:0 2px 2px #888;
}
.calendar1 em{
	display:block;
	font:normal bold 30px/60px Arial, Helvetica, sans-serif;
	color:#fff;
	text-shadow:#00365a 0 -1px 0;	
	background:#04599a;
	background:-webkit-gradient(linear, left top, left bottom, from(#04599a), to(#00365a)); 
	background:-moz-linear-gradient(top,  #04599a,  #00365a); 
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;	
	border-bottom-right-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;	
	border-bottom-left-radius:3px;	
	border-top:1px solid #00365a;
}
.calendar1:before, .calendar1:after{
	content:'';
	float:left;
	position:absolute;
	top:5px;	
	width:8px;
	height:8px;
	background:#111;
	z-index:1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:0 1px 1px #fff;
	-webkit-box-shadow:0 1px 1px #fff;
	box-shadow:0 1px 1px #fff;
}
.calendar1:before{left:11px;}	
.calendar1:after{right:11px;}
.calendar1 em:before, .calendar1 em:after{
	content:'';
	float:left;
	position:absolute;
	top:-5px;	
	width:4px;
	height:14px;
	background:#dadada;
	background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaa)); 
	background:-moz-linear-gradient(top,  #f1f1f1,  #aaa); 
	z-index:2;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	}
.calendar1 em:before{left:13px;}	
.calendar1 em:after{right:13px;}

.mix-grid .mix .mix-details h4 {
	font-size: 14px;
}
.mix-grid .mix a.mix-delete {
	color: #555;
	display: block;
	cursor: pointer;
	margin-top: 10px;
	position: absolute;
	padding: 10px 15px;
	background: #16b2f4;
}
.mix-grid .mix a.mix-link {
	right: 60%;
}
.mix-grid .mix a.mix-preview {
	left: 40%;
}
.mix-grid .mix a.mix-delete {
	left: 60%;
}
.portlet.competence:last-child .actions{
	display: block !important;
}
#loading {
	position: relative;
	z-index: 10000;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(51,51,51,0.5);
	overflow: hidden;
	display: none;
}
#loading div {
	margin: auto;
	position: absolute;
	width: 46px;
	height: 46px;
	top: 0; left: 0; bottom: 0; right: 0;
}
#loading div i {
	color: #fff;
}

/* PRICE LIST */
.row.top h3, .row.top h4, .row.top p {
	margin: 0;
}
.row.header {
	color: #771318;
	border-bottom: 2px solid #771318;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

/* SEARCH PLACES RESULTS */
.scroller ul.list-unstyled {
	margin-bottom: 0;
}
.scroller ul.list-unstyled li {
	padding-bottom: 5px;
}
.scroller ul.list-unstyled li:last-child {
	padding-bottom: 0px;
}
.portlet.place .caption a:hover {
	text-decoration: none;
}

table.depot td {
	border: 1px solid #ddd;
	text-align: center;
	position: relative;
}
table.depot td.bg-green, table.depot td.bg-red, table.depot td.bg-grey, table.depot td.bg-yellow,
.tools .badge.bg-green, .tools .badge.bg-red, .tools .badge.bg-grey, .tools .badge.bg-yellow {
	opacity: 0.8;
}
table.depot td.bg-green.node {
	opacity: 0.9;
}
table.depot td.up {
	border-top: 3px solid red;
}
table.depot td.down {
	border-bottom: 3px solid red;
}
table.depot td.left {
	border-left: 3px solid red;
}
table.depot td.right {
	border-right: 3px solid red;
}
table.depot td small {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 8px;
	opacity: 0.4;
}

#modules div.checker, #modules div.checker span, #modules div.checker input {
	height: auto;
}
#calendar1 .tools .badge {
	margin-left: 15px;
	margin-right: 5px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}
#calendar1 .tools .badge:first-child {
	margin-left: 0px;
}
.portlet.calendar .fc-event {
	padding: 10px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}
.portlet.calendar .fc-event .fc-time, .portlet.calendar .fc-event .fc-title {
	font-size: 12px;
}
.portlet.calendar .fc-event.date .fc-title {
	color: #8a6d3b;
}
.portlet.calendar .fc-event.order .fc-title {
	color: #a94442;
}
.portlet.calendar .fc-event .fc-time {
	padding-bottom: 5px;
	font-weight: bold;
}
.fc-time-grid-event .fc-bg {
	opacity: 0;
}
.fc-day-grid-event>.fc-content {
	white-space: normal;
}
.portlet.calendar .fc-today {
	background-color: #eef7fb;
}
.invoice {
	font-size: 11px;
}
.invoice ul.list-unstyled li {
	padding-bottom: 0;
	line-height: 14px;
	padding-bottom: 4px;
}
.invoice .address ul.list-unstyled li {
	font-size: 10px;
	line-height: 12px;
	margin: 0;
	padding: 0;
}
.invoice ul.client li {
	font-size: 12px;
	line-height: 12px;
}
.invoice ul.client li.festiloc {
	border-bottom: 1px solid #333;
	margin-bottom: 7px;
	padding-bottom: 0;
	font-size: 10px;
}
.invoice table {
	margin-top: 0px;
	margin-bottom: 20px;
}
.invoice table tr td, .invoice table tr th {
	font-size: 11px;
	padding: 5px;
}
.invoice table tr td{
	padding-bottom: 2px;
}
.invoice ul.offer li h4 {
	margin: 0;
	padding: 0;
}
.contact-people .dashboard-stat {
	border-bottom: 1px solid #eee;
}
.contact-people .dashboard-stat:hover {
	text-decoration: none;
	color: #5b9bd1;
	pointer-events: none;
	cursor: default;
}
.contact-people .dashboard-stat:last-child {
	border-bottom: 0;
}
.contact-people .dashboard-stat .details {
	position: relative;
	right: auto;
	padding-right: 0;
}
.contact-people .dashboard-stat .details .desc {
	font-size: 14px;
}
.contact-people .dashboard-stat .visual > i {
	font-size: 80px;
}

.festiloc .table>tbody>tr>td {
	vertical-align: middle;
}
.festiloc .portlet.processed {
}
.festiloc #filters {
	position: fixed;
	z-index: 10000;
	background: #fafafa;
	top: 0;
	left: 0;
	right: 0;
	padding: 30px 20px 15px 20px;
	-webkit-box-shadow: 0px 0px 8px 2px #ccc;
       -moz-box-shadow: 0px 0px 8px 2px #ccc;
            box-shadow: 0px 0px 8px 2px #ccc;
}
.festiloc #orders {
	margin-top: 150px;
}

.festiloc .portlet-title span.title {
	display: inline-block;
	border-right: 2px solid #e35b5a;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	padding-right: 15px;
}
.festiloc .portlet.bg-red-pink .portlet-title span.title {
	border-right: 2px solid #fafafa;
}
.festiloc .portlet-title span.title:last-child, .festiloc .portlet.bg-red-pink .portlet-title span.title:last-child {
	border-right: 0;
}
.gm-style-iw>div {
	display: block !important;
}
.chart a[title="JavaScript charts"]{
	display: none !important;
}
table tbody tr td label {
	margin-bottom: 0;
}
/*.page-sidebar .page-sidebar-menu > li.festiloc {
	background-color: #800D1B;
}
.page-sidebar .page-sidebar-menu > li.festiloc i.fa, .page-sidebar .page-sidebar-menu > li.festiloc .title {
	color: #fff;
}
.page-sidebar .page-sidebar-menu > li.festiloc .arrow:before {
	color: #fff;
}*/
/*#s2id_StockOrderDeliveryPlace ul li {
	border: 0;
	padding-left: 0;
}
#s2id_StockOrderDeliveryPlace .select2-search-choice-close {
	display: none;
	right: -10px;
	left: auto;
}*/
.notified {
	position: relative;
	opacity: 0.5;
}
.notified:after{
	content: "\f003";
	position: absolute;
	width: 20px;
	height: 20px;
	left: 10px;
	top: 10px;
	font: normal normal normal 16px/1 FontAwesome;
}
.portlet.calendar .preparationWeekCalendar .fc-event {
	background-color: #999;
}
.fc-event-container h4 {
	margin-top: 0;
	text-align: right;
}
.fc-event-container strong {
	display: block;
}
.fc-event-container .return {
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0,0,0,.2) 15px, rgba(0,0,0,.2) 30px);
}

.empty-row {
	background-color: #BFBFBF !important;
	height: 45px;
}
.sortable {
	cursor: default;
}

legend {
	font-size: 16px;
	color: #666;
	font-weight: 300;
}

@media (min-width: 992px) {
	.festiloc .page-content-wrapper .page-content {
		margin-left: 0;
	}	
}