@font-face {
    font-family: 'Gotham Bold';
    src: url('Gotham-Bold.eot');
    src: url('Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('Gotham-Bold.woff') format('woff'), url('Gotham-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('Gotham-Book.eot');
    src: url('Gotham-Book.eot?#iefix') format('embedded-opentype'), url('Gotham-Book.woff') format('woff'), url('Gotham-Book.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gotham Light';
    src: url('Gotham-Light.eot');
    src: url('Gotham-Light.eot?#iefix') format('embedded-opentype'), url('Gotham-Light.woff') format('woff'), url('Gotham-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('Gotham-Medium.eot');
    src: url('Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('Gotham-Medium.woff') format('woff'), url('Gotham-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gotham Extra Light';
    src: url('Gotham-XLight.eot');
    src: url('Gotham-XLight.eot?#iefix') format('embedded-opentype'), url('Gotham-XLight.woff') format('woff'), url('Gotham-XLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Clarendon LT Std';
    src: url('ClarendonLTStd.eot');
    src: url('ClarendonLTStd.eot?#iefix') format('embedded-opentype'), url('ClarendonLTStd.woff') format('woff'), url('ClarendonLTStd.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Clarendon LT Std';
    src: url('ClarendonLTStd-Bold.eot');
    src: url('ClarendonLTStd-Bold.eot?#iefix') format('embedded-opentype'), url('ClarendonLTStd-Bold.woff') format('woff'), url('ClarendonLTStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Book';
    src: url('Avenir-Book.eot');
    src: url('Avenir-Book.eot?#iefix') format('embedded-opentype'), url('Avenir-Book.woff') format('woff'), url('Avenir-Book.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Heavy';
    src: url('Avenir-Heavy.eot');
    src: url('Avenir-Heavy.eot?#iefix') format('embedded-opentype'), url('Avenir-Heavy.woff') format('woff'), url('Avenir-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Light';
    src: url('Avenir-Light.eot');
    src: url('Avenir-Light.eot?#iefix') format('embedded-opentype'), url('Avenir-Light.woff') format('woff'), url('Avenir-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Avenir Medium';
    src: url('Avenir-Medium.eot');
    src: url('Avenir-Medium.eot?#iefix') format('embedded-opentype'), url('Avenir-Medium.woff') format('woff'), url('Avenir-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Sansation';
    src: url('Sansation-Regular-webfont.eot');
    src: url('Sansation-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('Sansation-Regular-webfont.woff') format('woff'), url('Sansation-Regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sansation';
    src: url('Sansation-Bold-webfont.eot');
    src: url('Sansation-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('Sansation-Bold-webfont.woff') format('woff'), url('Sansation-Bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
