#portlet-activities
	.table
		.title a
			color: inherit
		td
			&.actions
				vertical-align: middle

		&.table-activity-infos
			thead
				tr
					th
						font-size: 12px

			input
				text-align: center
				height: 25px
	input
		&.non-standard-activity
			display: inline-block
			width: 90%
