#portlet-closing
	li
		padding: 5px 0
		border-bottom: 1px solid #eef1f5
		&:last-child
			border: 0
	.dropzone
		border: 0
		min-height: 0
		.dz-message
			margin: 5px 0
	.portlet-body
		.bold.uppercase
			display: inline-block
			margin-top: 10px
			margin-bottom: 3px
			&:first-child
				margin-top: 0

	.editable-inline
		display: block
		.form-group
			display: block
			.editable-input
				display: block
				textarea
					width: 100%
			.editable-buttons
				display: block
				margin-left: 0
				margin-top: 5px
				text-align: right
