#portlet-downloads
  .tiles
    a
      display: block
      text-decoration: none
    .tile
      width: 100px !important
      height: 100px
      font-size: 10px
      line-height: 14px
      transition: all 0.3s
      &-object
        .name
          width: 100%
          margin: 0 0 5px 0
          font-size: 11px
          display: block
          text-align: center
      &-body
        i
          margin-top: 3px
          font-size: 35px
          line-height: 40px
          transition: all 0.2s
      &:hover
        .tile-body i
          transform: scale(1.2)

  &.portlet--side
    position: fixed
    right: 10px
    top: 50%
    padding: 0
    transform: translateY(-50%)
    z-index: 1000
    .portlet-title
      display: none
    .portlet-body
      padding: 0
    .tile
      width: 30px !important
      height: 30px !important
      float: none
      margin: 1px 0 0 0
      padding: 0
      overflow: visible
      &-body
        margin: 0
        padding: 0
        z-index: 100
        i
          margin: 0
          font-size: 14px
          line-height: 22px
      &-object
        width: 160px
        height: auto
        right: 100%
        top: -4px
        left: auto
        background-color: inherit
        transition: all 0.3s
        transform: translateX(1000px)
        z-index: 99
        
        .name
          margin: 0
          top: 7px
          bottom: auto
          z-index: 99
      &:hover
        border-color: transparent !important
        .tile-object
          transform: translateX(0)
        
      .name
