#portlet-fb-modules
	.table
		.title a
			color: inherit
		td
			&.actions
				vertical-align: middle

		&.table-fb-module-infos
			thead
				tr
					th
						font-size: 12px

			input
				text-align: center
				height: 25px
