#portlet-fb-modules .table .title a {
  color: inherit; }
#portlet-fb-modules .table td.actions {
  vertical-align: middle; }
#portlet-fb-modules .table.table-fb-module-infos thead tr th {
  font-size: 12px; }
#portlet-fb-modules .table.table-fb-module-infos input {
  text-align: center;
  height: 25px; }

/*# sourceMappingURL=_fb_modules.css.map */
