#portlet-moments
	.tasks-widget
		.task-list>li
			padding: 0
			border-bottom: 0
			text-transform: uppercase

			.col2
				clear: right

			ul
				padding: 26px 0 0 0

				li
					display: block
					margin: 0 0 0 40px
					padding-bottom: 3px
					list-style: none
					background: none
					line-height: 1.5em
					text-transform: none
					&:last-child
						padding-bottom: 5px

	.empty-feed, .empty-task
		border: 0
		background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(0, 0, 0, 0.2) 15px, rgba(0, 0, 0, 0.2) 30px) !important
