#portlet-notes
	.modal-header, .modal-footer
		display: none
	.note-list
		padding: 0

div[data-portlet-notes]
	.high.timeline-body
		background-color: lighten($brand-danger, 25%)
		.timeline-body-arrow
			border-right-color: lighten($brand-danger, 25%)
		.timeline-body-time,
		.timeline-body-content span
			color: darken(#95A5A6, 20%) !important
