#portlet-orders
	td
		&.order-name, &.actions
			width: 50%
			padding-bottom: 5px

	.order-items-wrapper
		margin-bottom: 20px

	.order-items-title
		display: table
		width: 100%

		.order-name, .actions
			width: 50%

	.panel-group
		margin-bottom: 10px

	.delete-order-group
		display: inline-block
		width: auto
		span
			display: none
		&-wrapper
			text-align: right

	.table-order-items
		th, td
			width: auto !important
		td
			font-size: 95%

			&.quantity
				.help-inline
					display: none
					visibility: hidden
		.set-editable-order-item, .lock-order-item
			display: inline
			color: $grey
			&:hover, &.active
				color: $brand-primary

	.accordion-toggle
		.status
			margin-right: 10px
			transform: scale(0.9)
			.sufficient-stock, .empty-stock, .non-sufficient-stock
				display: none

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
	background-color: darken($white, 6)
	cursor: not-allowed
