#portlet-planning
  .planning-resources

    &__title
      display: block
      margin-bottom: 10px

    ul
      li
        display: inline-block
        margin: 0 5px 15px 0
        text-transform: uppercase

        a
          &.tag
            background-color: $grey--light
            color: $grey--middle
            font-size: 11px
            font-weight: 600
            padding: 7px 10px
            border-left: 4px solid $grey--light
            transition: all 0.2s
            &:hover, &:focus, &.tag--active
              background-color: $blue
              color: $white
              text-decoration: none
              cursor: move

        &.client a
          border-left-color: $planning--client
          &:hover, &:focus, &.tag--active
            background-color: $planning--client
        &.manager a
          border-left-color: $planning--manager
          &:hover, &:focus, &.tag--active
            background-color: $planning--manager
        &.extra a
          border-left-color: $planning--extra
          &:hover, &:focus, &.tag--active
            background-color: $planning--extra
        &.place a
          border-left-color: $planning--place
          &:hover, &:focus, &.tag--active
            background-color: $planning--place
        &.activity a
          border-left-color: $planning--activity
          &:hover, &:focus, &.tag--active
            background-color: $planning--activity
        &.vehicle a
          border-left-color: $planning--vehicle
          &:hover, &:focus, &.tag--active
            background-color: $planning--vehicle
        &.fb_module a
          border-left-color: $planning--fb-module
          &:hover, &:focus, &.tag--active
            background-color: $planning--fb-module
    &--legend
      margin-top: 10px
      border-top: 1px solid #e7ecf1
      .col-md-12
        padding: 0
      ul
        li
          margin: 0 3px 3px 0
          a
            &.tag
              padding: 3px 6px
              font-size: 9px
              border-left-width: 3px
              &:hover, &:focus
                cursor: pointer
  .feeds
    .date
      font-style: normal
    .label
      padding-top: 8px
      padding-bottom: 8px
      &--hour
        color: #82949a
        font-weight: bold

  .table-planning
    th
      &.schedule
        text-align: center
        width: 18%
      &.who
        width: 15%
    td
      &.schedule
        cursor: move
    .empty-row
      width: 100%
      td
        background-color: #f5f5f5
    .ui-sortable-helper
      background-color: #f4f6f8
      background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(255, 255, 255, 0.4) 15px, rgba(255, 255, 255, 0.4) 30px)
      td
        border: 0
        &:nth-child(1)
          width: 9%
        &:nth-child(2)
          width: 9%
        &:nth-child(3)
          width: 66%
        &:nth-child(4)
          width: 15%
    .ui-state-active td
      background-color: $grey--light

    .badge
      position: relative
      cursor: pointer
      opacity: 1
      &:after
        content: "\2716"
        position: absolute
        width: 10px
        height: 10px
        color: $brand-danger
        font-weight: bold
        right: -10px
        opacity: 0
        transition: opacity 0.3s

      &--client
        background-color: $planning--client
      &--manager
        background-color: $planning--manager
      &--extra
        background-color: $planning--extra
      &--place
        background-color: $planning--place
      &--vehicle
        background-color: $planning--vehicle
      &--activity
        background-color: $planning--activity
      &--fb_module
        background-color: $planning--fb-module
      &.deletable
        &:after
          opacity: 1
      &.dropped
        transition: opacity 0.2s
        opacity: 0

  .empty-tab
    background-color: #f5f5f5

  .nav-tabs
    li
      transition: opacity 0.2s
      &.ui-sortable-helper
        opacity: 0.7
        a
          &:after, &:before
            opacity: 0 !important

      a
        position: relative
        &:before, &:after
          content: ""
          position: absolute
          left: 5px
          top: 50%
          width: 1px
          height: 50%
          background-color: #ddd
          transform: translateY(-100%)
          opacity: 0
          transition: all 0.3s
        &:after
          left: 8px
          transform: translateY(100%)
        &:hover
          &:before, &:after
            opacity: 1
            transform: translateY(-50%)
