#portlet-places
	.table-places
		th
			&.name
				width: 40%
			&.option
				width: 45%
				text-align: left
			&.actions
				width: 15%
		td
			&.actions
				text-align: right

	.actions .input.select
		float: right
		margin-left: 10px

	input
		&.non-standard-place
			display: inline-block
			width: 90%
