#portlet-recruiting
  .modal .table .btn
    margin-right: 0
  .accordion-toggle
    position: relative
    padding: 12px 15px 11px

    span
      &:hover
        text-decoration: underline

    .staff
      display: table-cell
      position: absolute
      right: 2px
      top: 2px
      height: 35px
      min-width: 35px
      vertical-align: middle
      z-index: 100

      .item
        display: inline-block

        img
          display: inline-block
          width: 31px
          transition: all 0.3s

      .empty
        display: inline-block

      .icon
        font-weight: bold

      a:hover
        z-index: 1000
        img
          transform: scale(3)
        .tooltip
          transform: translateY(-100%)
          top: -25px !important

.modal-user-profile
  .modal-body
    position: relative
    min-height: 300px
  .table-modal
    max-height: 15em
    overflow-y: auto

    &--jobs
      .date
        width: 15%
      .job
        width: 45%

    &--competences
      .sector
        width: 20%
      .job
        width: 30%
      .activity
        width: 35%

  .btn-hour
    display: inline-block
    margin-bottom: 4px
