#portlet-recruiting .modal .table .btn {
  margin-right: 0; }
#portlet-recruiting .accordion-toggle {
  position: relative; }
  #portlet-recruiting .accordion-toggle .staff {
    position: absolute;
    right: 2px;
    top: 2px;
    height: 35px;
    min-width: 35px; }
    #portlet-recruiting .accordion-toggle .staff i {
      display: block;
      margin: 0 auto; }
