$max: 100

@mixin panel-heading-width
	@for $i from 1 through $max
		.panel-heading-width-#{$i}
			&:after
				width: $i / $max * 100%

#portlet-tasks
	@include panel-heading-width
	.panel-group
		strong
			display: block
			margin-top: 15px
			margin-bottom: 5px
			&:first-child
				margin-top: 0

			.actions
				font-weight: 400
				float: right
				opacity: 0.3
				transition: all 0.2s ease-in-out

				&:hover
					opacity: 1

	.panel-heading
		position: relative
		&:after
			content: ""
			position: absolute
			height: 2px
			bottom: 0
			left: 0
			background-color: $brand-success
			transition: all 0.2s ease-in-out
			transition-delay: 0s

		.complete-batch
			transition: opacity 0.2s
			transition-delay: 0.4s
			&--visible
				opacity: 1
			&--hidden
				opacity: 0

		.accordion-toggle
			position: relative
			padding-right: 40px
			z-index: 1000

	.panel-heading-width-0
		&:after
			width: 0%
	.panel-heading-width-100
		&:after
			background-color: transparent

	.empty
		display: none

	label
		display: inline
		margin: 0

	.task-title-sp
		display: block
		margin-right: 0
		a
			color: inherit
			text-decoration: none
			border: none !important
			&.editable
				cursor: text

	.task-done *, .task-done
		text-decoration: line-through !important
		color: $light-grey--task !important

	.new-task
		.task-checkbox
			visibility: hidden
		.task-title
			margin-left: 30px

	.new-batch
		margin-top: 5px

	input[type="text"]
		display: inline
		width: 100%

	.empty-feed
		border: 2px dashed $light-grey--task !important
		background: none !important
		opacity: 0.3

	.form-inline
		width: 100%
		.form-group
			display: block
			width: 100%
			.editable-input
				width: 90%

	.editable-container
		display: block
		width: 100%

	.calendar-context-toggle
		position: absolute
		right: 20px
		z-index: 1001
