#portlet-tasks .panel-heading {
  position: relative; }
  #portlet-tasks .panel-heading:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: pink; }

/*# sourceMappingURL=_tasks.css.map */
