#portlet-vehicles
	table

		th
			//width: auto !important

		td
			vertical-align: middle
			font-size: 90%

		&.table-open-reservations
			.drivers
				td
					border-bottom: 2px solid #e7ecf1
			tr:last-child
				td
					border-bottom: 0
