<?php if(!$accountingMatch): ?>
	<div class="alert alert-danger">
		<i class="fa fa-warning"></i>
		Le montant total ne correspond pas au total de la répartition!
	</div>
<?php endif; ?>
<?php if($noRepartition): ?>
	<div class="alert alert-warning">
		<i class="fa fa-warning"></i>
		Il n'y pas de répartition alors qu'un montant facturé est présent!
	</div>
<?php endif; ?>
<table class="table table-striped accounting">
	<tbody>
		<tr class="hidden">
			<th>No acompte</th>
			<td>
				<a href="javascript:;" class="editable" data-disabled="false" data-name="deposit_number" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['deposit_number']; ?>"></a>
			</td>
		</tr>
		<tr>
			<th>Montant acompte TTC (CHF)</th>
			<td>
				<a href="javascript:;" class="editable" data-name="deposit_amount" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['deposit_amount']; ?>"></a>
			</td>
		</tr>
		<tr class="hidden">
			<th>No acompte 2</th>
			<td>
				<a href="javascript:;" class="editable" data-disabled="false" data-name="deposit_number2" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['deposit_number2']; ?>"></a>
			</td>
		</tr>
		<tr class="hidden">
			<th>Montant acompte 2 TTC (CHF)</th>
			<td>
				<a href="javascript:;" class="editable" data-name="deposit_amount2" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['deposit_amount2']; ?>"></a>
			</td>
		</tr>
		<tr class="hidden">
			<th>No facture</th>
			<td>
				<a href="javascript:;" class="editable" data-name="invoice_number" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['invoice_number']; ?>"></a>
			</td>
		</tr>
		<tr>
			<th>Montant facture HT (CHF)</th>
			<td>
				<a href="javascript:;" class="editable" data-name="invoice_amount" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['invoice_amount']; ?>"></a>
			</td>
		</tr>
		<tr>
			<th>Projet créé dans Wealthings</th>
			<td>
				<a href="javascript:;" class="editable" data-name="project_in_wealthings" data-type="select" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo empty($event['Event']['project_in_wealthings']) ? 0 : 1; ?>"></a>
			</td>
		</tr>
		<tr>
			<th colspan="2" class="text-center uppercase">Répartition</th>
		</tr>
		<?php if($event['Event']['company_id'] == 2): ?>
		<tr>
			<th>Sortie d'entreprise</th>
			<td>
				<a href="javascript:;" class="editable" data-name="repartition_corporate_outing" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['repartition_corporate_outing']; ?>"></a>
			</td>
		</tr>
		<tr>
			<th>Team Building</th>
			<td>
				<a href="javascript:;" class="editable" data-name="repartition_team_building" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['repartition_team_building']; ?>"></a>
			</td>
		</tr>
		<tr>
			<th><?php echo __('Digital games'); ?></th>
			<td>
				<a href="javascript:;" class="editable" data-name="repartition_digital_games" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['repartition_digital_games']; ?>"></a>
			</td>
		</tr>
		<tr>
			<th><?php echo __('Serious game'); ?></th>
			<td>
				<a href="javascript:;" class="editable" data-name="repartition_serious_game" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['repartition_serious_game']; ?>"></a>
			</td>
		</tr>
		<tr>
			<th>Création d'évènements</th>
			<td>
				<a href="javascript:;" class="editable" data-name="repartition_events_creation" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['repartition_events_creation']; ?>"></a>
			</td>
		</tr>
		<tr>
			<th>Effet Gourmand</th>
			<td>
				<a href="javascript:;" class="editable" data-name="repartition_effet_gourmand" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['repartition_effet_gourmand']; ?>"></a>
			</td>
		</tr>
		<tr>
			<th>Maier Grill</th>
			<td>
				<a href="javascript:;" class="editable" data-name="repartition_maiergrill" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['repartition_maiergrill']; ?>"></a>
			</td>
		</tr>
		<?php endif; ?>
		<?php if($event['Event']['company_id'] == 4): ?>
		<tr>
			<th>Effet Gourmand direct</th>
			<td>
				<a href="javascript:;" class="editable" data-name="repartition_eg_direct" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['repartition_eg_direct']; ?>"></a>
			</td>
		</tr>
		<tr>
			<th>Effet Gourmand UBIC</th>
			<td>
				<a href="javascript:;" class="editable" data-name="repartition_eg_ubic" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['repartition_eg_ubic']; ?>"></a>
			</td>
		</tr>
		<?php endif; ?>
		<?php if($event['Event']['company_id'] == 5): ?>
		<tr>
			<th>Maier Grill direct</th>
			<td>
				<a href="javascript:;" class="editable" data-name="repartition_mg_direct" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['repartition_mg_direct']; ?>"></a>
			</td>
		</tr>
		<tr>
			<th>Maier Grill UBIC</th>
			<td>
				<a href="javascript:;" class="editable" data-name="repartition_mg_ubic" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['repartition_mg_ubic']; ?>"></a>
			</td>
		</tr>
		<?php endif; ?>
		<tr>
			<th>Autres</th>
			<td>
				<a href="javascript:;" class="editable" data-name="repartition_misc" data-pk="<?php echo $event['Event']['id']; ?>" data-value="<?php echo $event['Event']['repartition_misc']; ?>"></a>
			</td>
		</tr>
	</tbody>
</table>
<?php echo $this->element('Portlets/add_note', array('model' => 'event', 'id' => $event['Event']['id'], 'category' => 'accounting', 'notes' => $portletNotes)); ?>
